@namespace ActualChat.UI.Blazor.App.Components
@using ActualChat.Search
@using SearchUI = ActualChat.UI.Blazor.App.Services.SearchUI
@using ActualChat.Contacts
@inherits ComputedRenderStateComponent<FoundMessageListItem.Model>
@{
    var m = State.Value;
    if (m == Model.None)
        return;

    if (ReferenceEquals(FoundItem, null))
        return;

    var chatState = m.ChatState;
    var chat = chatState.Chat;
    if (ReferenceEquals(chat, null) || ReferenceEquals(m.Entry, null))
        return;
}

@if (m == Model.Loading) {
    <ChatListItemSkeleton />
} else {
    <div class="found-result message">
        <div class="c-content" data-href="@m.Link">
            <div class="c-container">
                <ChatIcon Chat="@chatState.Chat"/>
                <div class="c-description">
                    <div class="c-first-line">
                        <span class="c-title">
                            @chat.Title
                        </span>
                    </div>
                    <div class="c-second-line bio">
                        @m.Author?.Avatar.Bio
                    </div>
                    @if (m.Entry != null) {
                        <div class="c-third-line">
                            <div class="c-last-message">
                                <AuthorName
                                    AuthorSid="@m.Entry.AuthorId"
                                    ShowDetailsOnClick="false"
                                    ShowAsYou="true"/>
                                <span class="c-colon">:</span>
                                @if (m.Entry.IsStreaming) {
                                    <chat-activity-svg size="4" isActive="true"/>
                                } else {
                                    <span class="c-text">
                                        <SearchMatchHighlighter Match="@m.MessageMatch"/>
                                    </span>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private ChatUI ChatUI => Hub.ChatUI;
    private IAuthors Authors => Hub.Authors;
    private AccountUI AccountUI => Hub.AccountUI;
    private Session Session => Hub.Session();

    [Parameter] public FoundItem? FoundItem { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = Model.Loading,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken)
    {
        // We intentionally use .ConfigureAwait(false) here: this is one of the most frequently called methods.
        // Properties are copied to local vars because of this.
        Author? entryAuthor = null;
        var foundItem = FoundItem;
        if (foundItem == null)
            return Model.None;

        var chatId = foundItem.ChatId;
        var messageMatch = foundItem.MessageSearchMatch;
        var entryId = foundItem.EntryId;

        var chatState = await ChatUI.GetState(chatId, false, cancellationToken).ConfigureAwait(false);
        if (chatState == null)
            return Model.None;

        var entry = entryId.IsNone ? chatState.Info.LastTextEntry : await ChatUI.GetEntry(entryId, cancellationToken);
        if (entry != null) {
            var authorId = entry.AuthorId;
            entryAuthor = await Authors.Get(Session, chatId, authorId, cancellationToken).ConfigureAwait(false);
        }

        return new() {
            ChatState = chatState,
            MessageMatch = messageMatch.IsEmpty ? SearchMatch.New(chatState.Info.LastTextEntryText) : messageMatch,
            Entry = entry,
            Author = entryAuthor,
            Link = Links.Chat(chatId),
        };
    }

    // Nested types

    public sealed record Model {
        public static readonly Model Loading = new() { ChatState = ChatState.Loading };
        public static readonly Model None = new() { ChatState = ChatState.None };

        public ChatState ChatState { get; init; } = ChatState.None;
        public SearchMatch MessageMatch { get; init; } = SearchMatch.Empty;
        public ChatEntry? Entry { get; init; }
        public Author? Author { get; init; }
        public Place? Place {get; init;}
        public LocalUrl Link { get; init; }
    }
}
