@namespace ActualChat.UI.Blazor.App.Components
@using ActualChat.Search
@using SearchUI = ActualChat.UI.Blazor.App.Services.SearchUI
@inherits ComputedRenderStateComponent<FoundChatListItem.Model>
@{
    var m = State.Value;
    if (m == Model.None)
        return;

    if (ReferenceEquals(FoundItem, null))
        return;

    var chatState = m.ChatState;
    if (ReferenceEquals(m.Place, null) || m.Place.Id.IsNone)
        return;

    var chat = chatState.Chat;
    if (ReferenceEquals(chat, null))
        return;
}

@if (m == Model.Loading) {
    <ChatListItemSkeleton />
} else {
    <div class="found-result chat">
        <div class="c-content" data-href="@m.Link">
            <div class="c-container">
                <ChatIcon Chat="chatState.Chat"/>
                <div class="c-description">
                    <div class="c-first-line">
                        <span class="c-title">
                            <SearchMatchHighlighter Match="@m.TitleMatch"/>
                        </span>
                        <span class="c-members">@m.MemberCount @("member".Pluralize(m.MemberCount))</span>
                    </div>
                    @if (!ReferenceEquals(m.Place, null)) {
                        <div class="c-second-line">
                            In <span class="c-place-title">@m.Place.Title</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(chat.Description)) {
                        <div class="c-third-line">
                            @chat.Description
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private ChatUI ChatUI => Hub.ChatUI;
    private IAuthors Authors => Hub.Authors;
    private IPlaces Places => Hub.Places;
    private Session Session => Hub.Session();

    [Parameter] public FoundItem? FoundItem { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = Model.Loading,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken)
    {
        // We intentionally use .ConfigureAwait(false) here: this is one of the most frequently called methods.
        // Properties are copied to local vars because of this.
        Place? place = null;
        var foundItem = FoundItem;
        if (foundItem == null)
            return Model.None;

        var chatId = foundItem.ChatId;
        var titleMatch = foundItem.ContactSearchMatch;

        var chatState = await ChatUI.GetState(chatId, false, cancellationToken).ConfigureAwait(false);
        if (chatState == null)
            return Model.None;

        var allAuthorIds = await Authors.ListAuthorIds(Session, chatId, cancellationToken);
        var placeId = chatId.PlaceChatId.PlaceId;
        if (!placeId.IsNone)
            place = await Places.Get(Session, placeId, cancellationToken).ConfigureAwait(false);

        return new() {
            ChatState = chatState,
            TitleMatch = titleMatch.IsEmpty ? SearchMatch.New(chatState.Chat.Title) : titleMatch,
            Place = place,
            MemberCount = allAuthorIds.Count,
            Link = Links.Chat(chatId),
        };
    }

    // Nested types

    public sealed record Model {
        public static readonly Model Loading = new() { ChatState = ChatState.Loading };
        public static readonly Model None = new() { ChatState = ChatState.None };

        public ChatState ChatState { get; init; } = ChatState.None;
        public SearchMatch TitleMatch { get; init; } = SearchMatch.Empty;
        public Place? Place { get; init; }
        public int MemberCount { get; init; }
        public LocalUrl Link { get; init; }
    }
}
