@using ActualChat.Contacts
@using ActualChat.Media;
@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<ContactSelectorPlacePicker.Model>
@{
    var m = State.Value;
    @if (!m.EnablePlacesUI)
        return;
    var places = m.Places;
    if (places.Count == 0)
        return;
    var order = 0;
}

<div class="contact-selector-place-picker">
    <TabPanel BottomHill="@true" SelectedTabIdChanged="@OnSelectedTabIdChanged">
        <ChildContent>
            <Tab Id="@(string.Empty)" Order="@(order++)">
                <TitleContent>
                    <i class="icon-message-ellipse text-2xl font-medium"></i>
                </TitleContent>
            </Tab>

            @foreach (var place in places) {
                <Tab Id="@(place.Id.Value)" Order="@(order++)">
                    <TitleContent>
                        <Pic
                            Title="@place.Title"
                            Picture="@place.Picture.ToPicture()"
                            Size="@SquareSize.Size10"
                            IsSquare="true"
                            AvatarKind="@AvatarKind.Marble"
                            AvatarKey="@place.Id.Value"/>
                    </TitleContent>
                </Tab>
            }
        </ChildContent>
    </TabPanel>
</div>

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private Session Session => Hub.Session();
    private Features Features => Hub.Features();
    private IContacts Contacts => Hub.Contacts;
    private ChatUI ChatUI => Hub.ChatUI;

    [CascadingParameter] public ContactSelector Selector { get; set; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = new Model(false),
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var enablePlacesUI = await Features.Get<Features_EnablePlacesUI, bool>(cancellationToken).ConfigureAwait(false);
        var navbarSettings = await ChatUI.NavbarSettings.Use(cancellationToken).ConfigureAwait(false);
        var placeIds = await Contacts.ListPlaceIds(Session, cancellationToken).ConfigureAwait(false);
        var places = (await placeIds
                .OrderBy(x => navbarSettings.PlacesOrder.IndexOf(x))
                .Select(id => Hub.Places.Get(Session, id, cancellationToken))
                .Collect()
                .ConfigureAwait(false))
            .SkipNullItems()
            .ToList();

        return new(enablePlacesUI) {
            Places = places
        };
    }

    private void OnSelectedTabIdChanged(string? tabId) {
        if (tabId.IsNullOrEmpty())
            SelectPlace(PlaceId.None);
        else if (PlaceId.TryParse(tabId, out var placeId))
            SelectPlace(placeId);
    }

    private void SelectPlace(PlaceId placeId)
        => Selector.SelectPlace(placeId);

    // Nested types

    public record Model(bool EnablePlacesUI) {
        public List<Place> Places { get; init; } = [];
    }
}
