@using System.Text
@using ActualChat.UI.Blazor.Services.Internal
@inherits ComputedStateComponent<ImmutableHashSet<ChatEntryId>>
@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var selection = State.Value;
    if (selection.Count == 0) {
        _ = StopHandleEscape();
        return;
    }

    StartHandleEscape();
}

<SelectionHost Selected="@selection.First()" />

@if (ScreenSize.IsNarrow()) {
    <div class="selection-header">
        <div>
            <ButtonRound
                Class="transparent btn-sm"
                Click="OnCancel">
                <i class="icon-close-fill text-2xl"></i>
            </ButtonRound>
        </div>
        <div class="selection-header-title">
            @(selection.Count) @("message".Pluralize(selection.Count))
        </div>
        <div class="selection-header-buttons">
            <HeaderButton Click="@(() => SelectionUI.Delete())">
                <i class="icon-trash03 text-record"></i>
            </HeaderButton>
            <HeaderButton Click="@(() => SelectionUI.CopyToClipboard())">
                <i class="icon-copy !text-lg"></i>
            </HeaderButton>
            <Button
                Class="btn-submit btn-transparent"
                Click="@(() => SelectionUI.Forward())">
                Forward
            </Button>
        </div>
    </div>
    return;
}

<div class="selection-header">
    <div>
        <HeaderButton
            Class="c-close-btn"
            Click="OnCancel">
            <i class="icon-close-fill text-2xl"></i>
        </HeaderButton>
    </div>

    <div class="selection-header-title">
        @(selection.Count) @("message".Pluralize(selection.Count))
    </div>

    <div class="selection-header-buttons">
        <HeaderButton
            Click="@(() => SelectionUI.Delete())"
            Tooltip="Delete selected"
            TooltipPosition="FloatingPosition.Bottom">
            <i class="icon-trash03 text-record"></i>
        </HeaderButton>
        <HeaderButton
            Click="@(() => SelectionUI.CopyToClipboard())"
            Tooltip="Copy selected as text"
            TooltipPosition="FloatingPosition.Bottom">
            <i class="icon-copy !text-lg"></i>
        </HeaderButton>
        <Button
            Class="btn-primary btn-sm"
            Click="@(() => SelectionUI.Forward())">
            Forward
        </Button>
    </div>
</div>

@code {
    private Task<IAsyncDisposable>? _escapistSubscriptionTask;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private ToastUI ToastUI { get; init; } = null!;
    [Inject] private SelectionUI SelectionUI { get; init; } = null!;
    [Inject] private ChatEditorUI ChatEditorUI { get; init; } = null!;
    [Inject] private ClipboardUI ClipboardUI { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private Escapist Escapist { get; init; } = null!;
    [Inject] private History History { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        await StopHandleEscape();
    }

    protected override ComputedState<ImmutableHashSet<ChatEntryId>>.Options GetStateOptions()
        => new() {
            InitialValue = ImmutableHashSet<ChatEntryId>.Empty,
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override Task<ImmutableHashSet<ChatEntryId>> ComputeState(CancellationToken cancellationToken)
        => SelectionUI.Selection.Use(cancellationToken).AsTask();

    private void OnCancel()
        => SelectionUI.Clear();

    private void StartHandleEscape()
        => _escapistSubscriptionTask ??= Escapist.SubscribeOnce(OnEscape, State.DisposeToken).AsTask();

    private async ValueTask StopHandleEscape() {
        var escapistSubscriptionTask = _escapistSubscriptionTask;
        if (escapistSubscriptionTask == null)
            return;

        _escapistSubscriptionTask = null;
        var escapistSubscription = (await escapistSubscriptionTask.ResultAwait()).ValueOrDefault;
        await escapistSubscription.DisposeSilentlyAsync();
    }

    private void OnEscape()
        => SelectionUI.Clear();
}
