@namespace ActualChat.Chat.UI.Blazor.Components

<div class="image-line @Class @Row.HeightCls">
    @foreach (var tile in Row.Tiles) {
        <div class="image-item" style="max-width: @Row.GetTileDesiredWidthRem(tile, ScreenSize)rem; width: @Row.GetTileWidthPercent(tile)%">
            <VisualMediaAttachment Attachment="@tile.Attachment" ChatEntry="@ChatEntry" />
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public ImageRow Row { get; set; } = null!;
    [Parameter] public ChatEntry? ChatEntry { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [CascadingParameter] private ScreenSize ScreenSize { get; set; }
}
