@namespace ActualChat.UI.Blazor.Components
@{
    string GetButtonClass(bool isActive)
        => isActive ? "is-active" : "";
}

<div class="blazor-mode-toggle">
    <ButtonSquare
        Class="@GetButtonClass(IsServerSideBlazor)"
        IsDisabled="@IsServerSideBlazor"
        Click="@(_ => BlazorModeHelper.ChangeMode(true))">Server</ButtonSquare>
    <ButtonSquare
        Class="@GetButtonClass(!IsServerSideBlazor)"
        IsDisabled="@(!IsServerSideBlazor)"
        Click="@(_ => BlazorModeHelper.ChangeMode(false))" >WASM</ButtonSquare>
</div>

@code {
    private bool IsServerSideBlazor { get; set; } = BlazorModeHelper.IsBlazorServer;

    [Inject] private UIHub Hub { get; init; } = null!;
    private BlazorModeHelper BlazorModeHelper => Hub.GetRequiredService<BlazorModeHelper>();
}
