@namespace ActualChat.UI.Blazor.Components

<CascadingValue Value="@this" IsFixed="true" >
    <div class="@Class tab-panel">
        <div class="@TabsClass tab-panel-tabs" role="tablist">
            <div class="relative btn-group min-w-full">
            @foreach (var tab in Tabs) {
                var isActive = tab == ActiveTab;
                var cls = $"tab-btn {tab.ButtonClass} {(isActive ? "on" : "")} {(BottomBorder ? "bottom-border-btn" : "")}";
                <div class="flex-y btn-group-container">
                    <Button Class="@cls" Click="_ => ActiveTab = tab" data-tab-id="@tab.Id" role="tab" aria-selected="@isActive">
                        @tab.Title
                    </Button>
                    @if (BottomHill) {
                        var lineCls = isActive ? "bg-primary" : "bg-transparent";
                        <div class="@lineCls shape"></div>
                    }
                </div>
            }
            </div>
        </div>
        @ChildContent
    </div>
</CascadingValue>

@code {
    private readonly List<Tab> _tabs = new();
    private Tab? _activeTab;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string TabsClass { get; set; } = "";
    [Parameter] public bool BottomHill { get; set; }
    [Parameter] public bool BottomBorder { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<Tab> ActiveTabChanged { get; set; }

    public IReadOnlyList<Tab> Tabs => _tabs;
    public Tab? ActiveTab {
        get => _activeTab;
        private set {
            if (_activeTab == value)
                return;
            _activeTab = value;
            ActiveTabChanged.InvokeAsync(value);
        }
    }

    internal void RegisterTab(Tab tab) {
        _tabs.Add(tab);
        ActiveTab ??= tab;
        StateHasChanged();
    }
}
