@namespace ActualChat.UI.Blazor.Components
@typeparam TItem where TItem : IVirtualListItem
@inherits FusionComponentBase
@{
    // Console.Out.WriteLine("VirtualListTileView.Render() = " + Tile.KeyRange);
    _renderedDataTile = Tile;
}

@foreach (var item in Tile.Items) {
    @if (item.CountAs != 1) {
        <li id="@item.Key.Value"
            @key="@item.Key"
            class="item"
            data-count-as="@item.CountAs.Format()">
            @Item(item)
        </li>
    } else {
        <li id="@item.Key.Value"
            @key="@item.Key"
            class="item">
            @Item(item)
        </li>
    }
}

@code {
    private VirtualListTile<TItem>? _renderedDataTile;

    [Parameter, EditorRequired] public VirtualListTile<TItem> Tile { get; set; } = null!;
    [Parameter] public RenderFragment<TItem> Item { get; set; } = null!;

    protected override bool ShouldRender()
        => !ReferenceEquals(_renderedDataTile, Tile);
}
