@namespace ActualChat.UI.Blazor.Components
@typeparam TItem
@using ActualChat.UI.Blazor.Components.Internal
@inherits ComputedStateComponent<VirtualListData<TItem>>
@{
    const string flexBase = "flex flex-nowrap items-stretch content-start justify-start";
    const string flexClass = $"{flexBase} flex-col";
    const string invFlexClass = $"{flexBase} flex-col-reverse";

    var renderIndex = RenderIndex++;
    var spacerSize = Data.HasVeryFirstItem
        ? 0
        : renderIndex == 0 && Data.Items.Count == 0
            ? 1000 // initial spacer size to cover all list area on first load
            : SpacerSize;
    var endSpacerSize = Data.HasVeryLastItem
        ? 0
        : renderIndex == 0
            ? 0
            : SpacerSize;
    var startExpansion = Data.Items
        .TakeWhile(i => KeyComparer.Compare(i.Key, Query.KeyRange.Start) < 0)
        .Sum(i => i.CountAs);
    var endExpansion = Data.Items
        .SkipWhile(i => KeyComparer.Compare(i.Key, Query.KeyRange.End) <= 0)
        .Sum(i => i.CountAs);
    var renderState = new VirtualListRenderState {
        RenderIndex = renderIndex,
        Query = Query,
        SpacerSize = spacerSize,
        EndSpacerSize = endSpacerSize,
        StartExpansion = startExpansion,
        EndExpansion = endExpansion,
        HasVeryFirstItem = Data.HasVeryFirstItem,
        HasVeryLastItem = Data.HasVeryLastItem,
        ScrollToKey = Data.ScrollToKey,
    };
    var items = Data.Items;
    LastData = Data;
}

<div @ref="Ref"
     class="@invFlexClass @Class virtual-list"
     style="@Style">

    <div @key="VirtualListSpecialKeys.RenderIndex"
         data-render-index="@renderIndex"
         class="@flexClass flex-none data render-index hidden">
    </div>

    <div @key="VirtualListSpecialKeys.RenderState"
         class="@flexClass flex-none data render-state hidden">
        @SystemJsonSerializer.Default.Write(renderState)
    </div>

    <div @key="VirtualListSpecialKeys.EndAnchor"
         class="@flexClass min-h-22 md:min-h-1 end-anchor">
        &nbsp;
    </div>

    <div @key="VirtualListSpecialKeys.EndSpacer"
         class="@flexClass flex-none spacer spacer-end overflow-y-hidden"
         style="height: @(endSpacerSize)px">
        <VirtualListSkeleton SkeletonCount="@SkeletonCount" Skeleton="@Skeleton"/>
    </div>

    <ul @key="VirtualListSpecialKeys.Container"
        class="@flexClass virtual-container">
        @foreach (var item in items) {
            @if (item.CountAs != 1) {
                <li id="@item.Key"
                    @key="@item.Key"
                    class="item"
                    data-count-as="@item.CountAs">
                    @Item(item)
                </li>
            } else {
                <li id="@item.Key"
                    @key="@item.Key"
                    class="item">
                    @Item(item)
                </li>
            }
        }
        @if (items.Count == 0 && Data != VirtualListData<TItem>.None) {
            @Empty
        }
    </ul>

    <div @key="VirtualListSpecialKeys.Spacer"
         class="@invFlexClass flex-none spacer spacer-start overflow-y-hidden"
         style="height: @(spacerSize)px">
        <VirtualListSkeleton SkeletonCount="@SkeletonCount" Skeleton="@Skeleton"/>
    </div>
</div>
