@using ActualChat.UI.Blazor.Components.Internal
@namespace ActualChat.UI.Blazor.Components
@typeparam TItem
@inherits ComputedStateComponent<VirtualListResponse<TItem>>
@implements IVirtualListBackend

@* We want to drop irrelevant js state changes, thus we send the render index to js side *@
<div @ref="Ref" class="@Class virtual-list" style="@Style" data-render-index="@Context.RenderIndex">
    <div class="content relative">
        <div class="items items-unmeasured">
            @foreach (var e in Context.UnmeasuredItems)
            {
                <div @key="e.Key" class="item" data-key="@e.Key">
                    @Item(KeyValuePair.Create(e.Key, e.Item))
                </div>
            }
        </div>
        <div class="spacer spacer-start opacity-0" style="height: @(Context.SpacerSize)px"></div>
        <div class="items items-displayed">
            @foreach (var e in Context.DisplayedItems)
            {
                <div @key="e.Key" class="item" data-key="@e.Key" data-size="@e.Size">
                    @Item(KeyValuePair.Create(e.Key, e.Item))
                </div>
            }
        </div>
        @if (!Context.Response.HasVeryLastItem)
        {
            <div class="spacer spacer-end opacity-0"></div>
        }
    </div>
</div>
