@namespace ActualChat.UI.Blazor.Components
@typeparam TItem
@using ActualChat.UI.Blazor.Components.Internal
@inherits ComputedStateComponent<VirtualListData<TItem>>
@{
    const string flexBase = "flex flex-nowrap items-stretch content-start justify-start";
    const string flexClass = $"{flexBase} flex-col";
    const string invFlexClass = $"{flexBase} flex-col-reverse";

    var renderIndex = RenderIndex++;
    var spacerSize = Data.HasVeryFirstItem ? 0 : SpacerSize;
    var endSpacerSize = Data.HasVeryLastItem ? 0 : SpacerSize;
    var startExpansion = Data.Items
        .TakeWhile(i => KeyComparer.Compare(i.Key, Query.InclusiveRange.Start) < 0)
        .Sum(i => i.CountAs);
    var endExpansion = Data.Items
        .SkipWhile(i => KeyComparer.Compare(i.Key, Query.InclusiveRange.End) <= 0)
        .Sum(i => i.CountAs);
    var renderState = new VirtualListRenderState {
        RenderIndex = renderIndex,
        Query = Query,
        SpacerSize = spacerSize,
        EndSpacerSize = endSpacerSize,
        StartExpansion = startExpansion,
        EndExpansion = endExpansion,
        HasVeryFirstItem = Data.HasVeryFirstItem,
        HasVeryLastItem = Data.HasVeryLastItem,
        ScrollToKey = Data.ScrollToKey,
    };
    var visibleKeys = (VisibleKeysState?.LatestNonErrorValue ?? new List<string>()).ToHashSet();
    var items = Data.Items;
    LastData = Data;
    var itemClassBase = Data.Query.IsNone
        ? "item flex-none"
        : "item flex-none new";
}

<div @ref="Ref"
     class="@invFlexClass @Class virtual-list"
     style="@Style">

    <div @key="VirtualListSpecialKeys.RenderIndex"
         data-render-index="@renderIndex"
         class="@flexClass flex-none data render-index hidden">
    </div>

    <div @key="VirtualListSpecialKeys.RenderState"
         class="@flexClass flex-none data render-state hidden">
        @SystemJsonSerializer.Default.Write(renderState)
    </div>

    <div @key="VirtualListSpecialKeys.EndSpacer"
         class="@flexClass flex-none spacer spacer-end overflow-y-hidden"
         style="height: @(endSpacerSize)px">
        <SkeletonContainer Class="@flexClass">
            @for (var i = 0; i < SkeletonCount; ++i) {
                <div @key="@i" class="skeleton">
                    @Skeleton(i)
                </div>
            }
        </SkeletonContainer>
    </div>

    <ul @key="VirtualListSpecialKeys.Container"
        class="@flexClass virtual-container">
        @foreach (var item in items) {
            var itemClass = visibleKeys.Contains(item.Key)
                ? "item flex-none"
                : itemClassBase;

            @if (item.CountAs != 1) {
                <li @key="item.Key"
                    class="@itemClass"
                    data-key="@item.Key"
                    data-count-as="@item.CountAs">
                    @Item(item)
                </li>
            } else {
                <li @key="item.Key"
                    class="@itemClass"
                    data-key="@item.Key">
                    @Item(item)
                </li>
            }
        }
    </ul>

    <div @key="VirtualListSpecialKeys.Spacer"
         class="@invFlexClass flex-none spacer spacer-start overflow-y-hidden"
         style="height: @(spacerSize)px">
        <SkeletonContainer Class="@flexClass">
            @for (var i = -SkeletonCount; i < 0; i++) {
                <div @key="@i" class="skeleton">
                    @Skeleton(i)
                </div>
            }
        </SkeletonContainer>
    </div>
</div>
