@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Module
@using ActualChat.UI.Blazor.Services
@implements IAsyncDisposable
@implements IHasServices
@{
    RenderFragment RenderMenu(MenuModel menu) =>
        @<div
             id="@menu.Id"
             @key="@menu.Id"
             class="@(GetMenuCssClass(menu))">
            <ul class="ac-menu-list">
                <DynamicComponent Type="@menu.Ref.MenuType" Parameters="@menu.Parameters"/>
            </ul>
        </div>;
    var menu = _menu;
}

<div class="ac-menu-host @(GetHostCssClass())">
    <CascadingValue Value="@this" IsFixed="true">
        @if (IsOverlayVisible()) {
            <div class="ac-menu-overlay">
                @if (menu != null) {
                    @RenderMenu(menu);
                }
            </div>
        } else {
            @if (menu != null) {
                @RenderMenu(menu);
            }
        }
    </CascadingValue>
</div>

@code {
    private MenuModel? _menu;
    private string? _jsMenuId;
    private IJSObjectReference _jsRef = null!;
    private DotNetObjectReference<MenuHost> _blazorRef = null!;

    [Inject] public IServiceProvider Services { get; init; } = null!;
    [Inject] public History History { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] ScreenSize ScreenSize { get; set; }

    public async ValueTask DisposeAsync() {
        await _jsRef.DisposeSilentlyAsync("dispose");
        _jsRef = null!;
        _blazorRef.DisposeSilently();
        _blazorRef = null!;
    }

    protected override void OnInitialized()
        => History.Register(new OwnHistoryState(this, false));

    public ValueTask Show(
        MenuRef menuRef,
        string triggerElementId,
        string? placement = null,
        bool isHoverMenu = false)
        => _jsRef.InvokeVoidAsync("showOrPosition", menuRef, isHoverMenu, triggerElementId, placement);

    public ValueTask Show(
        MenuRef menuRef,
        ElementReference triggerElement,
        string? placement = null,
        bool isHoverMenu = false)
        => _jsRef.InvokeVoidAsync("showOrPosition", menuRef, isHoverMenu, triggerElement, placement);

    public async ValueTask Hide() {
        var menu = _menu;
        if (menu != null) {
            _menu = null;
            StateHasChanged();
            if (!menu.IsHoverMenu)
                History.Save<OwnHistoryState>();
        }

        var jsMenuId = _jsMenuId;
        if (jsMenuId != null) {
            _jsMenuId = null;
            await _jsRef.InvokeVoidAsync("hideById", jsMenuId);
        }
    }

    public ValueTask Position(IMenu menu)
        => Position(menu.Id);
    public ValueTask Position(string menuId) {
        if (_jsMenuId != menuId)
            return default;

        return _jsRef.InvokeVoidAsync("positionById", menuId);
    }

    // JS interface

    [JSInvokable]
    public Task OnShowRequest(string id, string menuRefValue, bool isHoverMenu) {
        if (_menu?.Id == id)
            return Task.CompletedTask;

        _jsMenuId = id;
        var menuRef = MenuRef.Parse(menuRefValue);
        var menu = new MenuModel(
            id,
            menuRef,
            new Dictionary<string, object>() {
                { nameof(IMenu.Id), id },
                { nameof(IMenu.Arguments), menuRef.Arguments },
            },
            isHoverMenu);

        _menu = menu;
        if (!menu.IsHoverMenu)
            History.Save<OwnHistoryState>();
        StateHasChanged();
        return Task.CompletedTask;
    }

    [JSInvokable]
    public Task OnHideRequest(string id) {
        var menu = _menu;
        if (menu?.Id != id)
            return Task.CompletedTask;

        _jsMenuId = null;
        _menu = null;
        if (!menu.IsHoverMenu)
            History.Save<OwnHistoryState>();
        StateHasChanged();
        return Task.CompletedTask;
    }

    // Protected & private methods

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _blazorRef = DotNetObjectReference.Create(this);
            var identifier = $"{BlazorUICoreModule.ImportName}.MenuHost.create";
            _jsRef = await JS.InvokeAsync<IJSObjectReference>(identifier, _blazorRef);
        }
    }

    protected override async Task OnParametersSetAsync() {
        if (ScreenSize.IsNarrow() && _menu?.IsHoverMenu == true)
            await Hide();
    }

    private bool IsOverlayVisible()
        => ScreenSize.IsNarrow() && _menu?.IsHoverMenu == false;

    private string GetHostCssClass()
        => IsOverlayVisible() ? "has-overlay" : "";

    private string GetMenuCssClass(MenuModel menu) {
        var cls = menu.IsHoverMenu
            ? "ac-menu-hover"
            : "ac-menu";
        if (IsOverlayVisible())
            cls += " !block";
        return cls;
    }

    // Nested types

    private sealed record OwnHistoryState(MenuHost Host, bool IsMenuShown) : HistoryState
    {
        public override int BackStepCount => IsMenuShown ? 1 : 0;

        public override string Format()
            => IsMenuShown.ToString();

        public override HistoryState Save()
            => With(Host._menu is { IsHoverMenu: false });

        public override void Apply(HistoryTransition transition) {
            var menu = Host._menu;
            if (!IsMenuShown && menu is { IsHoverMenu: false })
                _ = Host.Hide();
        }

        public override HistoryState? Back()
            => BackStepCount == 0 ? null : With(false);

    // "With" helpers

        public OwnHistoryState With(bool isMenuShown)
            => IsMenuShown == isMenuShown ? this : this with { IsMenuShown = isMenuShown };
    }

    private sealed record MenuModel(
        string Id,
        MenuRef Ref,
        Dictionary<string, object> Parameters,
        bool IsHoverMenu);
}
