<TileTopic Topic="Theme"/>
<Tile Class="theme-tile">
    <ThemeSettings/>
</Tile>

<TileTopic Topic="Font"/>
<Tile>
    <div class="ui-settings">
        <Form Model="@_formModel">
            <DataAnnotationsValidator/>

            <FormBlock>
                <FormSection
                    For="() => _formModel.UserFontSizeFormId"
                    InputId="@_formModel.UserFontSizeFormId"
                    IsLabelInsideInput="true"
                    HideValidationMessage="true"
                    Label="Font size">
                    <InputSelect
                        Value="_formModel.UserFontSizeFormId"
                        ValueExpression="@(() => _fontSize)"
                        ValueChanged="@(async (string fontTitle) => await OnFontSizeChanged(fontTitle))">
                        @if (_fontSizes != null) {
                            foreach (var size in _fontSizes) {
                                if (size == _fontSize) {
                                    <option selected value="@size">@size</option>
                                } else {
                                    <option value="@size">@size</option>
                                }
                            }
                        }
                    </InputSelect>
                </FormSection>
            </FormBlock>
        </Form>
    </div>
</Tile>

@code {
    private FormModel _formModel = null!;
    private string[]? _fontSizes;
    private string? _fontSize;

    [Inject] private UIHub UIHub { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private ILogger<UserInterface> Log { get; init; } = null!;
    private FontSizeUI FontSizeUI => UIHub.FontSizeUI;
    private Session Session => UIHub.Session();
    private AccountUI AccountUI => UIHub.AccountUI;
    private IAvatars Avatars => UIHub.Avatars;
    private IJSRuntime JS => UIHub.JSRuntime();
    private BubbleUI BubbleUI => UIHub.BubbleUI;
    private ToastUI ToastUI => UIHub.ToastUI;

    protected override void OnInitialized() {
        _formModel = new (ComponentIdGenerator);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await FontSizeUI.FontSize.WhenFirstTimeRead;
            _fontSizes = await FontSizeUI.List(CancellationToken.None);
            _fontSize = FontSizeUI.FontSize.Value;
            StateHasChanged();
        }
    }

    private async ValueTask OnFontSizeChanged(string fontSize) {
        FontSizeUI.FontSize.Value = fontSize;
        await FontSizeUI.FontSize.WhenWritten(CancellationToken.None);
        _fontSize = FontSizeUI.FontSize.Value;
        StateHasChanged();
    }

    public sealed class FormModel {
        private string FormId { get; }
        public string UserFontSizeFormId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("font-size-form");
            UserFontSizeFormId = $"{FormId}-user-font-size";
        }
    }
}
