@namespace ActualChat.UI.Blazor.Components

<label class="@Class radio"
       data-input-checked="@IsChecked"
       data-input-disabled="@IsDisabled">
    <span class="x">&nbsp;</span>
    <input type="radio"
           id="@Id" name="@Name" disabled="@IsDisabled" value="@Value" checked="@IsChecked"
           @onchange="@Change">
    @if (LabelContent != null) {
        <div class="c-label">@LabelContent</div>
    } else if (!Label.IsNullOrEmpty()) {
        <div class="c-label"><span class="c-text">@Label</span></div>
    }
</label>

@code {
    [Parameter] public string Id { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public RenderFragment? LabelContent { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsChecked { get; set; }
    [Parameter, EditorRequired] public string Value { get; set; } = "";
    [Parameter] public EventCallback<ChangeEventArgs> Change { get; set; }
}
