@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Events

@{
    var entry = ChatEntry;
    var showPlayButton = ScreenSize.IsNarrow() && entry.AudioEntryId != null;
    var canEditOrDelete = this is { CanWrite: true, IsOwnEntry: true }
                          && ChatEntry is { Kind: ChatEntryKind.Text, IsStreaming: false };
    var messageLink = Links.Chat(entry.Id).ToAbsolute(UrlMapper);
}

<div class="message-menu">
    <ReactionSelect Entry="@entry"/>
    @if (showPlayButton) {
        <MessageMenuPlay Entry="@entry" IsMenu="true"/>
    }
    @if (canEditOrDelete) {
        <MenuEntry
            Icon="icon-edit"
            Class="important-item"
            FocusOnEditor="true"
            Text="Edit"
            Click="@(() => Edit(entry))">
        </MenuEntry>
    }
    @if (CanWrite && !IsSystem) {
        <MenuEntry
            Icon="icon-reply"
            FocusOnEditor="true"
            Text="Reply"
            Click="@(() => Reply(entry))">
        </MenuEntry>
    }
    @if (entry.Kind == ChatEntryKind.Text && !entry.Content.IsNullOrEmpty()) {
        <CopyTrigger Tooltip="" CopyText="@entry.Content" Class="ac-menu-item !p-0">
            <MenuEntry
                Icon="icon-copy"
                Text="Copy text">
            </MenuEntry>
        </CopyTrigger>
    }
    @if (!ClickedLinkUrl.IsNullOrEmpty()) {
        <CopyTrigger Tooltip="" CopyText="@ClickedLinkUrl" Class="ac-menu-item !p-0">
            <MenuEntry
                Icon="icon-copy"
                Text="Copy link">
            </MenuEntry>
        </CopyTrigger>
    }
    @if (!ClickedCode.IsNullOrEmpty()) {
        <CopyTrigger Tooltip="" CopyText="@ClickedCode.Trim()" Class="ac-menu-item !p-0">
            <MenuEntry
                Icon="icon-copy"
                Text="Copy code">
            </MenuEntry>
        </CopyTrigger>
    }
    @if (!IsSystem) {
        <CopyTrigger Tooltip="" CopyText="@messageLink" Class="ac-menu-item !p-0">
            <MenuEntry
                Icon="icon-link-2"
                Text="Copy message link">
            </MenuEntry>
        </CopyTrigger>
    }
    @if (!IsSystem) {
        <MenuEntry
            Icon="icon-share"
            Text="Forward"
            Click="@(() => Forward(entry))">
        </MenuEntry>
    }
    @if (canEditOrDelete) {
        <MenuEntrySeparator />
        <MenuEntry
            Class="warning-item"
            Icon="icon-trash03"
            Text="Delete message"
            Click="@(() => ChatUI.ShowDeleteMessageModal(new ChatMessageModel(entry)))">
        </MenuEntry>
    }
</div>

@code{
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private ChatEditorUI ChatEditorUI { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [Parameter, EditorRequired] public ChatEntry ChatEntry { get; set; } = null!;
    [Parameter, EditorRequired] public string? ClickedLinkUrl { get; set; }
    [Parameter, EditorRequired] public string? ClickedCode { get; set; }
    [Parameter, EditorRequired] public bool IsSystem { get; set; }
    [Parameter, EditorRequired] public bool IsOwnEntry { get; set; }
    [Parameter, EditorRequired] public bool CanWrite { get; set; }

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    private Task Reply(ChatEntry chatEntry)
        => ChatEditorUI.ShowRelatedEntry(RelatedEntryKind.Reply, chatEntry.Id, focusOnEditor: true);

    private Task Edit(ChatEntry chatEntry)
        => ChatEditorUI.Edit(chatEntry);

    private async Task Forward(ChatEntry chatEntry) {
        IReadOnlyCollection<ChatId> selectedChats = Array.Empty<ChatId>();
        var modal = await ModalUI.Show(new ForwardMessageModal.Model(
            new []{ chatEntry.ChatId },
            chats => {
                selectedChats = chats;
            }));
        await modal.WhenClosed.ConfigureAwait(false);

        if (!selectedChats.Any())
            return;

        var cmd = new Chats_ForwardTextEntries(
            Session,
            chatEntry.ChatId,
            new ApiArray<ChatEntryId>(chatEntry.Id),
            new ApiArray<ChatId>(selectedChats));
        await UICommander.Run(cmd, CancellationToken.None);

        if (selectedChats.Count == 1)
            ChatUI.SelectChat(selectedChats.First());
    }
}
