@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Events
@inherits ComputedStateComponent<MessageHoverMenuContent.Model>
@{
    var entry = Message.Entry;
    var m = State.Value;
    var quickReactionTooltip = $"React with '{Emoji.ThumbsUp.Name}'";
}
<div class="flex-x gap-x-1">
    <ButtonRound Click="OnReactionClick" Tooltip="@quickReactionTooltip">
        <EmojiIcon Id="@Emoji.ThumbsUp.Id" Class="w-5 h-5"/>
    </ButtonRound>
    @if (m.CanReply && !IsSystem) {
        <ButtonRound
            Click="@(() => Reply(Message.Entry))"
            Tooltip="Reply"
            TooltipPosition="FloatingPosition.Top">
            <i class="icon-reply text-xl text-icon-01"></i>
        </ButtonRound>
    }
    @if (entry.AudioEntryId != null) {
        <MessageMenuPlay Entry="@entry"/>
    }
    <ButtonRound
        data-menu="@(MenuRef.New<MessageMenu>(Message.Entry.Id, IsSystem.ToString(), "", "").ToString())"
        data-menu-trigger="@MenuTrigger.Primary"
        data-menu-placement="@(FloatingPosition.LeftStart.ToPositionString())">
        <i class="icon-more-vertical text-xl text-icon-01"></i>
    </ButtonRound>
</div>

@code {
    [Inject] private ChatHub ChatHub { get; init; } = null!;
    private Session Session => ChatHub.Session;
    private IChats Chats => ChatHub.Chats;
    private ChatEditorUI ChatEditorUI => ChatHub.ChatEditorUI;
    private UICommander UICommander => ChatHub.UICommander;
    private UIEventHub UIEventHub => ChatHub.UIEventHub;

    [Parameter, EditorRequired] public ChatMessage Message { get; set; } = null!;
    [Parameter] public bool IsSystem { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new () {
            InitialValue = Model.None,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var entry = Message.Entry;
        var rules = await Chats.GetRules(Session, entry.ChatId, cancellationToken).ConfigureAwait(false);
        // Default scheduler is used from here
        var canReply = rules.CanWrite();
        return new Model(canReply);
    }

    private Task Reply(ChatEntry chatEntry)
        => ChatEditorUI.ShowRelatedEntry(RelatedEntryKind.Reply, chatEntry.Id, focusOnEditor: true);

    private Task OnReactionClick() {
        return UICommander.Run(new Reactions_React(Session, new Reaction {
            EntryId = Message.Entry.Id.ToTextEntryId(),
            EmojiId = Emoji.ThumbsUp,
        }));
    }

    // Nested types

    public sealed record Model(bool CanReply) {
        public static readonly Model None = new(false);
    }
}
