@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Services
@using System.ComponentModel.DataAnnotations
@using ActualChat.Users
@using TaskExt = Stl.Async.TaskExt
@inherits Step;
@if (CurrentStep != this) {
    return;
}

@if (_authSchemas is null) {
    return;
}

<div class="sign-in-step provider-select-step">
    <div class="c-auth-providers">
        @foreach (var schema in _authSchemas!) {
            <Button
                Class="btn-modal sign-in sign-in-with"
                Click="@(_ => OnSignInWith(schema.Name))">
                @if (schema.Icon != null) {
                    <img draggable="false" src="@schema.Icon" alt="@schema.DisplayName">
                }
                @("Sign in with " + schema.DisplayName)
            </Button>
        }
    </div>

    @if (_isPhoneAuthEnabled) {
        <div class="c-separator">or</div>

        <div class="c-header">
            <div class="c-title">Sign-in with your phone number</div>
            <p class="c-description">
                Enter your phone number and click "Continue" to receive a text message
                with one-time verification code.
            </p>
        </div>

        <Form
            @ref="_formRef"
            Class="c-phone-form"
            Model="@_stepModel"
            OnValidSubmit="OnSignInWithPhone">
            <DataAnnotationsValidator/>
            <div class="flex-x gap-x-4 items-center">
                <FormSection
                    For="() => _stepModel.Code"
                    InputId="@_stepModel.CodeFieldId"
                    Label="Code"
                    Class="w-20"
                    IsLabelInsideInput="true"
                    IsRequired="true">
                    @* TODO: seems like we need custom country code control *@
                    <InputText
                        id="@_stepModel.CodeFieldId"
                        @bind-Value="_stepModel.Code"
                        list="phoneCodes"
                        pattern="@PhoneValidation.CountryCodePattern"
                        onfocus="this.select()"/>
                    <datalist id="phoneCodes">
                        @foreach (var phoneCode in PhoneCodes.List) {
                            <option value="@phoneCode.DisplayCode">@phoneCode.Country (@phoneCode.DisplayCode)</option>
                        }
                    </datalist>
                </FormSection>
                <FormSection
                    For="() => _stepModel.Number"
                    InputId="@_stepModel.NumberFieldId"
                    Label="Phone number"
                    Class="grow"
                    IsLabelInsideInput="true"
                    IsRequired="true">
                    <InputText
                        id="@_stepModel.NumberFieldId"
                        @bind-Value="_stepModel.Number"
                        autocomplete="tel-national"
                        type="tel"
                        pattern="@PhoneValidation.NumberPattern"
                        inputmode="tel"/>
                </FormSection>
            </div>
             <FormButtons IsEndAligned="false">
                <Button Type="@ButtonType.Submit" Class="btn-primary btn-modal sign-in">Continue</Button>
            </FormButtons>
        </Form>
    }
</div>

@code {
    private Form _formRef = null!;
    private StepModel _stepModel = null!;
    private List<AuthSchemaModel>? _authSchemas;
    private bool _isPhoneAuthEnabled;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter, EditorRequired] public PhoneSignInModel PhoneSignInModel { get; set; } = null!;

    public override bool IsCompleted { get; } = false;

    protected override async Task OnInitializedAsync() {
        _isPhoneAuthEnabled = await Features.Get<Features_EnablePhoneAuth, bool>(CancellationToken.None);
        _stepModel = new StepModel(ComponentIdGenerator).CopyToBase();
        var schemas = await ClientAuth.GetSchemas();
        _authSchemas = schemas
            .Select(schema => new AuthSchemaModel {
                Name = schema.Name,
                DisplayName = schema.DisplayName,
                Icon = schema.Name switch
                {
                    IClientAuth.GoogleSchemeName => "/dist/images/landing/google-icon-color.svg",
                    IClientAuth.AppleIdSchemeName => "/dist/images/landing/apple-icon-black.svg",
                    _ => null,
                    },
            })
            .ToList();
    }

    protected override Task<bool> Validate() {
        var isValid = _formRef.EditContext?.Validate() ?? false;
        return Task.FromResult(isValid);
    }

    protected override Task<bool> Save() {
        var phone = new Phone(_stepModel.Code, _stepModel.Number);
        PhoneSignInModel.Phone = phone;
        return TaskExt.TrueTask;
    }

    protected override void MarkCompleted()
    { }

    private void OnSignInWith(string schema) {
        Modal.Close();
        ClientAuth.SignIn(schema);
    }

    private Task OnSignInWithPhone()
        => Stepper.TryMoveForward().AsTask();

    // Nested types

    private class AuthSchemaModel {
        public string Name { get; init; } = null!;
        public string DisplayName { get; init; } = null!;
        public string? Icon { get; init; }
    }

    public sealed class StepModel : FormModel<StepModel> {

        [Required, CountryCode]
        public string Code { get; set; } = PhoneCodes.Default.DisplayCode;
        public string CodeFieldId { get; set; } = "";
        [Required, PhoneNumber]
        public string Number { get; set; } = "";
        public string NumberFieldId { get; set; } = "";

        public StepModel(ComponentIdGenerator? componentIdGenerator = null)
            : base("phone-signin", componentIdGenerator) {
        }

    }
}
