@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Search
@implements IModalView<ShareModalModel>
@{
    var shareDialogButtonsClass = _selectedChats.Count == 0 ? "" : "hidden";
    var shareButtonClass = _selectedChats.Count == 0 ? "hidden" : "";
    shareButtonClass += " btn-modal btn-primary share-button";
    var canSend = _selectedChats.Count > 0;
}

<DialogFrame
    Class="share-modal"
    HasCloseButton="true"
    Title="@(ModalModel.Title.NullIfEmpty() ?? "Share")"
    NarrowViewSettings="@DialogFrameNarrowViewSettings.Stretch">
    <Body>
    <FormBlock>
        <SearchBoxNew
            Placeholder="Who would you like to share with"
            MaxLength="@Constants.Chat.MaxSearchFilterLength"
            TextChanged="@OnFilter"/>
        <ContactSelect
            SearchPhrase="_searchPhrase"
            SelectionChanged="OnSelectionChanged"/>
    </FormBlock>
    </Body>
    <Footer>
        <EmbeddedMessageEditor
            Text="@_comment"
            Placeholder="Add comment (optional)"
            TextChanged="OnCommentChanged" />
        @if (ModalModel.Request.HasLink(out var link)) {
            <input type="hidden" @ref="@_copyTextSourceRef" value="@RequestWithComment.GetShareTextAndLink(UrlMapper)" />
            @if (!_copyTextSourceRef.Id.IsNullOrEmpty()) {
                <ShareLinkBadge Link="@link" CopyTextSource="@_copyTextSourceRef"/>
            }
        }
    </Footer>
    <Buttons>
        <ShareExternallyButton
            Class="@shareDialogButtonsClass"
            Request="@RequestWithComment"
            />
        <Button Class="@shareButtonClass" IsDisabled="@(!canSend)" Click="OnSendClicked">
            <i class="icon-share text-2xl"></i>
            <span>Send to selected contacts</span>
        </Button>
    </Buttons>
</DialogFrame>


@code {
    private SearchPhrase _searchPhrase = "".ToSearchPhrase(true, false);
    private IReadOnlyCollection<ChatId> _selectedChats = Array.Empty<ChatId>();
    private string _comment = "";
    private ElementReference _copyTextSourceRef;

    private ShareRequest RequestWithComment => ModalModel.Request.WithText(_comment);

    [Inject] private IServiceProvider Services { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }
    [Parameter] public ShareModalModel ModalModel { get; set; } = null!;

    protected override void OnInitialized()
        => _comment = ModalModel.Request.Text;

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            // Trigger StateHasChanged to render ShareLinkBadge with CopyTextSource reference
            StateHasChanged();
        }
    }

    // Event handlers

    private void OnFilter(string filter) {
        _searchPhrase = filter.ToSearchPhrase(true, false);
        StateHasChanged();
    }

    private void OnSelectionChanged(IReadOnlyCollection<ChatId> selectedChats) {
        _selectedChats = selectedChats;
    }

    private async Task OnSendClicked() {
        var text = RequestWithComment.GetShareTextAndLink(UrlMapper);
        var session = Services.Session();
        var uiCommander = Services.UICommander();
        foreach (var chatId in _selectedChats) {
            var cmd = new Chats_UpsertTextEntry(session, chatId, null, text);
            _ = await uiCommander.Run(cmd, CancellationToken.None);
        }
        Modal.Close(true);

        var history = Services.GetRequiredService<History>();
        await history.NavigateTo(Links.Chat(_selectedChats.First()));
    }

    private void OnCommentChanged(string text)
        => _comment = text;
}
