@using ActualChat.Chat.UI.Blazor.Module
@implements IAttachmentListBackend
@implements IAsyncDisposable
@namespace ActualChat.Chat.UI.Blazor.Components

<input @ref="FilePickerRef" type="file" hidden multiple/>

@if (_attachments.Count > 0) {
    <div class="attachment-list-wrapper">
        <div class="flex-1 flex-x justify-between p-2 pb-0">
            <Button Class="btn-sm attachment-list-btn danger c-remove" Click="_ => Clear()">
                Remove all
            </Button>
            <Button Class="btn-sm attachment-list-btn c-send" Click="OnSendClick">
                Send @_attachments.Count @("file".Pluralize(_attachments.Count))
            </Button>
        </div>
        <ul class="attachment-list custom-scrollbar-x">
            @foreach (var attachment in _attachments) {
                var progress = attachment.Progress;
                var uploadProgressClass = "attachment-upload-progress";
                if (attachment.Failed) {
                    progress = Math.Max(progress, 30);
                    uploadProgressClass += " attachment-upload-failed";
                }
                else if (attachment.Uploaded) {
                    uploadProgressClass += " attachment-upload-completed";
                }
                var uploadStyle = $"width: {progress}%;";
                <li class="attachment-wrapper">
                    <div class="flex-y relative">
                        <div class="attachment-item">
                            <ButtonSquare Click="@(() => OnRemoveClick(attachment))" Class="remove-attachment-btn">
                                <i class="icon-trash03 text-2xl font-thin text-04"></i>
                            </ButtonSquare>
                            @if (attachment.IsImage) {
                                <img src="@attachment.Url" alt="Image attachment"/>
                            } else if (attachment.IsVideo) {
                                <video preload="metadata">
                                    <source src="@attachment.Url#t=0.5" />
                                </video>
                            } else {
                                <div class="flex items-center justify-center p-3">
                                    <img draggable="false" src="/dist/images/attachment.svg" alt="File attachment" class="h-12">
                                </div>
                            }
                        </div>
                        <div class="attachment-filename" title="@attachment.FileName">
                            @if (attachment.FileName.Length > 0) {
                                <span>@attachment.FileName</span>
                            } else {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="@uploadProgressClass" style="@uploadStyle"></div>
                    </div>
                </li>
            }
            <SendOrAddAttachmentButton
                Count="@_attachments.Count"
                AddClick="@OnAddClick"/>
        </ul>
    </div>
}

@code {
    private static readonly string JSCreateMethod = $"{ChatBlazorUIModule.ImportName}.AttachmentList.create";

    private readonly object _lock = new();
    private readonly TaskCompletionSource _whenReadySource = TaskCompletionSourceExt.New();
    private ImmutableList<Attachment> _attachments = ImmutableList<Attachment>.Empty;
    private DotNetObjectReference<IAttachmentListBackend> BlazorRef { get; set; } = null!;
    private ElementReference FilePickerRef { get; set; }

    [Inject] private IJSRuntime JS { get; init; } = null!;
    [Inject] private IServiceProvider Services { get; init; } = null!;

    [Parameter] public EventCallback OnSendClick { get; set; }

    public IJSObjectReference JSRef { get; private set; } = null!;
    public Task WhenReady => _whenReadySource.Task;
    public bool IsUploading => _attachments.Any(x => !x.Uploaded);

    public async ValueTask DisposeAsync() {
        _whenReadySource.TrySetCanceled();
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<IAttachmentListBackend>(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(JSCreateMethod, BlazorRef, FilePickerRef);
            _whenReadySource.TrySetResult();
        }
    }

    public async Task Clear() {
        lock (_lock)
            _attachments = ImmutableList<Attachment>.Empty;

        await InvokeClear();
        StateHasChanged();
    }

    public async Task SetSentAttachments(string[] urls) {
        var downloader = Services.GetRequiredService<IIncomingShareFileDownloader>();
        var fileNames = urls
            .Select(c => {
                downloader.TryExtractFileName(c, out var fileName);
                return fileName;
            })
            .ToArray();
        _ = await JSRef.InvokeAsync<int>("addBlobs", new object[] { urls, fileNames });
    }

    public ResetIntent PopSnapshot() {
        var attachments = PopAttachments();
        StateHasChanged();

        var mediaIds = attachments.Where(x => x.Uploaded).Select(x => x.MediaId).ToApiArray();
        return new (mediaIds, () => Rollback(attachments), InvokeClear);

        ImmutableList<Attachment> PopAttachments()
        {
            lock (_lock) {
                var backup = _attachments;
                _attachments = ImmutableList<Attachment>.Empty;
                return backup;
            }
        }
    }

    private void Rollback(ImmutableList<Attachment> attachments)
    {
        lock (_lock)
            _attachments = attachments;
        StateHasChanged();
    }

    [JSInvokable]
    public bool OnAttachmentAdded(int id, string url, string? fileName, string? fileType, int length) {
        var error = TryAdd();
        if (error != null) {
            Services.UICommander().ShowError(error);
            return false;
        }

        StateHasChanged();
        return true;

        Exception? TryAdd() {
            if (length > Constants.Attachments.FileSizeLimit)
                return FileToBigError();

            if (_attachments.Count >= Constants.Attachments.FileCountLimit)
                return StandardError.Constraint("Too many files. Max allowed number is 10.");

            _attachments = _attachments.Add(new(id, url, fileName ?? "", fileType ?? "", length));
            return null;
        }
    }

    public static Exception FileToBigError()
        => StandardError.Constraint($"File is too big. Max file size: {Constants.Attachments.FileSizeLimit / 1024 / 1024}Mb.");

    [JSInvokable]
    public void OnUploadProgress(int id, int progress) {
        UpdateAttachment(id, x => x with { Progress = progress });
        StateHasChanged();
    }

    [JSInvokable]
    public void OnUploadSucceed(int id, MediaId mediaId) {
        UpdateAttachment(id, x => x with { MediaId = mediaId });
        StateHasChanged();
    }

    [JSInvokable]
    public void OnUploadFailed(int id) {
        UpdateAttachment(id, x => x with { Failed = true });
        StateHasChanged();
    }

    private Task OnAddClick()
        => JSRef.InvokeVoidAsync("showFilePicker").AsTask();

    private Task OnRemoveClick(Attachment attachment) {
        lock (_lock)
            _attachments = _attachments.Remove(attachment);

        return JSRef.InvokeVoidAsync("remove", attachment.Id).AsTask();
    }

    private void UpdateAttachment(int id, Func<Attachment, Attachment> updater) {
        lock (_lock) {
            var i = _attachments.FindIndex(x => x.Id == id);
            if (i < 0)
                return;

            _attachments = _attachments.SetItem(i, updater(_attachments[i]));
        }
    }

    private ValueTask InvokeClear()
        => JSRef.InvokeVoidAsync("clear");

    public sealed class ResetIntent : IAsyncDisposable {
        private readonly Func<ValueTask> _confirm;
        private readonly Action _rollback;
        private bool _isRolledBack;
        public ApiArray<MediaId> Attachments { get; }

        internal ResetIntent(ApiArray<MediaId> attachments, Action rollback, Func<ValueTask> confirm) {
            Attachments = attachments;
            _rollback = rollback;
            _confirm = confirm;
        }

        public void Rollback() {
            _rollback();
            _isRolledBack = true;
        }

        public ValueTask DisposeAsync() {
            return !_isRolledBack ? _confirm() : default;
        }
    }

    private record Attachment(int Id, string Url, string FileName, string FileType, int Length, int Progress = 0, MediaId MediaId = default)
    {
        public bool IsImage => FileType?.OrdinalIgnoreCaseStartsWith("image") ?? false;
        public bool IsVideo => FileType?.OrdinalIgnoreCaseStartsWith("video") ?? false;
        public bool Failed { get; init; }
        public bool Uploaded => Progress == 100 && !MediaId.IsNone;
    }
}
