@namespace ActualChat.Chat.UI.Blazor.Components
@implements IChatMessageEditorBackend
@implements IAsyncDisposable
@using ActualChat.Chat.UI.Blazor.Services
@using ActualChat.Audio.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Events
@using ActualChat.Chat.UI.Blazor.Module
@using ActualChat.Contacts
@using ActualChat.Hosting
@using ActualChat.Kvas
@using ActualChat.MediaPlayback
@using ActualChat.Search
@using Stl.Locking
@{
    var editorCls = "";
    if (ScreenSize.IsNarrow())
        editorCls = "narrow";
    if (ScreenSize.IsWide())
        editorCls = "wide";
}

<OnUIEvent TEvent="@FocusChatMessageEditorEvent" Handler="OnFocusChatMessageEditorEvent" />
<OnUIEvent TEvent="@EditChatMessageEvent" Handler="OnEditChatMessageEvent" />
<OnUIEvent TEvent="@CancelChatMessageEditEvent" Handler="OnCancelChatMessageEditEvent" />
<div @ref="Ref" class="chat-message-editor @editorCls">
    <MentionListManager @key="@MentionListManagerKey" SearchProvider="@ChatMarkupHub.MentionSearchProvider">
        <AttachmentList
            @key="AttachmentListKey"
            @ref="AttachmentListRef"
            OnSendClick="@(() => Post())"/>
        @if (ScreenSize.IsWide()) {
            <RelatedChatEntryPanel/>
        }
        <div class="c-content">
            <div class="post-panel-wrapper">
                <div class="post-panel"
                     data-bubble="@(BubbleRef.New<TextMessagePanelBubble>())"
                     data-bubble-priority="105"
                     data-bubble-placement="@(FloatingPosition.Top.ToPositionString())">
                    <div class="flex-x attach-dropdown">
                        <ButtonRound Class="attach-btn">
                            <i class="icon-attach-2 text-2xl"></i>
                        </ButtonRound>
                    </div>
                    <label for="message-input" class="flex-auto flex-x justify-items-stretch items-center">
                        <MarkupEditor
                            @key="MarkupEditorKey"
                            @ref="MarkupEditorRef"
                            MentionNamer="@ChatMarkupHub.MentionNamer"
                            HtmlConverter="@ChatMarkupHub.EditorHtmlConverter"
                            Id="message-input"
                            Class="message-input -flex-y"
                            Autofocus="Autofocus"
                            Placeholder="Write a message - or simply record it!"
                            Post="text => Post(text)"
                            Cancel="@(() => OnCancel())"
                            OpenPrevious="OnOpenPrevious"/>
                    </label>
                    <button class="btn btn-round post-message"
                            @onmousedown="@(_ => Post())"
                            @onmousedown:preventDefault="true">
                        <i class="icon-paper-plane text-2xl"></i>
                    </button>
                    <NotifyCallPanel @ref="NotifyCallPanelRef" />
                </div>
                @if (ScreenSize.IsNarrow()) {
                    <RelatedChatEntryPanel/>
                    <div class="audio-panel-wrapper">
                        <ChatAudioPanel Chat="@Chat"/>
                    </div>
                }
            </div>
            @if (ScreenSize.IsWide()) {
                <ChatAudioPanel Chat="@Chat"/>
            }
        </div>
    </MentionListManager>
</div>

@code {
    private static readonly string JSCreateMethod = $"{ChatBlazorUIModule.ImportName}.ChatMessageEditor.create";

    private static object MentionListManagerKey { get; } = new();
    private static object AttachmentListKey { get; } = new();
    private static object MarkupEditorKey { get; } = new();

    private readonly AsyncLock _postLock = AsyncLock.New(LockReentryMode.CheckedPass);
    private bool Autofocus => ScreenSize.IsWide();
    private DotNetObjectReference<IChatMessageEditorBackend> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }
    private MarkupEditor MarkupEditorRef { get; set; } = null!;
    private AttachmentList AttachmentListRef { get; set; } = null!;
    private NotifyCallPanel NotifyCallPanelRef { get; set; } = null!;
    private IChatMarkupHub ChatMarkupHub { get; set; } = null!;
    private SyncedStateLease<ReadPosition>? ReadPositionState { get; set; } = null!;
    private SentAttachmentsStorage? AttachmentsStorage { get; set; } = null!;

    [Inject] private ChatHub ChatHub { get; init; } = null!;
    private Session Session => ChatHub.Session;
    private IChats Chats => ChatHub.Chats;
    private IAuthors Authors => ChatHub.Authors;
    private IContacts Contacts => ChatHub.Contacts;
    private KeyedFactory<IChatMarkupHub, ChatId> ChatMarkupHubFactory => ChatHub.ChatMarkupHubFactory;
    private ChatUI ChatUI => ChatHub.ChatUI;
    private ChatEditorUI ChatEditorUI => ChatHub.ChatEditorUI;
    private ActiveChatsUI ActiveChatsUI => ChatHub.ActiveChatsUI;
    private PanelsUI PanelsUI => ChatHub.PanelsUI;
    private TuneUI TuneUI => ChatHub.TuneUI;
    private UICommander UICommander => ChatHub.UICommander;
    private MomentClockSet Clocks => ChatHub.Clocks;
    private HostInfo HostInfo => ChatHub.HostInfo;
    private IJSRuntime JS => ChatHub.JS;

    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    public async ValueTask DisposeAsync() {
        if (AttachmentsStorage != null)
            AttachmentsStorage.AttachmentsStored -= OnAttachmentsStored;
        AttachmentsStorage = null;
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
        ReadPositionState?.DisposeSilently();
        ReadPositionState = null!;
    }

    protected override async Task OnParametersSetAsync() {
        var chatId = Chat.Id;
        var oldChatId = ChatMarkupHub?.ChatId ?? default;
        if (oldChatId == chatId)
            return;

        ChatMarkupHub = ChatMarkupHubFactory[chatId];
        ReadPositionState.DisposeSilently();
        ReadPositionState = null;
        ReadPositionState = await ChatUI.LeaseReadPositionState(chatId, default);

        if (JSRef != null!) {
            // Only when rendered
            await AttachmentListRef.Clear();
            await UpdateChatId();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<IChatMessageEditorBackend>(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(JSCreateMethod, Ref, BlazorRef);
            await Task.WhenAll(MarkupEditorRef.WhenReady, AttachmentListRef.WhenReady);
            await JSRef.InvokeVoidAsync("onNestedControlsReady", MarkupEditorRef.JSRef, AttachmentListRef.JSRef);
            await UpdateChatId();
            await ChatEditorUI.RestoreRelatedEntry(Chat.Id);
            AttachmentsStorage = ChatHub.GetRequiredService<SentAttachmentsStorage>();
            if (AttachmentsStorage.ChatId == Chat.Id && AttachmentsStorage.Urls.Length > 0)
                await SetAttachments(AttachmentsStorage);
            AttachmentsStorage.AttachmentsStored += OnAttachmentsStored;
        }
    }

    // Backend API

    [JSInvokable]
    public void CloseNotifyPanel()
        => NotifyCallPanelRef.Close();

    // Private methods

    private async Task Post(string? text = null) {
        using var __ = await _postLock.Lock();
        text ??= await MarkupEditorRef.GetText();
        text = text.Trim();
        if (AttachmentListRef.IsUploading) {
            return;
        }

        await using var attachmentListSnapshot = AttachmentListRef.PopSnapshot();
        if (text.IsNullOrEmpty() && attachmentListSnapshot.Attachments.Count == 0)
            return;

        _ = TuneUI.Play(Tune.SendMessage);
        try {
            _ = MarkupEditorRef.Clear();

            var relatedChatEntry = ChatEditorUI.RelatedChatEntry.Value;
            var relatedChatEntryId = relatedChatEntry?.Id ?? default;
            await ChatEditorUI.HideRelatedEntry(false);

            Chats_UpsertTextEntry cmd;
            if (relatedChatEntry is { Kind: RelatedEntryKind.Edit }) {
                if (relatedChatEntryId.IsNone)
                    throw new InternalError("Invalid ChatUI.RelatedChatEntry value.");
                cmd = new Chats_UpsertTextEntry(Session, relatedChatEntryId.ChatId, relatedChatEntryId.LocalId, text);
            } else {
                var repliedEntryLid = relatedChatEntryId.IsNone ? (long?)null : relatedChatEntryId.LocalId;
                cmd = new Chats_UpsertTextEntry(Session, Chat.Id, null, text) {
                    RepliedChatEntryId = repliedEntryLid,
                    Attachments = attachmentListSnapshot.Attachments,
                };
            }

            var chatEntry = await UICommander.Run(cmd, CancellationToken.None);
            var readEntryLid = chatEntry.Value.LocalId;

            if (ReadPositionState != null && ReadPositionState.Value.EntryLid < readEntryLid)
                ReadPositionState.Value = new (Chat.Id, readEntryLid);
            await AttachmentListRef.Clear();
        }
        catch (Exception e) {
            UICommander.ShowError(e);
            attachmentListSnapshot.Rollback();
            await MarkupEditorRef.SetText(text);
        }
    }

    private async Task Edit(ChatEntry chatEntry, CancellationToken cancellationToken)
    {
        await ChatEditorUI.ShowRelatedEntry(RelatedEntryKind.Edit, chatEntry.Id, focusOnEditor: true);
        await MarkupEditorRef.SetText(chatEntry.Content, mustFocus: false);
    }

    private ValueTask UpdateChatId()
        => JSRef.InvokeVoidAsync("setChatId", Chat.Id);

    // Event handlers

    private Task OnOpenPrevious()
        => ChatEditorUI.EditLast(ChatUI.SelectedChatId.Value);

    private async Task OnCancel(CancellationToken cancellationToken = default)
    {
        await ChatEditorUI.HideRelatedEntry();
        await MarkupEditorRef.Clear(mustFocus: true);
    }

    private void OnAttachmentsStored(object? sender, EventArgs e) {
        var attachmentsStorage = AttachmentsStorage;
        if (attachmentsStorage != null && attachmentsStorage.ChatId == Chat.Id && attachmentsStorage.Urls.Length > 0)
            _ = Handle();

        async Task Handle() {
            await SetAttachments(attachmentsStorage);
            PanelsUI.HidePanels();
        }
    }

    private async Task SetAttachments(SentAttachmentsStorage attachmentsStorage)
    {
        await AttachmentListRef.SetSentAttachments(attachmentsStorage.Urls);
        attachmentsStorage.Clear();
    }

    // UIEventHub event handlers

    private async Task OnFocusChatMessageEditorEvent(FocusChatMessageEditorEvent @event, CancellationToken cancellationToken)
        => await MarkupEditorRef.Focus();

    private async Task OnEditChatMessageEvent(EditChatMessageEvent @event, CancellationToken cancellationToken) {
        var chatEntry = @event.Entry;
        await Edit(chatEntry, cancellationToken);
    }

    private async Task OnCancelChatMessageEditEvent(CancelChatMessageEditEvent @event, CancellationToken cancellationToken) {
        await OnCancel(cancellationToken);
    }
}
