@namespace ActualChat.Chat.UI.Blazor.Components
@implements IChatMessageEditorBackend
@implements IAsyncDisposable
@using ActualChat.Chat.UI.Blazor.Services
@using ActualChat.Audio.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Events
@using ActualChat.Chat.UI.Blazor.Module
@using ActualChat.Hosting
@using ActualChat.Kvas
@using ActualChat.MediaPlayback
@using ActualChat.Search

<OnUIEvent TEvent="@FocusChatMessageEditorEvent" Handler="OnFocusChatMessageEditorEvent" />
<OnUIEvent TEvent="@EditChatMessageEvent" Handler="OnEditChatMessageEvent" />
<OnUIEvent TEvent="@CancelChatMessageEditEvent" Handler="OnCancelChatMessageEditEvent" />
<div @ref="Ref" class="chat-message-editor min-h-auto">
    <MentionListManager @key="@MentionListManagerKey" SearchProvider="@MarkupHub.ChatMentionSearchProvider">
        <AttachmentList
            @key="AttachmentListKey"
            @ref="AttachmentListRef"
            RemoveClick="@(a => RemoveAttachment(a))"
            ClearClick="@(_ => ClearAttachments())"
            PostClick="@(_ => Post())"/>
        <LinkedMessagePanel />
        <div class="flex-none flex-x justify-items-stretch items-stretch w-full p-0 md:px-3 md:py-2 gap-x-2.5">
            <div class="-flex-y w-full overflow-x-hidden">
                <div class="flex-x gap-x-1.5 px-2 md:px-0 my-1 md:my-0">
                    <div class="post-panel flex-auto">
                        <div class="flex-x attach-dropdown">
                            <ButtonRound Class="attach-btn" Click="@(() => ShowFilePicker())">
                                <i class="icon-attach-2 text-2xl"></i>
                            </ButtonRound>
                            <input class="file-picker" type="file" hidden multiple/>
                        </div>
                        @*
                        <ContextMenuToggleTrigger MenuId="@AttachMenu.MenuId" CssClass="self-start">
                            <div class="flex attach-dropdown">
                                <ButtonRound Class="attach-btn">
                                    <i class="icon-attach-2 text-2xl"></i>
                                </ButtonRound>
                                <div class="relative right-12">
                                    <div class="placement"></div>
                                </div>
                            </div>
                        </ContextMenuToggleTrigger>
                       *@
                        <label for="message-input" class="flex-auto flex-x justify-items-stretch items-center">
                            <MarkupEditor
                                @key="MarkupEditorKey"
                                @ref="MarkupEditorRef"
                                HtmlConverter="@HtmlConverter"
                                Id="message-input"
                                Class="message-input -flex-y"
                                Autofocus="Autofocus"
                                Placeholder="@("#" + Chat.Title)"
                                Post="text => Post(text)"
                                Cancel="@(() => OnCancel())"
                                OpenPrevious="OnOpenPrevious"/>
                        </label>
                        <button class="btn btn-round post-message swiftclick-ignore"
                                @onmousedown="@(_ => Post())"
                                @onmousedown:preventDefault="true">
                            <i class="icon-paper-plane text-2xl"></i>
                        </button>
                        <NotifyCallPanel @ref="NotifyCallPanelRef" Class="flex-1"/>
                    </div>
                </div>
                @if (ScreenSize.IsNarrow()) {
                    <MobileControlPanel/>
                }
            </div>
            @if (ScreenSize.IsWide()) {
                <RecorderPanel/>
            }
        </div>
    </MentionListManager>
    @*
    <AttachMenu UploadFilesRequested="@(() => ShowFilePicker())"/>
    *@
</div>

@code {
    private static object MentionListManagerKey { get; } = new();
    private static object AttachmentListKey { get; } = new();
    private static object MarkupEditorKey { get; } = new();

    private bool Autofocus => ScreenSize.IsWide();
    private DotNetObjectReference<IChatMessageEditorBackend> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }
    private MarkupEditor MarkupEditorRef { get; set; } = null!;
    private AttachmentList AttachmentListRef { get; set; } = null!;
    private NotifyCallPanel NotifyCallPanelRef { get; set; } = null!;
    private MarkupEditorHtmlConverter HtmlConverter => MarkupHub.MarkupEditorHtmlConverter;
    private SyncedStateLease<long?>? LastReadEntryState { get; set; } = null!;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private ErrorUI ErrorUI { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private IChatAuthors ChatAuthors { get; init; } = null!;
    [Inject] private MarkupHub MarkupHub { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private MomentClockSet Clocks { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override async Task OnInitializedAsync() {
        MarkupHub.ChatId = Chat.Id;
        LastReadEntryState = await ChatUI.LeaseLastReadEntryState(Chat.Id, default).ConfigureAwait(false);
        // Default scheduler is used from here
    }

    public async ValueTask DisposeAsync() {
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
        LastReadEntryState?.Dispose();
        LastReadEntryState = null!;
    }

    protected override void OnParametersSet() {
        var oldChatId = MarkupHub.ChatId;
        if (oldChatId == Chat.Id)
            return;

        MarkupHub.ChatId = Chat.Id;
        if (JSRef == null!)
            return; // Not rendered yet

        ClearAttachments();
        MarkupEditorRef.Clear(Autofocus);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<IChatMessageEditorBackend>(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{ChatBlazorUIModule.ImportName}.ChatMessageEditor.create",
                Ref, BlazorRef);
            await MarkupEditorRef.WhenReady;
            await JSRef.InvokeVoidAsync("onMarkupEditorReady", MarkupEditorRef.JSRef);
        }
    }

    // Backend API

    [JSInvokable]
    public void CloseNotifyPanel()
        => NotifyCallPanelRef.Close();

    [JSInvokable]
    public bool AddAttachment(int id, string url, string? fileName, string? fileType, int length)
        => AttachmentListRef.Add(id, url, fileName, fileType, length);

    // Private methods

    private async Task Post(string? text = null) {
        text ??= await MarkupEditorRef.GetText();
        var attachments = AttachmentListRef.Attachments;
        if (text.IsNullOrEmpty() && !attachments.Any())
            return;

        try {
            AttachmentListRef.Attachments = ImmutableArray<Attachment>.Empty;
            _ = MarkupEditorRef.Clear();

            var linkedChatEntry = ChatUI.LinkedChatEntry.Value;
            var chatEntry = linkedChatEntry?.Entry;
            ChatUI.LinkedChatEntry.Value = null;
            UICommander.CancelUpdateDelays();

            long entryId;
            if (linkedChatEntry?.Type == ChatEntryLinkType.Edit) {
                if (chatEntry == null)
                    throw new InternalError("Linked chat entry points to null entry.");
                await UICommander.Run(new IChats.UpsertTextEntryCommand(Session, chatEntry.ChatId, chatEntry.Id, text));
                entryId = chatEntry.Id;

            } else {
                entryId = await JSRef.InvokeAsync<long>("post", Chat.Id, text, chatEntry?.Id);
            }

            if (LastReadEntryState != null)
                LastReadEntryState.Value = entryId;
            _ = TryUpdatePeerChatRecency();
            _ = ChatUI.AddActiveChat(Chat.Id);
            await ClearAttachments();
        }
        catch (Exception e) {
            AttachmentListRef.Attachments = attachments;
            ErrorUI.ShowError(e);
        }
    }

    private async Task Edit(ChatEntry chatEntry, CancellationToken cancellationToken)
    {
        ChatUI.LinkedChatEntry.Value = new(ChatEntryLinkType.Edit, chatEntry);
        UICommander.CancelUpdateDelays();
        await MarkupEditorRef.SetText(chatEntry.Content, true);
    }

    private ValueTask ShowFilePicker()
        => JSRef.InvokeVoidAsync("showFilePicker");

    private ValueTask RemoveAttachment(Attachment attachment) {
        AttachmentListRef.Attachments = AttachmentListRef.Attachments.Remove(attachment);
        return JSRef.InvokeVoidAsync("removeAttachment", attachment.Id);
    }

    private ValueTask ClearAttachments() {
        AttachmentListRef.Attachments = ImmutableArray<Attachment>.Empty;
        return JSRef.InvokeVoidAsync("clearAttachments");
    }

    private async Task TryUpdatePeerChatRecency() {
        await Update(RecencyScope.ChatContact, Chat.Id);

        if (Chat.ChatType == ChatType.Peer) {
            var contact = await Chats.GetPeerChatContact(Session, Chat.Id, CancellationToken.None).Require();
            await Update(RecencyScope.UserContact, contact.Id);
        }

        Task Update(RecencyScope scope, string key) {
            var command = new IRecentEntries.UpdateCommand(Session, scope, key, Clocks.SystemClock.UtcNow);
            return UICommander.Run(command, CancellationToken.None);
        }
    }

    // Event handlers

    private async Task OnOpenPrevious() {
        var chatId = ChatUI.SelectedChatId.Value;
        var author = await ChatAuthors.Get(Session, chatId, CancellationToken.None);
        if (author == null)
            return;

        var chatIdRange = await Chats.GetIdRange(Session, chatId, ChatEntryType.Text, CancellationToken.None);
        var idTileLayer = ChatEntryReader.IdTileStack.Layers[1]; // 5*4 = scan by 20 entries
        var chatEntryReader = Chats.NewEntryReader(Session, chatId, ChatEntryType.Text, idTileLayer);
        var lastEditableEntry = await chatEntryReader.GetLast(
            chatIdRange,
            x => x.AuthorId == author.Id && !x.AudioEntryId.HasValue && x.StreamId.IsEmpty,
            1000, // Max. 1000 entries to scan upwards
            CancellationToken.None);
        if (lastEditableEntry == null)
            return;

        await Edit(lastEditableEntry, CancellationToken.None);
    }

    private async Task OnCancel(CancellationToken cancellationToken = default)
    {
        ChatUI.LinkedChatEntry.Value = null;
        UICommander.CancelUpdateDelays();
        await MarkupEditorRef.Clear(true);
    }

    // UIEventHub event handlers

    private async Task OnFocusChatMessageEditorEvent(FocusChatMessageEditorEvent @event, CancellationToken cancellationToken)
        => await MarkupEditorRef.Focus();

    private async Task OnEditChatMessageEvent(EditChatMessageEvent @event, CancellationToken cancellationToken) {
        var chatEntry = @event.ChatEntry;
        await Edit(chatEntry, cancellationToken);
    }

    private async Task OnCancelChatMessageEditEvent(CancelChatMessageEditEvent @event, CancellationToken cancellationToken) {
        await OnCancel(cancellationToken);
    }
}
