@namespace ActualChat.UI.Blazor.Components
@inherits ComputedStateComponent<ChatActivityPanel.Model>
@{
    var m = State.Value;
    var isVisible = m.IsAnyoneTalking || m.AudioState.IsListening || IsRecordingHere;
    if (!isVisible)
        return;

    var maxCount = 5;
    var iconSize = ScreenSize.IsNarrow() ? 6 : 5;
    var isActive = m.IsAnyoneTalking;
    var iconColor = IsListening ? "primary" : "text-03";
    var svgSize = ScreenSize.IsNarrow() ? "24" : "20";
}

<div class="chat-activity-panel" @onclick:preventDefault="true" @onclick:stopPropagation="true">
    <div class="c-icon">
        <chat-activity-svg size="@iconSize" isActive="@isActive" activeColor="@iconColor" inactiveColor="text-03"/>
    </div>
    @if (m.IsAnyoneTalking) {
        <ChatActivities
            @key="@Chat.Id.Value"
            Chat="@Chat"
            MaxIconCount="@maxCount"
            IsListening="@IsListening"/>
    } else {
        <div class="silence-text">You are listening...</div>
    }
    <div class="c-incut"></div>
    <div class="c-buttons">
        <ButtonRound
            Class="btn-transparent"
            StopPropagation="true"
            PreventDefault="true"
            Click="@OnListenClick"
            TooltipPosition="FloatingPosition.Top"
            MustKeepAwake="@(!IsListening)">
            <playback-toggle-svg isAnimated="@m.IsAnimated" isOn="@IsListening" size="@svgSize" isActivityPanel="true" class="activity-svg"/>
        </ButtonRound>
    </div>
</div>

@code {
    private Chat Chat => ChatContext.Chat;
    private ChatUIHub Hub => ChatContext.Hub;
    private ChatActivity ChatActivity => Hub.ChatActivity;
    private ChatAudioUI ChatAudioUI => Hub.ChatAudioUI;
    private ActiveChatsUI ActiveChatsUI => Hub.ActiveChatsUI;
    private ChatUI ChatUI => Hub.ChatUI;

    private IChatStreamingActivity? ChatRecordingActivity { get; set; }
    private ChatId RecordingChatId => ActiveChatsUI.ActiveChats.Value.FirstOrDefault(c => c.IsRecording).ChatId;
    private bool IsRecordingHere => !Chat.Id.IsNone && RecordingChatId == Chat.Id;
    private bool IsUpdating => !Chat.Id.IsNone && State.Value.Chat.Id != Chat.Id;
    private bool IsListening => !IsUpdating && State is { Value.AudioState.IsListening: true };

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override async Task OnParametersSetAsync() {
        ChatRecordingActivity?.Dispose();
        ChatRecordingActivity = Chat.Id.IsNone ? null
            : await ChatActivity.GetStreamingActivity(Chat.Id, CancellationToken.None);
        await base.OnParametersSetAsync();
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = Model.None,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        if (ChatRecordingActivity == null)
            return Model.None;

        var isAnimated = false;
        var chat = Chat;
        var chatId = chat.Id;
        var audioState = await ChatAudioUI.GetState(chatId).ConfigureAwait(false);
        var authorIds = await ChatRecordingActivity.GetStreamingAuthorIds(cancellationToken).ConfigureAwait(false);
        if (!audioState.IsListening) {
            var chatInfo = await ChatUI.Get(chatId, cancellationToken).ConfigureAwait(false);
            if (chatInfo?.News.LastTextEntry is { IsStreaming: true, HasAudioEntry: true } lastTextEntry) {
                var ownAuthor = chatInfo.Chat.Rules.Author;
                isAnimated = ownAuthor == null || lastTextEntry.AuthorId != ownAuthor.Id;
            }
        }
        return new (chat, audioState, authorIds.Count > 0, isAnimated);
    }

    private void OnListenClick() {
        if (IsUpdating)
            return;

        _ = ChatAudioUI.SetListeningState(Chat.Id, !IsListening);
    }

    // Nested types

    public sealed record Model(
        Chat Chat,
        ChatAudioState AudioState,
        bool IsAnyoneTalking,
        bool IsAnimated
    ) {
        public static readonly Model None = new(SpecialChat.Loading, ChatAudioState.None, false, false);
    }
}
