@using Microsoft.Toolkit.HighPerformance
@using ActualChat.UI.Blazor.Services
@using ActualChat.Media
@namespace ActualChat.UI.Blazor.Components
@{
    var sizeClass = $"pic-size-{(int)Size}";
    var cursorClass = EnableImagePreview || Click.HasDelegate ? "pic-show-cursor" : "";
}

<div class="@Class @sizeClass">
    @if (!_pictureUrl.IsNullOrEmpty()) {
        <img class="pic-image @sizeClass @cursorClass"
             alt=""
             src="@_pictureUrl"
             @onclick="@OnPictureClick"
             @onclick:preventDefault="true"/>
    } else if(NoPicture != null) {
        @NoPicture
    } else {
        <div class="pic-generated @sizeClass"
             style="@_picStyle">
            @((Title.NullIfEmpty() ?? " ")[..1])
        </div>
    }
</div>

@code {
    private string _picStyle = "";
    private string _pictureUrl = "";

    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private VisualMediaViewerUI VisualMediaViewerUI { get; init; } = null!;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public Picture? Picture { get; set; }
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size10;
    [Parameter] public bool EnableImagePreview { get; set; }
    [Parameter] public RenderFragment? NoPicture { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    protected override void OnParametersSet() {
        if (Picture != null) {
            _pictureUrl = UrlMapper.ImagePreview128Url(UrlMapper.PictureUrl(Picture));
            _picStyle = "";
        }
        else {
            _pictureUrl = "";
            _picStyle = $"background-color: {GetBackgroundColor()}";
        }
    }

    private string GetBackgroundColor() {
        var hash = Title.GetDjb2HashCode();
        var h = hash % 360;
        return $"hsl({h}, 30%, 80%)";
    }

    private async Task OnPictureClick(MouseEventArgs arg) {
        await Click.InvokeAsync(arg).ConfigureAwait(false);

        if (EnableImagePreview && Picture is { MediaContent: {} mediaContent }) {
            var url = UrlMapper.ContentUrl(mediaContent.ContentId);
            await VisualMediaViewerUI.Show(url);
        }
    }
}
