@using Microsoft.Toolkit.HighPerformance
@using ActualChat.UI.Blazor.Services
@using ActualChat.UI.Blazor.Components.FileUpload
@using ActualChat.UI.Blazor.Module
@namespace ActualChat.UI.Blazor.Components
@implements IAsyncDisposable

@{
    var sizeClass = $"pic-size-{(int)Size}";
}

<div class="pic-upload pic-upload-drop-zone" @ref="_dropZoneRef">
    <Pic Title="@Title" Size="@Size" ContentId="@ContentId" Click="PictureClick" NoPicture="NoPicture"/>
    <div class="pic-upload-picker @(sizeClass)">
        <FileUpload id="@_inputId"
                    UploadUrl="@ImageUploadUrl"
                    Uploaded="OnUploaded"
                    MaxSize="Constants.Chat.FileSizeLimit"
                    accept="image/*"
                    hidden>
        </FileUpload>
        <label for="@_inputId"
               class="pic-upload-input-file-label">
            <i class="icon-image text-5xl text-04" aria-hidden="true"></i>
        </label>
    </div>
</div>

@code {
    private string _inputId = "";
    private ElementReference _dropZoneRef;
    private IJSObjectReference _jsRef = null!;

    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string ContentId { get; set; } = "";
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size10;
    [Parameter] public string ImageUploadUrl { get; set; } = "";
    [Parameter] public RenderFragment? NoPicture { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> PictureClick { get; set; }
    [Parameter] public EventCallback<MediaContent> ImagePicked { get; set; }

    protected override void OnInitialized() {
        _inputId = ComponentIdGenerator.Next("pic-upload-input-file");
    }

    public async ValueTask DisposeAsync() {
        await _jsRef.DisposeSilentlyAsync("dispose");
        _jsRef = null!;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
            _jsRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{BlazorUICoreModule.ImportName}.{nameof(PicUpload)}.create",
                _dropZoneRef,
                _inputId);
    }

    private string GenerateColor() {
        var hash = Title.GetDjb2HashCode();
        var h = hash % 360;
        return $"hsl({h}, 30%, 80%)";
    }

    private async Task OnUploaded(MediaContent mediaContent)
        => await ImagePicked.InvokeAsync(mediaContent).ConfigureAwait(false);
}
