@using System.ComponentModel.DataAnnotations
@inherits FusionComponentBase
@namespace ActualChat.Chat.UI.Blazor.Components

<Form @ref="_formRef" Model="@_form" Id="@_form.FormId">
    <FormBlock>
        <DataAnnotationsValidator/>

        <PicUpload
            UploadUrl="@UploadUrl"
            Size="@SquareSize.Size24"
            Width="96"
            Height="96"
            Title="@_form.Title"
            Picture="@_form.Picture"
            AvatarKind="@AvatarKind"
            AvatarKey="@AvatarKey"
            Picked="@OnImagePicked"/>

        <FormSection
            For="() => _form.Title"
            Label="Name"
            InputId="@_form.TitleId"
            IsLabelInsideInput="true"
            Class="!mt-0 grow"
            IsRequired="true">
            <TextBox
                @bind-Value="@_form.Title"
                Id="@_form.TitleId"
                Autofocus="false"
                Autocomplete="false"/>
        </FormSection>
    </FormBlock>
    <FormBlock Title="Chat type">
        <InputRadioGroup Name="chat_type" DisplayName="Chat type" @bind-Value="_form.IsPublic">
            <TileItem>
                <Icon>
                    <FormRadio Id="@_form.IsPublicTrueFormId" Value="@true"/>
                </Icon>
                <Content>
                    <Label InputId="@_form.IsPublicTrueFormId" Text="Public chat"></Label>
                </Content>
                <Caption>
                    <Label InputId="@_form.IsPublicTrueFormId" Text="Anyone can join this chat by navigating to its URL"></Label>
                </Caption>
            </TileItem>
            <TileItem>
                <Icon>
                    <FormRadio Id="@_form.IsPublicFalseFormId" Value="@false"/>
                </Icon>
                <Content>
                    <Label InputId="@_form.IsPublicFalseFormId" Text="Private chat"></Label>
                </Content>
                <Caption>
                    <Label InputId="@_form.IsPublicFalseFormId" Text="Can be joined only if you are invited / have an invite link"></Label>
                </Caption>
            </TileItem>
        </InputRadioGroup>
    </FormBlock>
    <FormBlock>
        @if (_isAdmin && _form.IsPublic) {
            <TileItem Class="field-allow-guest">
                <Icon>
                    <i class="icon-guest"></i>
                </Icon>
                <Content>
                    <Label InputId="@_form.AllowGuestAuthorsFormId" Text="Visitors can join without signing in"></Label>
                </Content>
                <Caption>
                    <Label InputId="@_form.AllowGuestAuthorsFormId" Text="Spam messages are more likely if this option is enabled"></Label>
                </Caption>
                <Right>
                    <ToggleEdit Id="@_form.AllowGuestAuthorsFormId" @bind-Value="_form.AllowGuestAuthors"/>
                </Right>
            </TileItem>
        }
        <TileItem Class="field-allow-anonym">
            <Icon>
                <i class="icon-question-mark-bubble"></i>
            </Icon>
            <Content>
                <Label InputId="@_form.AllowAnonymousAuthorsFormId" Text="Allow to join anonymously"></Label>
            </Content>
            <Caption>
                <Label InputId="@_form.AllowAnonymousAuthorsFormId" Text="Signed-in users can join this chat without revealing their identity"></Label>
            </Caption>
            <Right>
                <ToggleEdit Id="@_form.AllowAnonymousAuthorsFormId" @bind-Value="_form.AllowAnonymousAuthors"/>
            </Right>
        </TileItem>
    </FormBlock>

    <RenderIntoSlot Name="@ButtonsSlotName">
        @if (ScreenSize.IsWide()) {
            <Button
                Click="@(() => Cancelled())"
                Class="btn-modal">
                Cancel
            </Button>
        }
        <Button
            Click="@OnCreate"
            Type="@ButtonType.Button"
            IsDisabled="@(!context.Validate())"
            Class="btn-modal btn-primary">
            Create
        </Button>
    </RenderIntoSlot>
</Form>

@code {
    private static readonly string UploadUrl = "/api/avatars/upload-picture";
    private static readonly AvatarKind AvatarKind = AvatarKind.Marble;
    private static readonly string AvatarKey = "a-random-string";
    private Form _formRef = null!;
    private FormModel _form = null!;
    private bool _isAdmin;

    [Inject] private ChatHub ChatHub { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }
    [Parameter, EditorRequired] public string ButtonsSlotName { get; set; } = "";
    [Parameter, EditorRequired] public Action<Chat> ChatCreated { get; set; } = null!;
    [Parameter, EditorRequired] public Action Cancelled { get; set; } = null!;

    protected override void OnInitialized() {
        _form = new(ComponentIdGenerator);
        _isAdmin = ChatHub.AccountUI.OwnAccount.Value.IsAdmin;
    }

    private void OnImagePicked(MediaContent mediaContent) {
        _form.Picture = new(mediaContent);
        StateHasChanged();
    }

    private async Task OnCreate() {
        if (!_formRef.IsValid)
            return;
        try {
            var command = new Chats_Change(ChatHub.Session, default, null, new() {
                Create = new ChatDiff {
                    Title = _form.Title,
                    Kind = ChatKind.Group,
                    IsPublic = _form.IsPublic,
                    MediaId = _form.Picture?.MediaContent?.MediaId,
                    AllowGuestAuthors = _form.AllowGuestAuthors,
                    AllowAnonymousAuthors = _form.AllowAnonymousAuthors,
                },
            });
            var (chat, createChatError) = await ChatHub.UICommander().Run(command, CancellationToken.None);
            if (createChatError != null)
                return;

            chat.Require();
            ChatCreated(chat);
        }
        catch { // Intended: command errors are shown in the UI anyway
        }
    }

    public sealed class FormModel {
        [Required, MinLength(1)]
        public string Title { get; set; } = "";

        public Picture? Picture { get; set; }
        public bool IsPublic { get; set; }
        public bool AllowGuestAuthors { get; set; }
        public bool AllowAnonymousAuthors { get; set; }

        public string FormId { get; }
        public string TitleId { get; }
        public string IsPublicTrueFormId { get; }
        public string IsPublicFalseFormId { get; }
        public string AllowGuestAuthorsFormId { get; }
        public string AllowAnonymousAuthorsFormId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("new-chat-form");
            TitleId = $"{FormId}-title";
            var isPublicFormId = $"{FormId}-is-public";
            IsPublicTrueFormId = isPublicFormId + "-true";
            IsPublicFalseFormId = isPublicFormId + "-false";
            AllowGuestAuthorsFormId = $"{FormId}-allows-guests";
            AllowAnonymousAuthorsFormId = $"{FormId}-allows-anonymous";
        }
    }
}
