@implements IModalView<NewChatModal.Model>
@inherits FusionComponentBase
@namespace ActualChat.Chat.UI.Blazor.Components

@{
    var title = _chat != null ? _chat.Title : "New chat";
}
<DialogFrame
    Class="new-chat-modal"
    Title="@title"
    HasCloseButton="true"
    NarrowViewSettings="@_narrowViewSettings">
    <Body>
        @if (_page == Page.Props) {
            <NewChatModalProps
                ButtonsSlotName="@_buttonsSlotName"
                ChatCreated="OnChatCreated"
                CloseRequested="OnClose" />
        }
        else if (_page == Page.Members){
            <NewChatModalMembers
                ButtonsSlotName="@_buttonsSlotName"
                ChatSid="@_chat!.Id"
                Closed="OnClose" />
        }
    </Body>
    <Buttons>
        <RenderSlot Name="@_buttonsSlotName" />
    </Buttons>
</DialogFrame>

@code {
    private readonly DialogFrameNarrowViewSettings _narrowViewSettings =
        DialogFrameNarrowViewSettings.Stretch with { UseInteractiveHeader = true, ShouldHideButtons = false};
    private readonly string _buttonsSlotName = Guid.NewGuid().ToString();

    private Chat? _chat;
    private Page _page = Page.Props;

    [Inject] private History History { get; init; } = null!;
    [Inject] private ChatListUI ChatListUI { get; init; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override void OnInitialized()
        => _ = NavigateToChatWhenClosed();

    private async void OnChatCreated(Chat chat) {
        _chat = chat;
        var peopleContacts = await ChatListUI.ListAllUnordered(ChatListFilter.People);
        if (peopleContacts.Count == 0) {
            // If there is no people to add, close the dialog.
            OnClose();
        } else {
            _page = Page.Members;
            // Re-render component to show Add members page.
            StateHasChanged();
        }
    }

    private void OnClose()
        => Modal.Close();

    private async Task NavigateToChatWhenClosed() {
        await Modal.Ref.WhenClosed;
        if (_chat == null)
            return;
        _ = History.NavigateTo(Links.Chat(_chat.Id));
    }

    public sealed record Model;
    private enum Page { Props, Members }
}
