@namespace ActualChat.Chat.UI.Blazor.Components

<div class="round-progress">
    <svg width="@Diameter" height="@Diameter">
        <circle
            class="text-04"
            stroke-width="1"
            stroke="currentColor"
            fill="transparent"
            r="@Radius"
            cx="@Center"
            cy="@Center"/>
        <circle
            class="text-record"
            stroke-width="@StrokeWidth"
            stroke-dasharray="@Circumference"
            stroke-dashoffset="@Offset"
            transform="rotate(-90,@Center,@Center)"
            stroke-linecap="round"
            stroke="currentColor"
            fill="transparent"
            r="@Radius"
            cx="@Center"
            cy="@Center"/>
    </svg>
    @ChildContent
</div>

@code {
    [Parameter] public int TotalSteps { get; set; }
    [Parameter] public int CurrentStep { get; set; }
    [Parameter] public double Diameter { get; set; } = 58;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private double StrokeWidth => 2;
    private double Center => Diameter / 2;
    private double Radius => Diameter / 2 - StrokeWidth;
    private double Circumference => 2 * Math.PI * Radius;
    private double Progress => TotalSteps == 0 ? 0 : CurrentStep / (double)TotalSteps;
    private double Offset => Circumference - Progress * Circumference;
}
