@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@using ActualChat.Chat
@inherits FusionComponentBase

<div class="avatar-badge @Class" @onclick="@Click">
    <AvatarCircle
        Avatar="@Avatar"
        Size="@Size"
        Width="@Width"
        Height="@Height"
        IsBlurred="@IsBlurred"
        BadgeContent="@BadgeContent" />
    <div class="c-name">
        <AvatarName Avatar="@Avatar" Class="@NameClass"/>
        @if (ShowStatusText && !StatusText.IsNullOrEmpty()) {
            <span class="@_statusTextClass">@StatusText</span>
        }
    </div>
</div>

@code {
    private string _statusTextClass = "";

    [Parameter, EditorRequired] public Avatar Avatar { get; set; } = null!;
    [Parameter] public RenderFragment? BadgeContent { get; set; }
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size10;
    [Parameter] public int Width { get; set; } = 40;
    [Parameter] public int Height { get; set; } = 40;
    [Parameter] public bool IsBlurred { get; set; }
    [Parameter] public string NameClass { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool ShowStatusText { get; set; }
    [Parameter] public string? StatusText { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    protected override void OnParametersSet() {
        _statusTextClass = "c-status " + GetStatusTextClass();
    }

    private string GetContentClass()
        => "ml-3";

    private string GetStatusTextClass()
        => (int)Size < 12 ? "c-status-sm" : "";
}
