@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@using ActualChat.Chat
@inherits FusionComponentBase

<div class="avatar-badge @Class" @onclick="@Click">
    <AvatarCircle Avatar="@Avatar" Size="@Size" Presence="@Presence" />
    <div class="c-name">
        <AvatarName Avatar="@Avatar" Class="@NameClass"/>
        @if (ShowStatusText && !_statusText.IsNullOrEmpty()) {
            <span class="@_statusTextClass">@_statusText</span>
        }
    </div>
</div>

@code {
    private string _statusTextClass = "";
    private string _statusText = "";

    [Parameter, EditorRequired] public Avatar Avatar { get; set; } = null!;
    [Parameter] public Presence Presence { get; set; } = Presence.Unknown;
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size10;
    [Parameter] public string NameClass { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool ShowStatusText { get; set; }
    [Parameter] public string? StatusText { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    protected override void OnParametersSet() {
        _statusText = StatusText ?? GetStatusText();
        _statusTextClass = "c-status " + GetStatusTextClass();
    }

    private string GetContentClass()
        => "ml-3";

    private string GetStatusText()
        => Presence switch {
            Presence.Recording => "recording",
            Presence.Online => "online",
            _ => "",
        };

    private string GetStatusTextClass()
        => (int)Size < 12 ? "c-status-sm" : "";
}
