@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@using ActualChat.Chat
@inherits FusionComponentBase

<div class="avatar-badge @Class" @onclick="@Click">
    <AvatarCircle
        Avatar="@Avatar"
        Size="@Size"
        BadgeContent="@BadgeContent" />
    <div class="c-name">
        <AvatarName Avatar="@Avatar" Class="@NameClass"/>
        @if (!StatusText.IsNullOrEmpty()) {
            <span class="c-status">@StatusText</span>
        } else if (StatusContent != null) {
            <span class="c-status">@StatusContent</span>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public Avatar Avatar { get; set; } = null!;
    [Parameter] public RenderFragment? BadgeContent { get; set; }
    [Parameter] public RenderFragment? StatusContent { get; set; }
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size10;
    [Parameter] public string NameClass { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string? StatusText { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
}
