@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@using Microsoft.Toolkit.HighPerformance
@using ActualChat.UI.Blazor.Services
@inherits FusionComponentBase
@{
    var title = HasTooltip ? Avatar.Name : "";
}

<div class="avatar-circle">
    <div class="c-content">
        @if (ReferenceEquals(Avatar, Avatar.Loading)) {
            <div class="c-skeleton @_avatarClass"></div>
        } else {
            <img draggable="false" class="@_avatarClass @Class c-avatar"
                 src="@_avatarPictureUrl" alt="avatar" title="@title"
                 @onclick="@Click"/>
        }

        <PresenceIndicator Presence="@Presence"/>
    </div>
</div>

@code {
    private string _avatarClass = "";
    private string _avatarPictureUrl = "";

    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [Parameter, EditorRequired] public Avatar Avatar { get; set; } = null!;
    [Parameter] public Presence Presence { get; set; }
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size9;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasTooltip { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    protected override void OnParametersSet() {
        _avatarClass = GetSizeClass();
        if (Click.HasDelegate)
            _avatarClass += " cursor-pointer";
        _avatarPictureUrl = UrlMapper.AvatarPicturePreview128Url(Avatar);
    }

    private string GetSizeClass() {
        var size = (int) Size;
        return $"pic-size-{size}";
    }
}
