@using ActualChat.Users
@namespace ActualChat.UI.Blazor.Components
@inherits FusionComponentBase

@{
    RenderFragment RenderCircle(string color, int cy = 8, int r = 7)
        => @<div class="right-0 bottom-0 w-4 h-4 rounded-full absolute bg-01">
               <svg class="@color w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 32 32">
                   <circle cx="8" cy="@cy" r="@r"/>
               </svg>
           </div>;
}

@switch (Presence) {
    case Presence.Online:
        @RenderCircle("text-online");
        break;
    case Presence.Away:
        @RenderCircle("text-away");
        break;
    case Presence.Recording:
        @RenderCircle("text-code", 9, 6);
        break;
}

@code {
    [Parameter] public Presence Presence { get; set; }
}
