@using ActualChat.UI.Blazor.Services
<DiveInDialogFramePage
    Id="@DiveInModal.PageIds.Start"
    IsStartPage="true"
    Title="Dive-in modal (Start)">
    <Body Context="context">
        <div class="grow flex-y justify-center items-center">
            <h3>DiveInModalRoot</h3>
            <Button class="btn-primary" Click="@(_ => context.StepIn(DiveInModal.PageIds.Inner))">
                Move INSIDE
            </Button>
        </div>
    </Body>
    <Buttons Context="context">
        <Button Type="@ButtonType.Button" Class="btn-modal" Click="@(_ => context.Close())">Cancel</Button>
        <Button Type="@ButtonType.Button" Class="btn-primary btn-modal" Click="@(_ => OnSubmit(context))">Save</Button>
    </Buttons>
</DiveInDialogFramePage>

@code {
    [Inject] private ToastUI ToastUI { get; set; } = null!;

    private void OnSubmit(DiveInModalPageContext context) {
        context.Close();
        ToastUI.Show("DiveInModal submitted", "icon-checkmark-circle", 3);
    }
}
