@using ActualChat.Hosting
@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components
@inject HostInfo _hostInfo
@inject NavbarService _navbarService

@{
    var isActive = _navbarService.ActiveGroupId == Id;
    var cls = isActive ? "text-primary bg-primary" : "text-secondary bg-accent";
}

<button onclick="@OnClicked" title="@Title" class="navbar-menu-button @cls h-10 w-10 flex justify-center grid content-center cursor-pointer @Class">
    <svg xmlns="http://www.w3.org/2000/svg" class="navbar-menu-icon fill-current h-@IconHeight w-@IconWidth" viewBox="@ViewBox">
        <path d="@IconPath"></path>
    </svg>
</button>

@code {
    [Parameter] public string? Class { get; set; } = "";
    [Parameter] public string? IconPath { get; set; }
    [Parameter] public int IconHeight { get; set; } = 6;
    [Parameter] public int IconWidth { get; set; } = 6;
    [Parameter] public string ViewBox { get; set; } = "0 0 24 24";
    [Parameter, EditorRequired] public string Title { get; set; } = "";
    [Parameter, EditorRequired] public string Id { get; set; } = "";

    private void OnClicked() {
        _navbarService.ActivateGroup(Id, Title);
    }

    protected override void OnInitialized() {
        _navbarService.ActiveGroupChanged += (s, e) => StateHasChanged();
    }

}
