@using System.ComponentModel.DataAnnotations
@using ActualChat.Chat
@using Stl.CommandR.Internal
@using Stl.Generators
@implements IModalView<OwnAvatarEditorModal.Model>

<Form @ref="_formRef" Class="h-full" Model="@_form" OnSubmit="@OnSave">
    <DialogFrame
        Class="own-account-editor-modal"
        Title="@_form.Title"
        HasCloseButton="true"
        NarrowViewSettings="@DialogFrameNarrowViewSettings.FormSubmitButton()"
        ButtonsClass="full-width">
        <Body>
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <PicUpload
            ImageUploadUrl="@UploadUrl"
            ImagePicked="OnImagePicked"
            Size="SquareSize.Size30"
            Title="@_form.Bio"
            ContentId="@_form.PictureUrl">
            <NoPicture>
                <AnonymousIcon Class="w-32 h-32"/>
            </NoPicture>
        </PicUpload>

        <Button Class="transparent border-none self-center" Click="OnGenerateAvatarClick">
            <div class="flex min-w-10 items-center justify-center">
                <i class="icon-sync text-xl text-primary"></i>
            </div>
            <div class="flex items-center text-headline-1 text-primary">
                Generate random avatar
            </div>
        </Button>

        <FormSection For="() => _form.Name" InputId="@_form.NameFieldId" Label="Name" IsLabelInsideInput="true">
            <TextBox @bind-Value="@_form.Name" Id="@_form.NameFieldId"/>
        </FormSection>

        <FormSection For="() => _form.Bio" InputId="@_form.BioFieldId" Label="Bio" IsLabelInsideInput="true">
            <TextBox @bind-Value="@_form.Bio" Id="@_form.BioFieldId"/>
        </FormSection>

        <FormSection For="() => _form.IsDefault" InputId="@_form.IsDefaultFieldId" Class="is-default-avatar">
            <button
                type="button"
                class="default-avatar-btn"
                @onclick="@ChangeDefaultAvatar">
                <div>
                    <i class="icon-star text-xl hover:text-primary @(_form.IsDefault ? "text-primary" : "text-icons-01")"></i>
                </div>
                <div class="flex w-full px-8 text-02">
                    Make default
                </div>
                <ToggleEdit @bind-Value="@_form.IsDefault" Id="@_form.IsDefaultFieldId"/>
            </button>
        </FormSection>

        <button type="button" class="delete-avatar-btn" @onclick="@OnDeleteAvatarClick">
            <div>
                <i class="icon-trash03 text-xl text-error"></i>
            </div>
            <div class="flex w-full px-8 text-error">
                Delete avatar
            </div>
        </button>

        @if (!ModalModel.ChatId.IsNone) {
            <FormSection For="() => _form.IsActive" InputId="@_form.IsActiveFieldId">
                <ToggleEdit @bind-Value="@_form.IsActive" Id="@_form.IsActiveFieldId"
                            Label="Used in this chat (otherwise the default one is used)"/>
            </FormSection>
        }
        </Body>
        <Buttons>
            <FormButtons>
                @{
                    var submitClass = $"btn-primary {(_formRef.IsValid ? "" : "disabled")}";
                }
                <Button Type="@ButtonType.Button" Class="btn-cancel" Click="OnCancel">Cancel</Button>
                <Button Type="@ButtonType.Submit" Class="@submitClass">Save</Button>
            </FormButtons>
        </Buttons>
    </DialogFrame>
</Form>

@code {
    private static RandomStringGenerator IdGenerator { get; } = new(10, Alphabet.AlphaNumeric);
    private Form _formRef = null!;
    private FormModel _form = null!;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAvatars Avatars { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    private string UploadUrl => "/api/avatars/upload-picture";

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override async Task OnParametersSetAsync() {
        _form = new FormModel(ComponentIdGenerator).CopyToBase(); // Must be fully initialized in sync part
        var avatar = await Avatars.GetOwn(Session, ModalModel.AvatarId, default);
        var account = await Accounts.GetOwn(Session, default);
        var isDefault = ModalModel.AvatarId == account.Avatar.Id;
        var isActive = false;
        if (!ModalModel.ChatId.IsNone) {
            var author = await Authors.GetOwn(Session, ModalModel.ChatId, default);
            isActive = ModalModel.AvatarId == (author?.AvatarId ?? Symbol.Empty);
        }

        if (avatar != null) {
            if (avatar.Media != null) {
                _form.PictureUrl = avatar.Media.ContentId;
                _form.PictureId = avatar.Media.Id;
            } else {
                _form.PictureUrl = avatar.Picture;
            }
        }

        _form.Name = avatar?.Name ?? "";
        _form.Bio = avatar?.Bio ?? "";
        _form.IsDefault = isDefault;
        _form.IsActive = isActive;
        _form.Title = ModalModel.Title;
        _form.CopyToBase();
    }

    private async Task OnSave() {
        var (avatarId, chatId, _) = ModalModel;
        var avatar = await Avatars.GetOwn(Session, avatarId, default);
        if (avatar == null) {
            _ = UICommander.Run(new LocalActionCommand() {
                Handler = _ => throw StandardError.NotFound<Avatar>(),
            });
            return;
        }
        avatar = avatar with {
            Name = _form.Name,
            Bio = _form.Bio,
            MediaId = _form.PictureId,
            Picture = _form.PictureId.IsNone ? _form.PictureUrl : "",
        };
        var command = new Avatars_Change(Session, avatarId, avatar.Version, new Change<AvatarFull>() {
            Update = avatar,
        });
        var (_, error) = await UICommander.Run(command);
        if (error != null)
            return;

        if (_form is { IsDefault: true, Base.IsDefault: false })
            await SetDefaultAvatar(_form.IsDefault ? avatarId : default);
        if (!chatId.IsNone && _form is { IsActive: true, Base.IsActive: false })
            await SetActiveAvatar(_form.IsActive ? avatarId : default);

        _form.CopyToBase();
        CloseModal();
    }

    private void OnImagePicked(MediaContent mediaContent) {
        _form.PictureUrl = mediaContent.ContentId;
        _form.PictureId = mediaContent.MediaId;
        _form.CopyToBase();
        StateHasChanged();
    }

    private async Task SetDefaultAvatar(Symbol avatarId)
    {
        var command = new Avatars_SetDefault(Session, avatarId);
        await UICommander.Run(command);
    }

    private async Task SetActiveAvatar(Symbol avatarId)
    {
        var author = await Authors.GetOwn(Session, ModalModel.ChatId, default);
        if (author == null)
            return;

        var command = new Authors_SetAvatar(Session, ModalModel.ChatId, avatarId);
        await UICommander.Run(command);
    }

    private void OnCancel()
        => CloseModal();

    private async Task OnDeleteAvatarClick() {
        var command = new Avatars_Change(Session, ModalModel.AvatarId, null, new() {
            Remove = true,
        });
        await UICommander.Run(command);
        Modal.Close();
    }

    private void OnGenerateAvatarClick() {
        _form.PictureUrl = DefaultUserPicture.GetBoringAvatar(IdGenerator.Next());
        _form.PictureId = MediaId.None;
        _form.CopyToBase();
        StateHasChanged();
    }

    private void CloseModal()
        => Modal.Close();

    private void ChangeDefaultAvatar()
        => _form.IsDefault = !_form.IsDefault;

    public sealed class FormModel : FormModel<FormModel> {
        [Required, MinLength(1)] public string Name { get; set; } = "";
        public string NameFieldId { get; set; } = "";
        public string PictureUrl { get; set; } = "";
        public string Bio { get; set; } = "";
        public string BioFieldId { get; set; } = "";
        public bool IsDefault { get; set; }
        public string IsDefaultFieldId { get; set; } = "";
        public bool IsActive { get; set; }
        public string IsActiveFieldId { get; set; } = "";
        public string Title { get; set; } = "";
        public MediaId PictureId { get; set; } = MediaId.None;

        public FormModel(ComponentIdGenerator? componentIdGenerator)
            : base("avatar-editor", componentIdGenerator) {
        }
    }

    public sealed record Model(Symbol AvatarId, ChatId ChatId, string Title);
}
