@using ActualChat.Chat
@namespace ActualChat.Users.UI.Blazor.Components
@inherits ComputedStateComponent<List<AvatarFull>>
@{
    var avatars = State.Value;
}

<div class="flex-y gap-y-2">
    @foreach (var avatar in avatars) {
        <Tile>
            <TileItem IsHoverable="false" Class="first-tile-item">
                <Icon>
                    <AvatarCard Avatar="@avatar"/>
                </Icon>
                <Right>
                    <TileButtons
                        Avatar="@avatar"
                        EditClick="@(() => EditAvatar(avatar, "Edit avatar"))"
                        SetDefaultClick="@(() => SetDefaultAvatar(avatar))"/>
                </Right>
                <Content>
                    @avatar.Name
                </Content>
            </TileItem>

            <TileItem>
                <Icon>
                    <i class="icon-info text-xl"></i>
                </Icon>
                <Content>
                    @avatar.Bio
                </Content>
                <Caption>
                    Bio
                </Caption>
            </TileItem>
        </Tile>
    }

    <OwnAvatarAddTile OnClick="OnAddNewAvatar"/>
</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAvatars Avatars { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    private ChatId ChatId => Chat?.Id ?? ChatId.None;

    [Parameter, EditorRequired] public AccountFull Account { get; set; } = null!;
    [Parameter] public Chat? Chat { get; set; } = null;

    protected override ComputedState<List<AvatarFull>>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<List<AvatarFull>>.Options() {
                InitialValue = [],
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<List<AvatarFull>> ComputeState(CancellationToken cancellationToken) {
        var avatarIds = await Avatars.ListOwnAvatarIds(Session, cancellationToken).ConfigureAwait(false);
        var avatars = await avatarIds
            .Select(id => Avatars.GetOwn(Session, id, cancellationToken))
            .Collect()
            .ConfigureAwait(false);
        return avatars.SkipNullItems().ToList();
    }

    private async Task OnAddNewAvatar() {
        if (Chat != null)
            throw StandardError.Constraint("Avatars can be added only on account page.");

        var command = new Avatars_Change(Session, Symbol.Empty, null, new Change<AvatarFull>() {
            Create = new AvatarFull(Account.Id).WithMissingPropertiesFrom(Account.Avatar),
        });
        var (avatar, error) = await UICommander.Run(command);
        if (error != null)
            return;

        await EditAvatar(avatar, "Add avatar");
    }

    private Task EditAvatar(AvatarFull avatar, string title)
        => ModalUI.Show(new OwnAvatarEditorModal.Model(avatar.Id, ChatId, title));

    private async Task SetDefaultAvatar(AvatarFull avatar) {
        var command = new Avatars_SetDefault(Session, avatar.Id);
        await UICommander.Run(command);
    }
}
