@using System.Text.Encodings.Web
@inherits ComputedStateComponent<UserAvatarsEditor.Model>
@{
    var items = State.LatestNonErrorValue.Items;
}

<ul class="flex flex-wrap gap-4">
    @foreach (var item in items) {
        var brdCls = !ChatId.IsNullOrEmpty() && item.IsUserDefault ? "border border-green-300" : "";
        <li class="group">
            <div class="relative">
                <UserAvatar AvatarId="@item.AvatarId" Class="@brdCls">
                    <ActionsTemplate>
                        <div class="btn-group justify-center">
                            <Button Click="@(() => EditAvatar(item.AvatarId))" Class="btn-cancel">Edit</Button>
                            @if (item.IsSelected) {
                                <Button Class="btn-success" Click="@(() => Select(""))">Unselect</Button>
                            } else {
                                <Button Class="btn-success" Click="@(() => Select(item.AvatarId))">Select</Button>
                            }
                        </div>
                    </ActionsTemplate>
                </UserAvatar>
                <div class="absolute top-0 right-0 mr-3 mt-2">
                    @if (item.IsSelected) {
                        <i class="fa fa-check fa-lg text-success" aria-hidden="true"></i>
                    }
                </div>
            </div>
        </li>
    }
    <li class="group">
        <UserAvatar>
            <ActionsTemplate>
                <div class="btn-group justify-center">
                    <Button Class="btn-success" Click="OnAddNewAvatar">Add new</Button>
                </div>
            </ActionsTemplate>
        </UserAvatar>
    </li>
</ul>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IUserAvatars UserAvatars { get; init; } = null!;
    [Inject] private IChatUserSettings ChatUserSettings { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;

    [Parameter] public string ChatId { get; set; } = "";

    protected override ComputedState<Model>.Options GetStateOptions()
        => new () { InitialValue = new() };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var avatarIds = await UserAvatars.GetAvatarIds(Session, cancellationToken).ConfigureAwait(true);
        var userDefaultAvatarId = await UserAvatars.GetDefaultAvatarId(Session, cancellationToken).ConfigureAwait(true);
        string selectedAvatarId;
        if (ChatId.IsNullOrEmpty()) {
            selectedAvatarId = userDefaultAvatarId;
        } else {
            var chatUserSettings = await ChatUserSettings.Get(Session, ChatId, cancellationToken).ConfigureAwait(true);
            selectedAvatarId = chatUserSettings?.AvatarId ?? "";
        }
        return new Model {
            Items = avatarIds.Select(c => new Item {
                AvatarId = c,
                IsUserDefault = c == userDefaultAvatarId,
                IsSelected = c == selectedAvatarId
            }).ToArray(),
        };
    }

    private async Task Select(string avatarId) {
        if (ChatId.IsNullOrEmpty()) {
            var command = new IUserAvatars.SetDefaultCommand(Session, avatarId);
            await Cmd.Run(command).ConfigureAwait(false);
        } else {
            var chatUserSettings = await ChatUserSettings.Get(Session, ChatId, default).ConfigureAwait(false);
            chatUserSettings ??= new();
            chatUserSettings = chatUserSettings with { AvatarId = avatarId };
            var command = new IChatUserSettings.SetCommand(Session, ChatId, chatUserSettings);
            await Cmd.Run(command).ConfigureAwait(false);
        }
    }

    private async Task OnAddNewAvatar() {
        var command = new IUserAvatars.CreateCommand(Session);
        await Cmd.Run(command).ConfigureAwait(false);
    }

    private void EditAvatar(string avatarId) {
        var returnUrl = Nav.ToBaseRelativePath(Nav.Uri);
        Nav.NavigateTo("user/avatar/" + avatarId + "?returnUrl=" + UrlEncoder.Default.Encode(returnUrl));
    }

    public class Model {
        public Item[] Items { get; set; } = Array.Empty<Item>();
    }

    public class Item {
        public bool IsUserDefault { get; set; }
        public bool IsSelected { get; set; }
        public string AvatarId { get; set; } = "";
    }
}
