@using System.ComponentModel.DataAnnotations
@using Stl.Fusion.Authentication.Commands
@using Stl.Reflection

<Form Model="@M" OnValidSubmit="@OnSave" >
    <ValidationSummary />

    <FormSection InputId="@M.NameFieldId" Label="Name" IsRequired="true">
        <TextBox @bind-Value="@M.Name" Id="@M.NameFieldId" Autofocus="true" />
    </FormSection>

    <FormButtons>
        <Button Type="@ButtonType.Submit" class="btn-success my-2">Save</Button>
    </FormButtons>
</Form>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;

    private FormModel M { get; set; } = null!;

    protected override async Task OnInitializedAsync() {
        M = new FormModel(ComponentIdGenerator).CopyToBase(); // Must be fully initialized in sync part
        var account = await Accounts.Get(Session, default).ConfigureAwait(true);
        M.Name = account?.User.Name ?? "";
        M.CopyToBase();
    }

    private async void OnSave() {
        var command = new EditUserCommand(Session, M.Name);
        await Cmd.Run(command).ConfigureAwait(true);
    }

    public sealed class FormModel : FormModel<FormModel> {

        [Required, MinLength(4)]
        public string Name { get; set; } = "";
        public string NameFieldId { get; set; } = "";

        public FormModel(ComponentIdGenerator? componentIdGenerator)
            : base("user-name-editor", componentIdGenerator)
        { }
    }
}
