@namespace ActualChat.Chat.UI.Blazor.Components

@{
    var author = Model.Author;
    var entry = Model.Entry;
    var picture = string.IsNullOrWhiteSpace(author.Picture)
        ? $"https://avatars.dicebear.com/api/avataaars/{author.Name}.svg"
        : author.Picture;
}

<div class="chat-message flex items-start mb-4 text-sm">
    <img src="@picture" class="chat-avatar-common chat-avatar-blue" alt="@author.Name"/>
    <div class="flex-1 overflow-hidden">
        <div class="header">
            <span class="chat-message-author-name-blue">@author.Name</span>
            <span class="chat-message-entry-time-blue">@entry.BeginsAt.ToString("HH:mm")</span>
            &nbsp;
            <span class="chat-message-entry-id-blue">id=@entry.Id</span>
        </div>
        <div class="word">
            @if (entry.IsStreaming) {
                <ChatMessageTranscript Model="@Model"/>
            } else {
                <ChatMessageMarkup Model="@Model"/>
            }
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired, ParameterComparer(typeof(ByReferenceParameterComparer))]
    public ChatMessageModel Model { get; set; } = null!;

    public override Task SetParametersAsync(ParameterView parameters)
        => this.HasChangedParameters(parameters) ? base.SetParametersAsync(parameters) : Task.CompletedTask;
}
