@using ActualChat.Contacts
@inherits FusionComponentBase
@{
    var chat = Chat;
}
<div class="c-content">
    @if (IsLeftNavigateButtonVisible) {
        <HeaderButton Click="OnOpenLeftPanelClick" Class="md:hidden">
            <i class="icon-arrow-left"></i>
        </HeaderButton>
    }
    <div class="chat-header-center">
        @if (!ReferenceEquals(chat, SpecialChat.NoChatSelected)) {
            <ChatIcon Chat="@chat"/>
            <div class="chat-header-title">
                <div class="c-title">@chat.Title</div>
            </div>
            <div class="c-activities-container">
                <ChatActivities @key="@chat" Chat="@chat"/>
            </div>
        }
    </div>
    @if (!chat.Id.IsNone) {
        <div class="chat-header-control-panel">
            <ChatSearch @key="@chat" Chat="@chat"/>
            @if (IsRightNavigateButtonVisible) {
                <ChatHeaderRightPanelToggle Click="OnSwitchRightPanelClick"/>
            }
        </div>
    }
</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private PanelsUI PanelsUI { get; init; } = null!;

    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;
    [Parameter] public bool IsLeftNavigateButtonVisible { get; set; } = true;
    [Parameter] public bool IsRightNavigateButtonVisible { get; set; } = true;

    private void OnSwitchRightPanelClick()
        => PanelsUI.Right.Toggle();

    private void OnOpenLeftPanelClick()
        => PanelsUI.Left.SetIsVisible(true);
}
