@using ActualChat.Users
@using BlazorContextMenu
@namespace ActualChat.Chat.UI.Blazor.Components

@{
    RenderFragment RenderChat(Chat c) =>
        @<NavbarItem Url="@($"/chat/{c.Id}")" IsActive="@(ActiveChatId == c.Id)">
            <ChildContent>
                <ContextMenuTrigger MouseButtonTrigger="MouseButtonTrigger.Right" MenuId="@RightClickChatMenu.Id" Data="@c">
                    <div class="flex-x items-center">
                        <ChatIcon Title="@c.Title" Picture="@c.Picture" Size="SquareSize.Size8"/>
                        <span class="ml-1 text-ellipsis whitespace-nowrap overflow-hidden">@c.Title</span>
                    </div>
                </ContextMenuTrigger>
            </ChildContent>
            <Ending>
                @if (Group == ChatGroup.Listening ) {
                    <ChatListPlaybackToggle ChatId="@c.Id"/>
                    <ChatListRecordingToggle ChatId="@c.Id"/>
                    <ListeningChatRemoveButton ChatId="@c.Id"/>
                } else {
                    <ChatListPlaybackToggle ChatId="@c.Id" Class="chat-menu-btn"/>
                    <ChatListRecordingToggle ChatId="@c.Id" Class="chat-menu-btn"/>

                    <ContextMenuToggleTrigger MenuId="@RightClickChatMenu.Id" Data="@c">
                        <div class="flex">
                            <Button Class="btn-round chat-menu-btn">
                                <svg class="w-6 h-6 fill-current" xlmns="http://www.w3.org/2000/svg" viewBox="-1 -1 26 26">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C13.104 7 14 6.104 14 5C14 3.896 13.104 3 12 3C10.896 3 10 3.896 10 5C10 6.104 10.896 7 12 7ZM12 10C10.896 10 10 10.896 10 12C10 13.104 10.896 14 12 14C13.104 14 14 13.104 14 12C14 10.896 13.104 10 12 10ZM10 19C10 17.896 10.896 17 12 17C13.104 17 14 17.896 14 19C14 20.104 13.104 21 12 21C10.896 21 10 20.104 10 19Z"/>
                                </svg>
                            </Button>
                            <div class="fixed -right-2">
                                <div class="placement -mt-2">
                                    @* <div class="bg-blue-500 w-6 h-6"></div> *@
                                </div>
                            </div>
                        </div>
                    </ContextMenuToggleTrigger>

                    <UnreadMessageCounter ChatId="@c.Id"/>
                }
            </Ending>
        </NavbarItem>;
}

@if (ChatList != null) {
    <div class="@GetCss(Group)">
        @foreach (var c in ChatList) {
            @RenderChat(c)
        }
    </div>
}

@code {
    public enum ChatGroup {
        Pinned,
        Unpinned,
        Listening,
    }

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    [Parameter] public ChatGroup Group { get; set; } = ChatGroup.Listening;
    [Parameter] public List<Chat>? ChatList { get; set; }
    [Parameter] public string ActiveChatId { get; set; } = "";

    private string GetCss(ChatGroup group) {
        return group switch
        {
            ChatGroup.Pinned => "pinned-chats",
            ChatGroup.Unpinned => "unpinned-chats custom-scrollbar",
            _ => "",
            };
    }
}
