@using ActualChat.Chat.UI.Blazor.Events
@inherits ComputedStateComponent<ChatListNavbarWidget.Model>
@{
    var m = State.LatestNonErrorValue;
    var chats = m.PinnedChats.Concat(m.UnpinnedChats).Select(x => x.Id).ToList();

    RenderFragment RenderTab(TabId tabId, string tabTitle) =>
        @<Tab
             Title="@tabTitle" Id="@tabId.ToString()"
             Class="flex-y self-start relative overflow-y-auto custom-scrollbar h-full chats-tab">
            <TitleContent>
                <span>@tabTitle</span>
                <UnreadMessagesCounter Chats="chats" Click="@OnTabUnreadBadgeClick"/>
            </TitleContent>
            <ChildContent>
                <div class="h-full flex-y my-2">
                    <ChatList Kind="ChatListKind.Pinned" Chats="@m.PinnedChats"/>
                    <ChatList Kind="ChatListKind.Unpinned" Chats="@m.UnpinnedChats"/>
                </div>
            </ChildContent>
        </Tab>;
}

<NavbarGroup Title="Chats" Class="navbar-chats" Id="@NavbarGroupIds.Chats" AddClick="OnCreateNewChatClick">
    <ChildContent>
        <div class="-flex-y w-full h-full">
            <ActiveChatsNavbarWidget/>

            <TabPanel
                BottomHill="true"
                Class="overflow-y-hidden"
                TabsClass="left-panel-tabs"
                ActiveTabChanged="@OnActiveTabChanged">

                @RenderTab(TabId.Recent, "Recent")
            </TabPanel>
        </div>
    </ChildContent>
</NavbarGroup>

@code {
    private TabId _activeTabId;

    [Inject] private AppIsReadyMarker AppIsReadyMarker { get; init; } = null!;
    [Inject] private RecentChatsUI RecentChatsUI { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private SearchUI SearchUI { get; init; } = null!;
    [Inject] private UnreadMessages UnreadMessages { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            UpdateDelayer = FixedDelayer.Instant,
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chats = await ListChats(_activeTabId);

        var searchPhrase = await SearchUI.GetSearchPhrase(cancellationToken);
        // Default scheduler is used from here
        if (!searchPhrase.IsEmpty) {
            var selectedChat = await RecentChatsUI.GetSelectedChat(cancellationToken);
            chats = (
                from c in chats
                let rank = searchPhrase.GetMatchRank(c.Title)
                where rank > 0 || c.Id == selectedChat?.Id
                orderby rank descending
                select c
                ).ToImmutableList();
        }

        var pinnedChatIds = await ChatUI.PinnedChats.Use(cancellationToken);
        var pinnedChats = chats
            .Where(c => pinnedChatIds.Contains(c.Id))
            .ToList();
        var unpinnedChats = chats
            .Where(c => !pinnedChatIds.Contains(c.Id))
            .ToList();

        return new Model {
            PinnedChats = pinnedChats,
            UnpinnedChats = unpinnedChats,
        };
    }

    protected override void OnAfterRender(bool firstRender) {
        if (State.LatestNonErrorValue != Model.None)
            AppIsReadyMarker.Set();
    }

    private Task<ImmutableList<Chat>> ListChats(TabId tabId)
        => tabId switch {
            TabId.Recent => RecentChatsUI.ListIncludingSelected(),
            _ => throw new ArgumentOutOfRangeException(nameof(tabId)),
        };

    private void OnCreateNewChatClick()
        => ModalUI.Show(new NewChatModal.Model());

    private void OnActiveTabChanged(Tab? tab) {
        if (!Enum.TryParse(tab?.Id ?? "", out _activeTabId))
            _activeTabId = default;
        _ = State.Recompute();
    }

    private async Task OnTabUnreadBadgeClick() {
        var allChatIds = State.Value.PinnedChats.Concat(State.Value.UnpinnedChats).Select(x => x.Id).ToList();
        var firstUnreadChatId = await UnreadMessages.GetFirstUnreadChat(allChatIds, CancellationToken.None);
        if (firstUnreadChatId.IsEmpty)
            return;

        if (firstUnreadChatId == ChatUI.SelectedChatId.Value)
            return;

        Nav.NavigateTo(Links.ChatPage(firstUnreadChatId));
    }

    public enum TabId {
        Recent,
    }

    public sealed record Model {
        public static Model None { get; } = new();

        public List<Chat> PinnedChats { get; init; } = new ();
        public List<Chat> UnpinnedChats { get; init; } = new ();
    }

}
