@using ActualChat.Contacts
@inherits FusionComponentBase
@{
    var chat = Chat;
}
<div class="c-content">
    @if (IsLeftNavigateButtonVisible) {
        <HeaderButton Click="OnOpenLeftPanelClick" Class="md:hidden">
            <i class="icon-arrow-left"></i>
        </HeaderButton>
    }
    <div class="flex-auto flex-x justify-between items-center grow gap-x-2 py-0.5 overflow-hidden">
        @if (!ReferenceEquals(chat, SpecialChat.NoChatSelected)) {
            <ChatIcon Chat="@chat"/>
            <div class="flex-1 flex-x chat-header-title select-text no-highlight truncate">
                <div class="flex-y self-center truncate">
                    <div class="text-01 font-medium truncate">@chat.Title</div>
                    <div class="text-icons-02"></div>
                </div>
                <div class="flex-1"></div>
                <div class="flex-none flex-x items-center gap-x-3 px-0.5">
                    <ChatActivities @key="@chat" Chat="@chat"/>
                </div>
            </div>
        }
    </div>
    @if (!chat.Id.IsNone) {
        <div class="chat-header-control-panel">
            <div class="flex-x gap-x-1">
                <ChatSearch @key="@chat" Chat="@chat"/>
            </div>
            @if (IsRightNavigateButtonVisible) {
                <ChatHeaderRightPanelToggle Click="OnSwitchRightPanelClick"/>
            }
        </div>
    }
</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private PanelsUI PanelsUI { get; init; } = null!;

    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;
    [Parameter] public bool IsLeftNavigateButtonVisible { get; set; } = true;
    [Parameter] public bool IsRightNavigateButtonVisible { get; set; } = true;

    private void OnSwitchRightPanelClick()
        => PanelsUI.Right.Toggle();

    private void OnOpenLeftPanelClick()
        => PanelsUI.Left.SetIsVisible(true);
}
