@using System.Net
<div class="w-[250px] author-card-modal">
    <div class="flex-y h-full">
        <ChatAuthor ChatId="@_chatId" AuthorId="@ChatAuthorId">
            <div class="author-avatar w-12 h-12 select-none bg-secondary rounded-md">
                <img src="@context.Author.Picture" alt="@context.Author.Name"/>
            </div>
        </ChatAuthor>
        <div class="self-start pt-2">
            <ChatAuthor ChatId="@_chatId" AuthorId="@ChatAuthorId">
                <span class="text-primary font-semibold text-lg rounded">@context.Author.Name</span>
            </ChatAuthor>
        </div>
        <div class="flex-x font-light text-xs">
            ID: @ChatAuthorId
        </div>
        <ButtonGroup Class="btn-font-normal" ButtonsPosition="ButtonGroupPosition.Left">
            @if (_canAddContact && !_isAlreadyAdded) {
            <Button Class="btn-success" OnClick="OnAddContactClick" Disabled="@_isAddingContact">Add to Contacts</Button>
            }
            @if (_canSendMessage) {
            <Button Class="btn-success" OnClick="OnSendMessageClick">Send Message</Button>
            }
        </ButtonGroup>
    </div>
</div>

@code {
    private string? _chatId;
    private bool _canAddContact;
    private bool _isAddingContact;
    private bool _isAlreadyAdded;
    private bool _canSendMessage;

    [Inject] private IChatAuthors ChatAuthors { get; set; } = null!;
    [Inject] private IChats Chats { get; set; } = null!;
    [Inject] private Session Session { get; set; } = null!;
    [Inject] private UICommandRunner Cmd { get; set; } = null!;
    [Inject] private NavigationManager Nav { get; set; } = null!;

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = null!;

    [Parameter]
    public string ChatId { get; set; } = "";
    [Parameter, EditorRequired]
    public string ChatAuthorId { get; set; } = "";

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        // ModalInstance.SetTitle("User Info");

        if (!string.IsNullOrEmpty(ChatId))
            _chatId = ChatId;
        else if (!ActualChat.Chat.ChatAuthor.TryGetChatId(ChatAuthorId, out _chatId))
            throw new InvalidOperationException("Invalid chat author id given");
        _canAddContact = await ChatAuthors.CanAddToContacts(Session, ChatAuthorId, default);
        _canSendMessage = await Chats.CanSendUserPeerChatMessage(Session, ChatAuthorId, default);
    }

    private async Task OnAddContactClick() {
        if (_isAddingContact)
            return;
        _isAddingContact = true;
        var (_, e) = await Cmd.Run(new IChatAuthors.AddToContactsCommand(Session, ChatAuthorId));
        if (e.IsCompletedSuccessfully)
            _isAlreadyAdded = true;
        _isAddingContact = false;
    }

    private async Task OnSendMessageClick() {
        var peerChatId = await Chats.GetUserPeerChatId(Session, ChatAuthorId, default);
        var encodedUrl = WebUtility.UrlEncode(peerChatId);
        Nav.NavigateTo("/chat/" + encodedUrl);
    }
}
