@inherits ComputedStateComponent<ChatListNavbarWidget.Model>
@{
    var m = State.LatestNonErrorValue;
    var firstTabTitle = m.EnableIncompleteUI ? "All" : "Chats";
}

<NavbarGroup Title="Chats" Class="navbar-chats" Id="chats" AddClick="OnCreateNewChatClick">
    <ChildContent>
        <div class="-flex-y w-full h-full">
            <ActiveChatsNavbarWidget/>
            <TabPanel TabsClass="wide-left-panel-tabs" BottomHill="true" Class="overflow-y-hidden">
                <Tab Title="@firstTabTitle" Class="flex-y relative overflow-y-auto custom-scrollbar h-full chats-tab">
                    <div class="h-full flex-y my-2">
                        @if (m.PinnedChats.Count > 0) {
                            <ChatList Kind="ChatListKind.Pinned" Chats="@m.PinnedChats" ActiveChatId="@m.ActiveChatId"/>

                            <div class="mx-4 mb-2 border-b border-bg-04"></div>

                            if (m.UnpinnedChats.Count > 0) {
                                <ChatList Kind="ChatListKind.Unpinned" Chats="@m.UnpinnedChats" ActiveChatId="@m.ActiveChatId"/>
                            }
                        } else {
                            <ChatList Kind="ChatListKind.Unpinned" Chats="@m.UnpinnedChats" ActiveChatId="@m.ActiveChatId"/>
                        }
                    </div>
                </Tab>
                @if (m.EnableIncompleteUI) {
                    <Tab Title="Family">
                        <ToBeDone/>
                    </Tab>
                    <Tab Title="Friends">
                        <ToBeDone/>
                    </Tab>
                    <Tab Title="Work">
                        <ToBeDone/>
                    </Tab>
                }
            </TabPanel>
        </div>
        <ChatMenu />
    </ChildContent>
</NavbarGroup>

@code {
    [Inject] private RecentChats RecentChats { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private SearchUI SearchUI { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            UpdateDelayer = UpdateDelayer.MinDelay,
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chats = await RecentChats.List(cancellationToken).ConfigureAwait(false);
        var activeChat = await RecentChats.GetActiveChat(cancellationToken).ConfigureAwait(false);

        var searchPhrase = await SearchUI.GetSearchPhrase(cancellationToken).ConfigureAwait(false);
        if (!searchPhrase.IsEmpty)
            chats = (
                from c in chats
                let rank = searchPhrase.GetMatchRank(c.Title)
                where rank > 0 || c.Id == activeChat?.Id
                orderby rank descending
                select c
            ).ToImmutableArray();

        var pinnedChatIds = await ChatUI.PinnedChatIds.Use(cancellationToken).ConfigureAwait(false);
        var pinnedChats = chats
            .Where(c => pinnedChatIds.ContainsKey(c.Id))
            .ToList();
        var unpinnedChats = chats
            .Where(c => !pinnedChatIds.ContainsKey(c.Id))
            .ToList();


        var enableIncompleteUI = await Features.Get<UIFeatures.EnableIncompleteUI, bool>(cancellationToken).ConfigureAwait(false);

        return new Model {
            ActiveChatId = activeChat?.Id ?? Symbol.Empty,
            PinnedChats = pinnedChats,
            UnpinnedChats = unpinnedChats,
            EnableIncompleteUI = enableIncompleteUI,
        };
    }

    private void OnCreateNewChatClick()
        => ModalUI.Show(new NewChatModal.Model());

    public sealed record Model {
        public static Model None { get; } = new();

        public Symbol ActiveChatId { get; init; }
        public List<Chat> PinnedChats { get; init; } = new ();
        public List<Chat> UnpinnedChats { get; init; } = new ();
        public bool EnableIncompleteUI { get; init; }
    }
}
