@using ActualChat.Contacts
@inherits ComputedStateComponent<ContactListNavbarWidget.Model>
@{
    var m = State.LatestNonErrorValue;

    RenderFragment RenderTab(TabId tabId, string title) =>
        @<Tab
             Title="@title" Id="@tabId.ToString()"
             Class="flex-y self-start relative overflow-y-auto custom-scrollbar h-full contacts-tab">
            <div class="h-full flex-y my-2">
                <ContactList Contacts="m.PinnedContacts" Kind="ContactListKind.Pinned"/>
                <ContactList Contacts="m.UnpinnedContacts" Kind="ContactListKind.Unpinned"/>
            </div>
        </Tab>;
}

<NavbarGroup Title="Contacts" Class="navbar-contacts" Id="@NavbarGroupIds.Contacts">
    <ChildContent>
        <div class="-flex-y w-full h-full">
            <ActiveChatsNavbarWidget/>

            <TabPanel
                BottomHill="true"
                Class="overflow-y-hidden"
                TabsClass="left-panel-tabs"
                ActiveTabChanged="OnActiveTabChanged">

                @RenderTab(TabId.Recent, "Recent")
                @RenderTab(TabId.All, "A-Z")
                @* @RenderTab(ContactTab.Favorites, "Favorites") *@
            </TabPanel>
        </div>
    </ChildContent>
</NavbarGroup>

@code {
    private TabId _activeTabId;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IContacts Contacts { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private SearchUI SearchUI { get; init; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            UpdateDelayer = FixedDelayer.Instant,
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var account = await Accounts.GetOwn(Session, cancellationToken);
        if (!account.IsActive())
            return Model.None;

        var contacts = await ListContacts(_activeTabId, cancellationToken);
        var searchPhrase = await SearchUI.GetSearchPhrase(cancellationToken);
        if (!searchPhrase.IsEmpty) {
            var selectedChatId = await ChatUI.SelectedContactId.Use(cancellationToken);
            var selectedUserId = new ChatId(selectedChatId).GetPeerChatTargetUserId(account.Id);
            var selectedContact = contacts.FirstOrDefault(c => c.Account!.Id == selectedUserId);
            contacts = (
                from contact in contacts
                let rank = searchPhrase.GetMatchRank(contact.Account!.Avatar.Name)
                where rank > 0 || ReferenceEquals(selectedContact, contact)
                orderby rank descending
                select contact
                ).ToList();
        }

        var pinnedChatIds = await ChatUI.PinnedContacts.Use(cancellationToken);
        var pinnedContacts = contacts
            .Where(c => pinnedChatIds.Contains(c.Id.ChatId))
            .ToList();
        var unpinnedContacts = contacts
            .Where(c => !pinnedChatIds.Contains(c.Id.ChatId))
            .ToList();

        return new Model {
            PinnedContacts = pinnedContacts,
            UnpinnedContacts = unpinnedContacts,
        };
    }

    private async Task<List<Contact>> ListContacts(TabId tabId, CancellationToken cancellationToken) {
        var contacts = await Contacts.ListContacts(Session, c => c.Account != null, cancellationToken).ConfigureAwait(false);
        return tabId switch {
            TabId.All => contacts.OrderBy(c => c.Account!.Avatar.Name).ToList(),
            TabId.Recent => contacts.OrderByDescending(c => c.TouchedAt).ToList(),
            _ => throw new ArgumentOutOfRangeException(nameof(tabId)),
        };
    }

    private void OnActiveTabChanged(Tab? tab) {
        if (!Enum.TryParse(tab?.Id ?? "", out _activeTabId))
            _activeTabId = default;
        _ = State.Recompute();
    }

    public enum TabId {
        Recent,
        All,
    }

    public sealed record Model {
        public static Model None { get; } = new() {
            PinnedContacts = new List<Contact>(),
            UnpinnedContacts = new List<Contact>(),
        };

        public List<Contact> PinnedContacts { get; init; } = null!;
        public List<Contact> UnpinnedContacts { get; init; } = null!;
    }
}
