@using Stl.Extensibility
@using System.ComponentModel.DataAnnotations
@using ActualChat.Contacts
@implements IModalView<CreationModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

@{
    RenderFragment RenderArrowBack()
        => @<ButtonRound Class="transparent" Click="GetPreviousPage">
                <i class="icon-arrow-left text-2xl"></i>
            </ButtonRound>;

    RenderFragment RenderTitle(string title)
        => @<div class="w-full px-2 text-xl md:text-lg font-semibold md:font-medium">@title</div>;
}

<CascadingValue Value="_enableIncompleteUI">
    <DialogFrame class="creation-modal" ShowMobileHeader="false">
    <Body>
        @if (ModalModel.PageNumber == 1) {
            <div class="creation-panel">
                <div class="header">
                    @RenderArrowBack()
                    @RenderTitle("Create")
                    <ButtonRound Class="transparent">
                        <i class="icon-search text-2xl md:text-xl font-medium"></i>
                    </ButtonRound>
                    <ButtonRound Class="transparent" Click="OnClose">
                        <i class="icon-close text-2xl md:text-xl font-medium"></i>
                    </ButtonRound>
                </div>
                <div class="creation-buttons">
                    <CreationButton Title="New Group" OnClick="@GetNextPage">
                        <Icon>
                            <i class="icon-people text-2xl"></i>
                        </Icon>
                    </CreationButton>
                    <CreationButton Title="New Channel">
                        <Icon>
                            <i class="icon-loudspeaker text-2xl"></i>
                        </Icon>
                    </CreationButton>
                    <CreationButton Title="New Contact">
                        <Icon>
                            <i class="icon-person-add text-2xl"></i>
                        </Icon>
                    </CreationButton>
                    <CreationButton Title="New Place">
                        <Icon>
                            <i class="icon-plus text-2xl"></i>
                        </Icon>
                    </CreationButton>
                </div>
                <CreationPanelContacts HideItemEnding="true"/>
            </div>
        } else if (ModalModel.PageNumber == 2) {
            <div class="creation-panel">
                <div class="header add-members">
                    @RenderArrowBack()
                    @RenderTitle("Add members")
                    <ButtonRound Class="transparent" Click="OnClose">
                        <i class="icon-close text-2xl md:text-xl font-medium"></i>
                    </ButtonRound>
                </div>
                <div class="px-2">
                    <SearchBox
                        @ref="_searchBoxRef"
                        Class="mt-1"
                        Placeholder="Type the username"
                        MaxLength="@Constants.Chat.MaxSearchFilterLength"
                        TextChanged="@OnFilter"/>
                </div>
                <CreationPanelContacts HideHeader="true" DisableLinks="true"/>
            </div>
        } else if (ModalModel.PageNumber == 3) {
            <div class="creation-panel">
                <div class="header add-members">
                    @RenderArrowBack()
                    @RenderTitle("New Group")
                    <ButtonRound Class="transparent" Click="OnClose">
                        <i class="icon-close text-2xl md:text-xl font-medium"></i>
                    </ButtonRound>
                </div>

                <Form @ref="@_formRef" Model="@_form" OnSubmit="@OnCreate" Id="@_form.FormId" Class="px-2">
                    <DataAnnotationsValidator/>
                    <div class="flex-y grow max-h-128 overflow-y-auto">
                        <div class="flex-x gap-x-2 items-center pb-4">
                            <AnonymousIcon Class="w-30 h-30 mx-2"></AnonymousIcon>
                            <FormSection Label="Group name" InputId="@_form.TitleId" IsLabelInsideInput="true" Class="my-2">
                                <TextBox @bind-Value="@_form.Title" Id="@_form.TitleId" Autofocus="true" Autocomplete="false"/>
                            </FormSection>
                        </div>

                        <div class="font-medium">
                            4 Members
                        </div>

                        <div class="flex-y gap-y-2 custom-scrollbar overflow-y-auto">
                            @for (int i = 1; i < 16; i++) {
                                <div class="min-h-12 rounded-lg bg-selected">
                                    Contact @i
                                </div>
                            }
                        </div>
                    </div>
                </Form>
            </div>
        }
    </Body>
    <Buttons>
        @if (ModalModel.PageNumber == 2) {
            <div class="btn-group">
                <Button Type="@ButtonType.Button" Click="GetNextPage" Class="btn-primary">Next</Button>
            </div>
        } else if (ModalModel.PageNumber == 3) {
            <div class="btn-group">
                @{
                    var submitClass = $"btn-primary {(!_form.Title.IsNullOrEmpty() ? "" : "disabled")}";
                }
                <Button Type="@ButtonType.Button" Click="OnCreate" FormId="@_form.FormId" Class="@submitClass">Create</Button>
            </div>
        }
    </Buttons>
    </DialogFrame>
</CascadingValue>


@code {
    private bool _enableIncompleteUI;
    private SearchBox _searchBoxRef = null!;
    private Form _formRef = null!;
    private FormModel _form = null!;

    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private IContacts Contacts { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Inject] private IUserPresences UserPresences { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private Contact[] FilteredContacts { get; set; } = Array.Empty<Contact>();
    private Contact[] SelectedContacts { get; set; } = Array.Empty<Contact>();
    private Contact[] AllContacts { get; set; } = Array.Empty<Contact>();
    private CancellationTokenSource DisposeTokenSource { get; }
    private CancellationToken DisposeToken { get; }

    public CreationModal()
    {
        DisposeTokenSource = new();
        DisposeToken = DisposeTokenSource.Token;
    }

    protected override async Task OnInitializedAsync() {
        _enableIncompleteUI = await Features.Get<UIFeatures.EnableIncompleteUI, bool>(CancellationToken.None);
        _form = new(ComponentIdGenerator);

        var userContacts = await Contacts.ListUserContacts(Session, DisposeToken);
        var contacts = await userContacts
            .Select(async c => {
                // Fine to use ConfigureAwait(false) here
                var account = c.Account!;
                var presence = await UserPresences.Get(account.Id, DisposeToken).ConfigureAwait(false);
                return new Contact() {
                    Account = account,
                    Presence = presence,
                };
            })
            .Collect();

        AllContacts = contacts
            .OrderBy(x => x.Account.Avatar.Name)
            .ToArray();
        FilteredContacts = AllContacts;
    }

    private void OnFilter(string filter) {
        FilteredContacts = string.IsNullOrWhiteSpace(filter)
            ? AllContacts.ToArray()
            : AllContacts
                .Where(x => x.Account.Avatar.Name.OrdinalIgnoreCaseContains(filter))
                .ToArray();
    }

    private void OnClose()
        => ModalInstance.CloseAsync();

    private void GetNextPage()
        => ModalModel = new Model(ModalModel.PageNumber + 1);

    private void GetPreviousPage() {
        if (ModalModel.PageNumber > 1)
            ModalModel = new Model(ModalModel.PageNumber - 1);
        else
            OnClose();
    }

    private async Task OnCreate()
    {
        var command = new IChats.ChangeCommand(Session, "", null, new() {
            Create = new ChatDiff() {
                Title = _form.Title,
                ChatType = ChatType.Group,
                IsPublic = _form.IsPublic,
            },
        });
        try {
            var (chat, error) = await UICommander.Run(command);
            if (error != null)
                return;

            chat = chat.Require();
            await ModalInstance.CloseAsync();
            Nav.NavigateTo(Links.ChatPage(chat.Id));
        }
        catch {
        // Intended: command errors are shown in the UI anyway
        }
    }

    public class FormModel
    {
        [Required, MinLength(1)]
        public string Title { get; set; } = "";
        public bool IsPublic { get; set; }

        public string FormId { get; }
        public string TitleId { get; }
        public string IsPublicId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("new-chat-form");
            TitleId = $"{FormId}-title";
            IsPublicId = $"{FormId}-isPublic";
        }
    }

    public sealed record Model(int PageNumber);


    private sealed class Contact {
        public Account Account { get; init; } = null!;
        public Presence Presence { get; init; }
        public bool IsSelected { get; set; }
    }
}
