@using Stl.Extensibility
@implements IModalView<DeleteMessageModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]
@{
    var m = ModalModel.MessageModel;
}

<DialogFrame Title="Delete message" Class="delete-message-modal">
    <Body>
        <div class="mb-4">
            Are you sure you want to delete this message?
        </div>
        <div class="bg-01 rounded-lg border border-bg-04 py-1">
            <div class="chat-message group px-1">
                <div class="flex-1">
                    <div class="ml-1 flex-x py-2">
                        <div class="">
                            <ChatMessageAuthorCircle AuthorId="@m.Entry.AuthorId"/>
                        </div>
                        <div class="flex-y float-left px-2">
                            <AuthorName AuthorId="@m.Entry.AuthorId" Class="font-bold text-03"/>
                            <LiveTimeDeltaText Class="chat-message-timestamp" Moment="@m.Entry.BeginsAt"/>
                        </div>
                    </div>
                    <div class="content message-content custom-scrollbar">
                        @if (FirstAttachment != null) {
                            var isImage = FirstAttachment.ContentType.OrdinalIgnoreCaseStartsWith("image");
                            @if (isImage) {
                                <ImageAttachment Attachment="@FirstAttachment"/>
                            } else {
                                <FileAttachment Attachment="@FirstAttachment"/>
                            }
                        }
                        <CascadingValue Value="@m.Entry">
                            <MarkupView Markup="Markup"/>
                        </CascadingValue>
                    </div>
                </div>
            </div>
        </div>
    </Body>
    <Buttons>
        <div class="btn-group">
            <Button Class="btn-outline" Click="OnCancel" IsAutofocused="true">Cancel</Button>
            <Button Class="btn-error" Click="OnDelete">Delete</Button>
        </div>
    </Buttons>
</DialogFrame>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private IMarkupParser MarkupParser { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    private TextEntryAttachment? FirstAttachment { get; set; }
    private Markup Markup { get; set; } = Markup.Empty;
    private ChatEntry ChatEntry => ModalModel.MessageModel.Entry; // Shortcut

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        FirstAttachment = ChatEntry.Attachments.FirstOrDefault();
        Markup = ChatEntry.AudioEntryId == null
            ? MarkupParser.Parse(ChatEntry.Content)
            : new PlayableTextMarkup(ChatEntry.Content, ChatEntry.TextToTimeMap);
    }

    private void OnCancel()
        => _ = ModalInstance.CloseAsync();

    private async Task OnDelete() {
        await ModalInstance.CloseAsync();
        var command = new IChats.RemoveTextEntryCommand(Session, ChatEntry.ChatId, ModalModel.MessageModel.Entry.Id);
        await UICommander.Run(command);
    }

    public sealed record Model(ChatMessageModel MessageModel);
}
