<div class="message-menu-modal">
    <div class="flex-y h-screen md:h-full bg-primary p-5 w-full">
        @if (RequestAuthor.Id == Entry.AuthorId) {
            <div>
                <div class="flex-x text-sm mb-2">
                Are you sure you want to delete this message?
            </div>
                <div class="w-full bg-secondary rounded-md border border-primary pt-2 pb-3 mb-4 drop-shadow-lg">
                    <div class="chat-message relative group px-1">
                        <ChatAuthorBadge AuthorId="@Entry.AuthorId">
                            <div class="relative author-badge w-9 h-9 mx-1.5 mt-1.5 select-none bg-secondary rounded-md">
                                <img src="@context.Author.Picture" alt="@context.Author.Name" class="block"/>
                            </div>
                        </ChatAuthorBadge>
                        <div class="flex-1 overflow-hidden">
                            <div class="header chat-message-header ml-1">
                                <ChatAuthorBadge AuthorId="@Entry.AuthorId">
                                    <span class="font-bold text-secondary rounded">@context.Author.Name</span>
                                </ChatAuthorBadge>
                                <ChatMessageTimestamp Value="Entry.BeginsAt"/>
                            </div>
                            <div class="content message-content rounded-sm ml-1">
                                @Message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="-flex-x gap-x-2 absolute md:static bottom-0 right-0 bg-accent md:bg-primary w-full px-5 py-3 md:p-0">
                <Button Class="btn-error">Delete</Button>
                <Button Class="btn-primary" OnClick="OnCancel" Focus="true">Cancel</Button>
            </div>
        } else {
            <div class="flex-x font-light text-sm mb-2">
                You can't delete this message.
            </div>
            <div class="-flex-x gap-x-2 absolute md:static bottom-0 right-0 bg-accent md:bg-primary w-full px-5 py-3 md:p-0">
                <Button Class="btn-primary" OnClick="OnCancel" Focus="true">Close</Button>
            </div>
        }
    </div>
</div>

@code {
    private string Message { get; set; } = "";

    [Inject] private IChatAuthors ChatAuthors { get; set; } = null!;
    [Inject] private IChats Chats { get; set; } = null!;
    [Inject] private Session Session { get; set; } = null!;
    [Inject] private UICommandRunner Cmd { get; set; } = null!;
    [Inject] private NavigationManager Nav { get; set; } = null!;

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = null!;

    [Parameter, EditorRequired, ParameterComparer(typeof(ByValueParameterComparer))]
    public ChatEntry Entry { get; set; } = null!;
    [Parameter] public ChatAuthor RequestAuthor { get; set; } = null!;

    private void OnCancel() {
        ModalInstance.CloseAsync(ModalResult.Cancel());
    }

    public override Task SetParametersAsync(ParameterView parameters)
        => this.HasChangedParameters(parameters) ? base.SetParametersAsync(parameters) : Task.CompletedTask;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        InitMessage();
    }

    private void InitMessage()
        => Message = Entry.Content.Length < 50 ? Entry.Content : Entry.Content[..50] + "...";
}
