@using System.ComponentModel.DataAnnotations
@using Stl.Extensibility
@implements IModalView<NewChatModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<Form @ref="@_formRef" Model="@_form" OnSubmit="@OnCreate">
    <DataAnnotationsValidator/>
    <DialogFrame Title="New chat">
        <Body>
            <FormSection Label="Chat title" InputId="@_form.TitleId" IsRequired="true">
                <TextBox @bind-Value="@_form.Title" Id="@_form.TitleId" Autofocus="true" Autocomplete="false"/>
            </FormSection>
            <FormSection Class="flex h-12 md:h-8 justify-center">
                <ToggleEdit Id="@_form.IsPublicId" Label="Public chat &ndash; anyone can join" @bind-Value="_form.IsPublic"/>
            </FormSection>
        </Body>
        <Buttons>
            <div class="btn-group">
                @{
                    var submitClass = $"btn-primary {(_formRef.IsValid ? "" : "disabled")}";
                }
                <Button Type="@ButtonType.Button" Click="OnCancel" Class="btn-secondary">Cancel</Button>
                <Button Type="@ButtonType.Submit" Class="@submitClass">Create</Button>
            </div>
        </Buttons>
    </DialogFrame>
</Form>

@code {
    private Form _formRef = null!;
    private FormModel _form = null!;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override void OnInitialized()
        => _form = new(ComponentIdGenerator);

    private async Task OnCreate()
    {
        var command = new IChats.ChangeCommand(Session, default, null, new() {
            Create = new ChatDiff() {
                Title = _form.Title,
                Kind = ChatKind.Group,
                IsPublic = _form.IsPublic,
            },
        });
        try {
            var (chat, error) = await UICommander.Run(command);
            if (error != null)
                return;

            chat = chat.Require();
            await ModalInstance.CloseAsync();
            Nav.NavigateTo(Links.ChatPage(chat.Id));
        }
        catch {
            // Intended: command errors are shown in the UI anyway
        }
    }

    private void OnCancel()
        => ModalInstance.CloseAsync();

    public class FormModel
    {
        [Required, MinLength(1)]
        public string Title { get; set; } = "";
        public bool IsPublic { get; set; }

        public string FormId { get; }
        public string TitleId { get; }
        public string IsPublicId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("new-chat-form");
            TitleId = $"{FormId}-title";
            IsPublicId = $"{FormId}-isPublic";
        }
    }

    public sealed record Model;
}
