@using System.ComponentModel.DataAnnotations
@using Stl.Extensibility
@implements IModalView<NewChatModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<Form Model="@_form" OnSubmit="@OnCreate">
    <DataAnnotationsValidator/>
    <DialogFrame Title="New chat">
        <Body>
            <FormSection Label="Chat title" InputId="@_form.TitleId" IsRequired="true">
                <TextBox @bind-Value="@_form.Title" id="@_form.TitleId" Autofocus="true"/>
            </FormSection>
            <FormSection Class="flex h-12 md:h-8 justify-center">
                <ToggleEdit Id="@_form.IsPublicId" Label="Public chat &ndash; anyone can join" @bind-Value="_form.IsPublic"/>
            </FormSection>
        </Body>
        <Buttons>
            <div class="btn-group">
                <Button Type="@ButtonType.Button" Click="OnCancel" Class="btn-secondary">Cancel</Button>
                <Button Type="@ButtonType.Submit" Class="btn-primary" IsDisabled="@(!context.Validate())">Create</Button>
            </div>
        </Buttons>
    </DialogFrame>
</Form>

@code {
    private FormModel _form = null!;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override void OnInitialized()
        => _form = new(ComponentIdGenerator);

    private async Task OnCreate()
    {
        var cmd = new IChats.ChangeChatCommand(Session, "", null, new() {
            Create = new ChatDiff() {
                Title = _form.Title,
                ChatType = ChatType.Group,
                IsPublic = _form.IsPublic,
            },
        });
        try {
            var chat = await UICommander.Call(cmd);
            chat = chat.Require();
            await ModalInstance.CancelAsync();
            Nav.NavigateTo(Links.ChatPage(chat.Id));
        }
        catch {
            // Intended: command errors are shown in the UI anyway
        }
    }

    private void OnCancel()
        => ModalInstance.CancelAsync();

    public class FormModel
    {
        [Required] public string Title { get; set; } = "";
        [Required] public bool IsPublic { get; set; }

        public string FormId { get; }
        public string TitleId { get; }
        public string IsPublicId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("new-chat-form");
            TitleId = $"{FormId}-title";
            IsPublicId = $"{FormId}-isPublic";
        }
    }

    public sealed record Model;
}
