@using ActualChat.Chat
<span>

</span>
@*
<Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
    <BarToggler/>
    <BarBrand>
        @Item(FontAwesomeIcons.Home, "Home", "")
    </BarBrand>
    <BarMenu>
        <BarStart>
            @Item(FontAwesomeIcons.Comments, "Chat", $"chat/{ChatConstants.DefaultChatId}")
            @Item(FontAwesomeIcons.User, "Authentication", "authentication")
            <BarItem Style="min-height: 20px"/>
            @Item(FontAwesomeIcons.Code, "Source @ GitHub", "https://github.com/servicetitan/Stl.Fusion.Samples")
        </BarStart>
    </BarMenu>
</Bar>
*@
@code {
    private RenderFragment Item(object icon, string title, string href)
    {
        var target = href.StartsWith("http://") || href.StartsWith("https://") ? "_blank" : "_self";
        return @<div><a href=@href target=@target title=@title>@icon - @title</a></div>;
    }
}
