@namespace ActualChat.UI.Blazor.Controls
@typeparam TItem
@using ActualChat.UI.Blazor.Controls.Internal
@inherits ComputedStateComponent<VirtualListData<TItem>>
@{
    var plan = LastPlan = Plan;
    DebugLog?.LogDebug("Rendering: #{RenderIndex}", Plan.RenderIndex);
    var flexBase = "flex flex-nowrap items-stretch";
    var flexDir = Plan.IsEndAligned ? "flex-col-reverse" : "flex-col";
    var scrollContainerFlexClass = $"{flexBase} {flexDir}";
    var flexClass = $"{flexBase} flex-col";
    var invFlexClass = $"{flexBase} flex-col-reverse";
    var renderState = new VirtualListRenderState() {
        RenderIndex = plan.RenderIndex,

        SpacerSize = plan.SpacerSize,
        EndSpacerSize = plan.EndSpacerSize,
        ScrollHeight = plan.HasUnmeasuredItems ? null : plan.FullRange.Size(),
        ScrollTop = plan.Viewport?.Start,
        ViewportHeight = plan.Viewport?.Size(),

        ItemSizes = plan.Items.ToDictionary(i => i.Key.Value, i => i.Range.Size(), StringComparer.Ordinal),

        MustScroll = plan.MustScroll,
        NotifyWhenSafeToScroll = plan.NotifyWhenSafeToScroll,
    };
    ClientSideState = plan.ClientSideState ?? ClientSideState;
    if (!(Plan.HasUnmeasuredItems || Plan.IsFullyLoaded()))
        UpdateData();
}

@* We want to drop irrelevant JS state changes, thus we send the render index to JS side *@
<div @ref="RenderStateRef" class="hidden">
    <div @key="@("<RenderState>:" + renderState.RenderIndex)"
         class="data render-state">@SystemJsonSerializer.Default.Write(renderState)</div>
</div>
<div @ref="Ref"
     class="virtual-list overflow-y-scroll h-full @scrollContainerFlexClass @Class @(CssClasses.Default[GetType()])"
     style="@Style">
    <div @ref="ContentRef" @key="@("<Content>")" class="content @flexClass">
        <div @key="@("<Spacer>")"
             class="spacer spacer-start overflow-y-hidden @invFlexClass"
             style="height: @(Plan.SpacerSize)px">
            <SkeletonContainer Class="@flexClass">
                @for (var i = -SkeletonCount; i < 0; i++) {
                    <div @key="@i" class="skeleton">
                        @Skeleton(i)
                    </div>
                }
            </SkeletonContainer>
        </div>
        @foreach (var item in plan.Items) {
            <div @key="item.Key"
                 class="item"
                 style="@(item.IsMeasured ? "" : "visibility: collapse")"
                 data-key="@item.Key">
                @Item(item.Item)
            </div>
        }
        <div @key="@("<EndSpacer>")"
             class="spacer spacer-end overflow-y-hidden @flexClass"
             style="height: @(Plan.EndSpacerSize)px">
            <SkeletonContainer Class="@flexClass">
                @for (var i = 0; i < SkeletonCount; ++i) {
                    <div @key="@i" class="skeleton">
                        @Skeleton(i)
                    </div>
                }
            </SkeletonContainer>
        </div>
        <div @key="@("<RenderIndex>")"
             data-render-index="@renderState.RenderIndex"
             class="data render-index hidden"></div>
    </div>
</div>
