@namespace ActualChat.Chat.UI.Blazor.Components
@implements IDisposable
@using ActualChat.Chat.UI.Blazor.Events
@using ActualChat.Contacts
@using ActualChat.Media
@using SearchUI = ActualChat.Chat.UI.Blazor.Services.SearchUI
@inherits ComputedStateComponent<LeftPanelContentHeader.Model>
@{
    var m = State.Value;

    RenderFragment RenderChat() =>
        @<div class="left-panel-content-header">
            @if (m.EnableIncompleteUI) {
                <LeftChatSearchPanel/>
            }
            <div class="c-content">
                <div class="c-title">
                    Chats
                </div>
                <div class="c-ending">
                    @if (!m.EnableIncompleteUI) {
                        <ChatSearchBox
                            @ref="_searchBoxRef"
                            Placeholder="Find chat..."
                            IsCollapsed="true"
                            ShowSpinner="true"
                            ShowClose="true"
                            MaxLength="@Constants.Chat.MaxSearchFilterLength"
                            TextChanged="@_onSearchBoxTextChanged"/>
                    }
                </div>
            </div>
        </div>;

    RenderFragment RenderPlace(Place place) {
        return @<div class="left-panel-content-header place">
                   <div class="c-content">
                       <ChatSearchBox
                           @ref="_searchBoxRef"
                           IsCollapsed="true"
                           ShowClose="true"
                           Placeholder="Search"
                           ShowSpinner="true"
                           MaxLength="@Constants.Chat.MaxSearchFilterLength"
                           TextChanged="@_onSearchBoxTextChanged"/>
                       <div class="c-icon">
                       @if (place.Background != null) {
                           <Pic
                               Title="@place.Title"
                               Picture="@place.Background.ToPicture()"
                               Size="@SquareSize.SizeFull"
                               IsSquare="@true"
                               AvatarKind="@AvatarKind.Marble"
                               AvatarKey="@place.Id.Value"/>
                       } else {
                           <Pic
                               Title="@place.Title"
                               Picture="@place.Picture.ToPicture()"
                               Size="@SquareSize.SizeFull"
                               IsSquare="@true"
                               IsBlurred="@true"
                               AvatarKind="@AvatarKind.Marble"
                               AvatarKey="@place.Id.Value"/>
                       }
                       </div>
                   </div>
                   @if (m.IsMember || m.Place.IsPublic) {
                       <div class="c-info">
                           <PlaceMenuButton PlaceId="@place.Id"/>
                           @if (m.IsMember) {
                               <div class="c-right">
                                   <ButtonRound Class="place-plus-btn btn-sm btn-transparent unhovered"
                                                data-menu="@(MenuRef.New<LeftPanelPlaceMenu>(place.Id).ToString())"
                                                data-menu-trigger="@MenuTrigger.Primary"
                                                data-menu-placement="@(FloatingPosition.RightStart.ToPositionString())">
                                       <i class="icon-more-vertical text-2xl"></i>
                                   </ButtonRound>
                               </div>
                           }
                        </div>
                   }
               </div>;
    }
}

<OnUIEvent TEvent="@SelectedChatChangedEvent" Handler="@OnSelectedChatChangedEvent" />
@if (m.Place != null) {
    @RenderPlace(m.Place);
} else {
    @RenderChat();
}

@code {
    private ChatSearchBox? _searchBoxRef = null;
    private EventCallback<string> _onSearchBoxTextChanged;

    [Inject] private ChatUIHub Hub { get; init; } = null!;
    [Inject] private PanelsUI PanelsUI { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;

    private NavbarUI NavbarUI => Hub.NavbarUI;
    private SearchUI SearchUI => Hub.SearchUI;
    private IContacts Contacts => Hub.Contacts;
    private Session Session => Hub.Session();
    private IPlaces Places => Hub.Places;
    private ScreenSize ScreenSize => Hub.BrowserInfo.ScreenSize.Value;

    protected override async Task OnInitializedAsync() {
        _onSearchBoxTextChanged = NoStateHasChanged.EventCallback<string>(OnSearchBoxTextChanged);
        NavbarUI.SelectedGroupChanged += OnNavbarSelectedGroupOrTitleChanged;
        NavbarUI.SelectedGroupTitleUpdated += OnNavbarSelectedGroupOrTitleChanged;
        await base.OnInitializedAsync();
    }

    public void Dispose() {
        NavbarUI.SelectedGroupChanged -= OnNavbarSelectedGroupOrTitleChanged;
        NavbarUI.SelectedGroupTitleUpdated -= OnNavbarSelectedGroupOrTitleChanged;
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            Category = ComputedStateComponent.GetStateCategory(GetType()),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var placeId = NavbarUI.IsPlaceSelected(out var selectedPlaceId)
            ? selectedPlaceId
            : NavbarUI.IsPinnedChatSelected(out var pinnedChatId)
                ? pinnedChatId.PlaceId
                : PlaceId.None;
        var place = placeId.IsNone
            ? null
            : await Places.Get(Session, placeId, default).ConfigureAwait(false);
        var places = await Contacts.ListPlaceIds(Session, default).ConfigureAwait(false);
        var isMember = places.Contains(placeId);
        var enableIncompleteUI = await Features.Get<Features_EnableIncompleteUI, bool>(CancellationToken.None);

        return new() {
            Place = place,
            IsMember = isMember,
            EnableIncompleteUI = enableIncompleteUI,
        };
    }

    private void OnSearchBoxTextChanged(string text)
        => SearchUI.Text.Value = text;

    private void OnNavbarSelectedGroupOrTitleChanged(object? s, EventArgs e)
        => State.Invalidate();

    private async Task OnSelectedChatChangedEvent(SelectedChatChangedEvent @event, CancellationToken cancellationToken) {
        if (_searchBoxRef != null)
            await _searchBoxRef.Cancel();
        if (!string.IsNullOrEmpty(SearchUI.Text.Value))
            SearchUI.Text.Value = string.Empty;
        State.Invalidate();
    }

    private void OnSearchClick()
        => PanelsUI.Left.ToggleSearchMode();

    // Nested types

    public sealed record Model {
        public static readonly Model None = new();

        public Place? Place { get; init; }
        public bool IsMember { get; init; }
        public bool EnableIncompleteUI { get; init; }
    }
}
