@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<ChatMessage.Model>
@using ActualChat.Hosting
@using Microsoft.AspNetCore.Components.Rendering
@using System.Diagnostics.CodeAnalysis
@{
    var m = _rendered = State.Value;
    var message = _renderedMessage = Message;
    var markup = _renderedMarkup = _markup;
    var entry = message.Entry;

    // Flags
    var isSystem = entry.IsSystemEntry;
    var isReply = m.RepliedEntry != null;
    var isForward = !entry.ForwardedAuthorId.IsNone;
    var isReplyToOwnMessage = m.RepliedEntry?.AuthorId == entry.AuthorId;
    var showAuthor = !isSystem && (message.IsBlockStart || isReply);
    var showForwardHeader = !isSystem && isForward && message.IsForwardBlockStart;

    // Classes
    var systemClass = isSystem ? "system-entry" : "";
    var forwardedClass = isForward ? "forwarded-message" : "";
    var forwardedBorderClass = isForward && !showAuthor ? "forwarded-border" : "";
    var marginClass = message.IsBlockEnd ? "mb-2" : "mb-0";
    var ownMessageClass = m.OwnAuthorId == message.Entry.AuthorId ? "own-message" : "";
    var highlightClass = m.IsHighlighted ? "chat-message-highlighted" : "";
    var repliedClass = m.IsReplyTarget ? "replied-message" : "";
    var selectedClass = m.IsSelected ? "replied-message" : "";
    var mentionClass = m.IsOwnAuthorMentioned && !isReplyToOwnMessage ? "mention" : "";
    var cls = $"{systemClass} {forwardedClass} {forwardedBorderClass} {ownMessageClass} {mentionClass} {marginClass} {highlightClass} {repliedClass} {selectedClass} message-wrapper";

    switch (message.ReplacementKind) {
    case ChatMessageReplacementKind.None:
        break;
    case ChatMessageReplacementKind.DateLine:
        <ChatMessageDateLine Date="@message.DateLineDate"/>
        return;;
    case ChatMessageReplacementKind.NewMessagesLine:
        <Separator Title="New messages" TitleClass="new-separator-title"/>
        return;;
    case ChatMessageReplacementKind.WelcomeBlock:
        <ChatWelcomeBlock ChatContext="@ChatContext" />
        return;;
    default:
        throw new ArgumentOutOfRangeException();
    }
}

@if (isSystem) {
    <div class="@cls"
         data-hover-menu="@(MenuRef.New<MessageHoverMenu>(Message.Entry.Id, bool.TrueString))"
         data-menu="@(MenuRef.New<MessageMenu>(Message.Entry.Id, bool.TrueString, "", ""))"
         data-menu-placement="@(FloatingPosition.BottomStart.ToPositionString())">
        <div class="chat-message group @cls">
            <div class="c-content">
                <div class="message-content">
                    <p class="chat-message-markup">
                        <CascadingValue Value="@entry" IsFixed="true">
                            <MarkupView Markup="@markup"/>
                        </CascadingValue>
                    </p>
                    @if (entry.HasReactions) {
                        <MessageReactions Entry="@entry"/>
                    }
                </div>
            </div>
        </div>
    </div>
    return;
}

<div class="@cls"
     data-chat-entry-id="@(Message.Entry.Id)"
     data-hover-menu="@(MenuRef.New<MessageHoverMenu>(Message.Entry.Id, bool.FalseString))"
     data-menu="@(MenuRef.New<MessageMenu>(Message.Entry.Id, bool.FalseString, "", ""))"
     data-menu-placement="@(FloatingPosition.BottomStart.ToPositionString())">
    <div class="chat-message group">
        <div class="c-author-badge">
            @if (showAuthor) {
                <ChatMessageAuthorCircle
                    AuthorSid="@entry.AuthorId"
                    Click="@(_ => AuthorUI.Show(entry.AuthorId))"/>
            } else {
                var timestamp = TimeZoneConverter.ToLocalTime(entry.BeginsAt).ToShortTimeString();
                <div class="c-empty">
                    <span class="chat-message-timestamp-on-hover">@timestamp</span>
                </div>
            }
        </div>
        <div class="c-content">
            @if (showAuthor) {
                <div class="c-author-header">
                    <AuthorName AuthorSid="@entry.AuthorId" Class="chat-message-author-name"/>
                    <LiveTimeDeltaText Class="chat-message-timestamp min-w-fit" Moment="@entry.BeginsAt"/>
                    @* <div class="text-02 opacity-20 text-xxs">id=@entry.Id</div> *@
                </div>
            }
            @if (showForwardHeader) {
                <div class="forwarded-chat-header">
                    <i class="icon-share forwarded-chat-header-icon"></i>
                    <span class="forwarded-chat-header-title">Forwarded from </span>
                    @if (m.ForwardedChat != null) {
                        <span class="forwarded-chat-header-name message-link"
                              @onclick="() => OnForwardedMessageHeaderClick(entry.ForwardedChatEntryId.ChatId)">
                            @m.ForwardedChat.Title
                        </span>
                    } else {
                        <span class="forwarded-chat-header-name">
                            @(!entry.ForwardedChatTitle.IsNullOrEmpty()
                                ? entry.ForwardedChatTitle
                                : "Unknown chat")
                        </span>
                    }
                </div>
            }
            @if (isForward) {
                <div class="forwarded-author-header">
                    @if (m.ForwardedAuthor != null) {
                        <span class="forwarded-author-header-name message-link"
                              @onclick="() => OnForwardedMessageAuthorClick(entry.ForwardedChatEntryId)">
                            @m.ForwardedAuthor.Avatar.Name
                        </span>
                    } else {
                        <span class="forwarded-author-header-name">
                            @(!entry.ForwardedAuthorName.IsNullOrEmpty()
                                ? entry.ForwardedAuthorName
                                : "Unknown author")
                        </span>
                    }
                    <LiveTimeDeltaText Class="chat-message-timestamp min-w-fit" Moment="@entry.ForwardedChatEntryBeginsAt"/>
                </div>
            }
            <div class="message-content">
                @if (isReply) {
                    <ChatMessageQuote Entry="@m.RepliedEntry" IsOwn="@isReplyToOwnMessage"/>
                }
                @if (entry.IsStreaming) {
                    <ChatMessageTranscript Model="@message" ShowEntryKind="@Message.HasEntryKindSign"/>
                } else {
                    <p class="chat-message-markup">
                        @if (message.HasEntryKindSign) {
                            <ChatEntryKindView Kind="@(entry.HasAudioEntry ? ChatEntryKind.Audio : entry.Kind)"/>
                        }
                        <CascadingValue Value="@entry" IsFixed="true">
                            <MarkupView Markup="@_markup"/>
                        </CascadingValue>
                    </p>
                }
            </div>
            @if (entry.Attachments.Count > 0) {
                var (mediaList, fileList) = GetOrderedAttachmentList(entry);
                <div class="message-attachments">
                    <VisualMediaAttachmentList ImageList="@mediaList" ChatEntry="@entry"/>
                    <div class="message-file-attachments">
                        @foreach (var attachment in fileList) {
                            <FileAttachment Attachment="@attachment"/>
                        }
                    </div>
                </div>
            }
            @if (entry.HasReactions) {
                <MessageReactions Entry="@entry"/>
            }
            @if (m.ShowLinkPreview) {
                <LinkPreviewView Entry="@entry" Markup="@markup"/>
            }
        </div>
    </div>
</div>

@code {
    private Model? _rendered;
    private ChatMessageModel? _renderedMessage;
    private Markup? _renderedMarkup;
    private ValueTask<Markup> _markupTask;
    private Markup _markup = Markup.Empty;
    private ChatMessageModel? _lastMessage;

    // Shortcuts
    private ChatEntry Entry => Message.Entry;
    private ChatId ChatId => Message.Entry.ChatId;
    private Session Session => ChatContext.Session;
    private History History => ChatContext.History;
    private IAuthors Authors => ChatContext.Authors;
    private IChats Chats => ChatContext.Chats;
    private ChatUI ChatUI => ChatContext.ChatUI;
    private AuthorUI AuthorUI => ChatContext.AuthorUI;
    private ShareUI ShareUI => ChatContext.ShareUI;
    private ModalUI ModalUI => ChatContext.ModalUI;
    private TimeZoneConverter TimeZoneConverter => ChatContext.TimeZoneConverter;
    private IChatMarkupHub ChatMarkupHub => ChatContext.ChatMarkupHub;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
    [Parameter, EditorRequired] public ChatMessageModel Message { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        if (Message == _lastMessage)
            return;

        _lastMessage = Message;
        _markupTask = ChatMarkupHub.GetMarkup(Entry, MarkupConsumer.MessageView, default);
        _markup = await _markupTask;
        await base.OnParametersSetAsync(); // Triggers recompute
    }

    protected override bool ShouldRender() {
        return !ReferenceEquals(_rendered, State.Value)
            || !ReferenceEquals(_renderedMessage, Message)
            || !ReferenceEquals(_renderedMarkup, _markup);
    }

    protected override ComputedState<Model>.Options GetStateOptions() {
        var initialValue = Model.None;
        var ownAuthorComputed = Computed.GetExisting(() => Authors.GetOwn(Session, ChatId, default));
        var ownAuthor = ownAuthorComputed?.IsConsistent() == true &&  ownAuthorComputed.HasValue ? ownAuthorComputed.Value : null;
        var ownAuthorId = ownAuthor?.Id ?? AuthorId.None;
        var repliedEntry = Entry.RepliedEntryLocalId != null ? ChatEntry.Loading : null;
        if (!ownAuthorId.IsNone || repliedEntry != null)
            initialValue = new Model {
                OwnAuthorId = ownAuthorId,
                RepliedEntry = repliedEntry,
                ShowLinkPreview = Entry.ShowLinkPreview && ChatContext.ShowLinkPreview.Value,
            };
        return new() {
            InitialValue = initialValue,
            Category = GetStateCategory(),
        };
    }

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var entry = Entry;
        var chatId = entry.ChatId;
        var ownAuthor = await Authors.GetOwn(Session, chatId, cancellationToken);
        var ownAuthorId = ownAuthor?.Id ?? AuthorId.None;

        var markup = await _markupTask;
        var repliedEntry = await GetRepliedEntry(cancellationToken);
        var hasAnyMentions = HasAnyMentions(markup);
        var isOwnAuthorMentioned = IsMentioned(markup, repliedEntry, ownAuthorId, hasAnyMentions);
        var relatedChatEntry = await ChatContext.ChatEditorUI.RelatedChatEntry.Use(cancellationToken);
        var isReplyTarget = relatedChatEntry is { Kind: RelatedEntryKind.Reply, Id: var repliedEntryId } && repliedEntryId == entry.Id;
        var isHighlighted = entry.Id == await ChatUI.HighlightedEntryId.Use(cancellationToken);
        var forwardedChat = !entry.ForwardedChatEntryId.IsNone
            ? await Chats.Get(Session, entry.ForwardedChatEntryId.ChatId, cancellationToken)
            : null;
        var forwardedAuthor = !entry.ForwardedChatEntryId.IsNone && !entry.ForwardedAuthorId.IsNone
            ? await Authors.Get(Session, entry.ForwardedChatEntryId.ChatId, entry.ForwardedAuthorId, cancellationToken)
            : null;
        var selectedChatEntries = await ChatContext.SelectionUI.Selection.Use(cancellationToken);
        var showLinkPreview = Entry.ShowLinkPreview && await ChatContext.ShowLinkPreview.Use(cancellationToken); // TODO: read ui settings to decide dismiss links or not
        var result = new Model {
            OwnAuthorId = ownAuthorId,
            RepliedEntry = repliedEntry,
            IsHighlighted = isHighlighted,
            IsReplyTarget = isReplyTarget,
            IsSelected = selectedChatEntries.Contains(entry.Id),
            IsOwnAuthorMentioned = isOwnAuthorMentioned,
            ForwardedChat = forwardedChat,
            ForwardedAuthor = forwardedAuthor,
            ShowLinkPreview = showLinkPreview,
        };
        return result.Equals(_rendered) ? _rendered! : result;
    }

    private async Task<ChatEntry?> GetRepliedEntry(CancellationToken cancellationToken) {
        if (Entry.RepliedEntryLocalId is not { } repliedEntryLocalId)
            return null;

        var repliedEntryId = new ChatEntryId(Message.Entry.ChatId, Message.Entry.Kind, repliedEntryLocalId, AssumeValid.Option);
        var repliedEntry = await Chats.GetEntry(Session, repliedEntryId, cancellationToken)
            ?? ChatEntry.Removed(repliedEntryId);

        return repliedEntry;
    }

    private void OnQuoteClick()
        => ChatUI.HighlightEntry(Message.Entry.Id, navigate: true);

    private void OnForwardedMessageHeaderClick(ChatId chatId)
        => _ = History.NavigateTo(Links.Chat(chatId));

    private void OnForwardedMessageAuthorClick(ChatEntryId entryId)
        => _ = History.NavigateTo(Links.Chat(entryId));

    private bool HasAnyMentions(Markup markup)
        => MarkupValidator.ContainsAnyMention.IsValid(markup);

    private bool IsMentioned(Markup markup,
        ChatEntry? repliedEntry,
        AuthorId authorId,
        bool hasAnyMentions)
    {
        if (authorId.IsNone)
            return false;

        if (repliedEntry?.AuthorId == authorId)
            return true;

        return hasAnyMentions && MarkupValidator.ContainsMention(new MentionId(authorId, AssumeValid.Option)).IsValid(markup);
    }

    private (List<TextEntryAttachment>, List<TextEntryAttachment>) GetOrderedAttachmentList(ChatEntry entry) {
        var mediaList = new List<TextEntryAttachment>();
        var fileList = new List<TextEntryAttachment>();
        foreach (var attachment in entry.Attachments) {
            if (attachment.IsVisualMedia())
                mediaList.Add(attachment);
            else
                fileList.Add(attachment);
        }
        return (mediaList, fileList);
    }

    // Nested types

    public sealed record Model {
        public static readonly Model None = new();

        public AuthorId OwnAuthorId { get; init; }
        public bool IsHighlighted { get; init; }
        public bool IsReplyTarget { get; init; }
        public bool IsOwnAuthorMentioned { get; init; }
        public bool IsSelected { get; init; }
        public ChatEntry? RepliedEntry { get; init; }
        public Chat? ForwardedChat { get; init; }
        public Author? ForwardedAuthor { get; init; }
        public bool ShowLinkPreview { get; set; }
    }
}
