@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Invite
@inherits ComputedStateComponent<ChatWelcomeMessage.Model?>

@{
    var m = State.ValueOrDefault;
    if (m == null)
        return;
    var chat = m.Chat;
    var link = m.Link;
}

<div class="message-wrapper">
    <div class="chat-welcome-message">
        <div class="c-header">
            <div class="c-chat-icon">
                <ChatIcon Chat="@chat"/>
            </div>
            <div class="c-chat-title">@chat.Title</div>
        </div>
        <div class="c-content">
            Welcome! Share the link to this chat to invite more people here:
        </div>
        @if (link.HasValue) {
            var linkKind = m.IsJoinLink ? "Private join link" : "Public link";
            var copyText = $"\"{chat.Title}\" on Actual Chat: {link.Value.AbsoluteUrl}";
            <div class="c-link">
                <div class="c-link-url">
                    <i class="icon-link-2"></i>
                    <div>
                        <div class="link-url">@link.Value.ShortLocalUrl</div>
                        <div class="link-hint">@linkKind</div>
                    </div>
                </div>
                <div class="c-link-buttons">
                    <CopyTrigger Tooltip="@copyText" CopyText="@copyText">
                        <Button Class="btn-modal">
                            <i class="hide-on-copied-hint icon-copy" aria-hidden="true"></i>
                            <i class="copied-hint fa fa-check" aria-hidden="true"></i>
                            Copy
                        </Button>
                    </CopyTrigger>
                    <Button Class="btn-modal" Click="@(() => OnShareClick(link.Value.AbsoluteUrl, copyText))">
                        <i class="icon-share"></i>
                        Share
                    </Button>
                </div>
            </div>
        }
    </div>

</div>

@code {
    // Shortcuts
    private ChatMessageServices MessageServices => Context.Services;
    private Session Session => MessageServices.Session;
    private History History => MessageServices.History;
    private IAuthors Authors => MessageServices.Authors;
    private IChats Chats => MessageServices.Chats;
    private ChatUI ChatUI => MessageServices.ChatUI;

    private ShareUI ShareUI => Services.GetRequiredService<ShareUI>();

    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private IInvites Invites { get; init; } = null!;

    [Parameter, EditorRequired] public ChatMessageContext Context { get; set; } = null!;

    protected override async Task<Model?> ComputeState(CancellationToken cancellationToken) {
        var chat = await Chats.Get(Session, Context.ChatId, cancellationToken);
        if (chat == null)
            return null;
        var (link, isJoinLink) =  await GetLink(chat, cancellationToken);
        return new(chat) {
            Link = link?.ToDisplayUrl(UrlMapper),
            IsJoinLink = isJoinLink,
        };
    }

    private async Task<(LocalUrl?, bool)> GetLink(Chat chat, CancellationToken cancellationToken) {
        if (chat.IsPublic)
            return (Links.Chat(chat.Id), false);
        var invite = await Invites.GetOrGenerateChatInvite(Session, chat.Id, cancellationToken);
        if (invite != null)
            return (Links.Invite(Links.InviteLinkFormat.JoinChat, invite.Id), true);
        return (null, false);
    }

    private void OnShareClick(string link, string description)
        => ShareUI.ShareLink(link, "Share chat", description);

    public record Model(Chat Chat) {
        public DisplayUrl? Link { get; init; }
        public bool IsJoinLink { get; init; }
    }
}
