@using ActualChat.Hosting
@namespace ActualChat.Chat.UI.Blazor.Components
@inject HostInfo _hostInfo

@{
    var showHeader = Model.IsBlockStart;
    var showPicture = showHeader;
    var marginClass = Model.IsBlockEnd ? "mb-3" : "mb-0";
    var entry = Model.Entry;
    var timestamp = entry.BeginsAt.ToDateTime().ToLocalTime().ToShortTimeString();
}
@if (Model.DateLine.HasValue) {
    <ChatMessageDateLine Date="@Model.DateLine.GetValueOrDefault()"/>
}
<div class="@(_class ??= this.DefaultClass()) px-3 antialiased sm:subpixel-antialiased md:antialiased flex items-start text-sm text-current break-words @marginClass">
    @if (showPicture) {
        <ChatAuthor ChatId="@entry.ChatId" AuthorId="@entry.AuthorId">
            <div class="author-avatar w-9 h-9 mx-1.5 mt-1.5 select-none bg-secondary rounded-md">
                <img src="@context.Picture" alt="@context.Name"/>
            </div>
        </ChatAuthor>
    }
    else {
        <div class="w-10 mr-2 mt-1">
            <span class="chat-message-timestamp-secondary text-secondary text-xs invisible float-right mr-1 mt-0.5">@timestamp</span>
        </div>
    }
    <div class="flex-1 overflow-hidden mb-1 mt-1">
        @if (showHeader) {
            <div class="header chat-message-header ml-1">
                <ChatAuthor ChatId="@entry.ChatId" AuthorId="@entry.AuthorId">
                    <span class="font-bold text-secondary rounded">@context.Name</span>
                </ChatAuthor>
                <ChatMessageTimestamp Value="entry.BeginsAt"/>
                &nbsp;
                <span class="text-accent-muted text-xxs">id=@entry.Id</span>
            </div>
        }
        <div class="content message-content rounded-sm">
            @if (entry.IsStreaming) {
                <ChatMessageTranscript Model="@Model"/>
            } else {
                <ChatMessageMarkup Model="@Model"/>
            }
        </div>
    </div>
    @if (_hostInfo.IsDevelopmentInstance) {
        @* <ChatMessageMenu/> *@
        <MessageDropdownMenu/>
    }
</div>

@code {
    private static string? _class;

    [Parameter, EditorRequired, ParameterComparer(typeof(ByValueParameterComparer))]
    public ChatMessageModel Model { get; set; } = null!;

    public override Task SetParametersAsync(ParameterView parameters)
        => this.HasChangedParameters(parameters) ? base.SetParametersAsync(parameters) : Task.CompletedTask;
}
