@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Hosting
@using Microsoft.AspNetCore.Components.Rendering

@{
    var entry = Model.Entry;
    var markup = Model.Markup;
    var attachments = Model.Attachments;
    var timestamp = entry.BeginsAt.ToDateTime().ToLocalTime().ToShortTimeString();

    var showHeader = Model.IsBlockStart;
    var showPicture = showHeader;
    var marginClass = Model.IsBlockEnd ? "mb-3" : "mb-0";
    var mentionClass = MarkupValidator.ContainsMention.IsValid(markup) ? "mention" : "";
    var ownMessageClass = PrincipalId == Model.Entry.AuthorId ? "own-message" : "";
}
@if (Model.DateLine.HasValue) {
    <ChatMessageDateLine Date="@Model.DateLine.GetValueOrDefault()"/>
}
@if (Model.IsFirstUnread) {
    <Separator Title="new" Class="new-separator" TitleClass="new-separator-title"/>
}
<div class="chat-message group px-1.5 py-0.5 relative @ownMessageClass @mentionClass @marginClass">
    @if (showPicture) {
        <div class="m-1.5">
            <ChatMessageAuthorCircle AuthorId="@entry.AuthorId" OnClick="@OnChatAuthorClick" />
        </div>
    } else {
        <div class="w-10 mr-2 mt-1">
            <span class="chat-message-timestamp-secondary text-secondary text-xs invisible float-right mr-1 mt-0.5">@timestamp</span>
        </div>
    }
    <div class="flex-1 overflow-hidden mb-1 mt-1">
        @if (showHeader) {
            <div class="header chat-message-header ml-1">
                <ChatAuthorName AuthorId="@entry.AuthorId" Class="font-bold text-secondary" />
                <ChatMessageTimestamp Value="entry.BeginsAt"/>
                &nbsp;
                <span class="text-accent-muted text-xxs">id=@entry.Id</span>
            </div>
        }
        <div class="content message-content rounded-sm">
            @if (entry.IsStreaming) {
                <ChatMessageTranscript Model="@Model"/>
            } else {
                <p class="chat-message-markup text-primary mx-1">
                    <CascadingValue Value="@entry">
                        <MarkupView Markup="@markup"/>
                    </CascadingValue>
                </p>
            }
        </div>
        @if (attachments.Length > 0) {
            <div class="message-attachments">
                @foreach (var attachment in attachments) {
                    var isImage = attachment.ContentType.StartsWith("image", StringComparison.OrdinalIgnoreCase);
                    @if (isImage) {
                        <ImageAttachment Attachment="@attachment"/>
                    } else {
                        <FileAttachment Attachment="@attachment"/>
                    }
                }
            </div>
        }
    </div>

    <CascadingValue Value="@Model">
        <ContextMenu
            Class="chat-message-menu "
            ButtonClass="show-on-hover h-8 min-w-12 right-4 -mt-3 bg-secondary rounded-r-lg rounded-l-lg border-r border-t border-b border-l border-accent shadow-context"
            MenuClass="absolute z-10 right-14 -mt-3 bg-secondary -mr-2 border rounded-l-md rounded-tr-md rounded-br-md shadow-context">
            <ButtonTemplate>
                <svg class="w-6 h-6 fill-current horizontal-item" xlmns="http://www.w3.org/2000/svg" viewBox="-1 -1 26 26">
                    <path d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"/>
                </svg>
            </ButtonTemplate>
            <MenuTemplate>
                <MessageContextMenu/>
            </MenuTemplate>
        </ContextMenu>
    </CascadingValue>
</div>

@code {
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChatAuthors ChatAuthor { get; init; } = null!;

    private string PrincipalId { get; set; } = "";

    [Parameter, EditorRequired, ParameterComparer(typeof(ByValueParameterComparer))]
    public ChatMessageModel Model { get; set; } = null!;

    protected override async Task OnInitializedAsync()
        => PrincipalId = await ChatAuthor
            .GetChatPrincipalId(Session, Model.Entry.ChatId, CancellationToken.None)
            .ConfigureAwait(true);

    public override Task SetParametersAsync(ParameterView parameters)
        => this.HasChangedParameters(parameters) ? base.SetParametersAsync(parameters) : Task.CompletedTask;

    private void OnChatAuthorClick()
        => ChatUI.ShowChatAuthorCard(Model.Entry.AuthorId);
}
