@inherits MarkupViewBase<MentionMarkup>

<AuthorBadgeTemplate AuthorSid="@_authorId">
    @if (context.Author.Id.IsNone) {
        <div class="mention-markup mention-markup-invalid">@Markup.NameOrNotAvailable</div>
        return;
    }

    <div
        class="mention-markup mention-markup-valid @(context.IsOwn ? "mention-markup-own" : "")"
        @onclick="@(_ => AuthorUI.Show(_authorId))">
        <div class="truncate">
            @context.Author.Avatar.Name
        </div>
    </div>
</AuthorBadgeTemplate>

@code {
    private AuthorId _authorId;

    [Inject] private AuthorUI AuthorUI { get; init; } = null!;

    protected override void OnParametersSet()
        => Markup.Id.IsAuthor(out _authorId);
}
