@namespace ActualChat.Chat.UI.Blazor.Components
@{
    RenderFragment RenderTab(ChatListFilter filter, double order) {
        var id = filter.Id.Value;
        var title = filter.Title;
        var contentVersion = (id, title);
        return @<Tab
            @key="@id"
            Id="@id"
            Title="@title"
            ContentVersion="@contentVersion"
            Order="@order"
            Class="chats-tab">
            <TitleContent>
                <span>@title</span>
            </TitleContent>
            <TitleExtras>
               @if (PlaceId.IsNone) {
                   <ChatListTabUnreadCount ChatListFilter="filter" PlaceId="@PlaceId.None"/>
               }
            </TitleExtras>
        </Tab>;
    }
}

<div class="c-container">
    <div class="c-all-chats">
        <TabPanel
            @ref="@_tabPanel"
            BottomHill="true"
            TabsClass="left-panel-tabs"
            SelectedTabIdChanged="@OnSelectedTabIdChanged">
            <AdditionalButton>
                <ChatListSortButton/>
            </AdditionalButton>
            <ChildContent>
                @if (PlaceId.IsNone) {
                    @for (var i = 0; i < ChatListFilter.All.Count; i++) {
                        var filter = ChatListFilter.All[i];
                        @RenderTab(filter, i)
                    }
                } else {
                    @RenderTab(ChatListFilter.Groups, 1)
                    @RenderTab(ChatListFilter.People, 2)
                }
            </ChildContent>
            <TabContent>
                @if (!PlaceId.IsNone && OrdinalEquals(ChatListFilter.People.Id.Value, context)) {
                    <PlacePeopleBanner />
                }
                <ChatList Kind="ChatListKind.All"/>
            </TabContent>
        </TabPanel>
    </div>
    <div class="c-active-chats">
        <ChatList Kind="ChatListKind.Active" />
    </div>
</div>

@code {
    private TabPanel _tabPanel = null!;

    [Inject] private ChatListUI ChatListUI { get; init; } = null!;

    [Parameter, EditorRequired] public PlaceId PlaceId { get; set; }

    protected override async Task OnInitializedAsync() {
        await ChatListUI.WhenLoaded;
    }

    protected override void OnAfterRender(bool firstRender) {
        if (PlaceId.IsNone)
            _tabPanel.SelectedTabId = ChatListUI.Settings.Value.FilterId;
    }

    private void OnSelectedTabIdChanged(string? tabId) {
        var filterId = tabId ?? "";
        ChatListUI.Settings.Set(filterId, static (filterId1, r) => {
            var settings = r.Value;
            if (settings.FilterId != filterId1)
                settings = settings with { FilterId = filterId1 };
            return settings;
        });
    }
}
