@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var rnd = new Random(Random.Shared.Next());
}

<NavbarItem>
    <ChildContent>
        <div class="c-container skeleton">
            <AvatarCircle Avatar="@Avatar.Loading" Size="@SquareSize.Size10" Presence="@Presence.Unknown" />
            <div class="c-description">
                <div class="c-title">
                    <div class="c-skeleton" style="width: @(30+rnd.Next(50))%;">
                        <span class="invisible">&nbsp;</span>
                    </div>
                </div>
                <div class="c-last-message">
                    <div class="c-skeleton" style="width: @(40+rnd.Next(50))%;">
                        <span class="invisible">&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</NavbarItem>
