@using ActualChat.Users
@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<ChatList.Model>
@{
    var m = State.Value;
    var searchModeTriggered = m.IsSearchModeOn && !_rendered.IsSearchModeOn;
    _rendered = m;
    if (Kind == ChatListKind.All && searchModeTriggered)
        _resetScrollPositionRequested = true;
    DebugLog?.LogDebug("Rendered: {List}, ChatCount={ChatCount}", Kind, m.ChatCount);
    if (m is { ChatCount: 0, IsSearchModeOn: false })
        return;
}

@if (Kind == ChatListKind.Active) {
    if (m.ChatCount == 0)
        return;

    <div class="c-delimiter"></div>
    <div class="active-chats"
         data-bubble="@(BubbleRef.New<ActiveChatsBubble>())"
         data-bubble-priority="202"
         data-bubble-placement="@(FloatingPosition.BottomStart.ToPositionString())">
        <div class="c-title" data-tooltip="Chats where you are listening or recording right now">Active Chats</div>

        <div class="chat-list chat-list-active">
            @for (var i = 0; i < m.ChatCount; i++) {
                <ChatListItem ListKind="@Kind" Index="@i" />
            }
        </div>
    </div>
} else {
    @* ChatListKind.All *@
    <div @ref="AllChatListRef" class="chat-list chat-list-all">
        @for (var i = 0; i < m.ChatCount; i++) {
            <ChatListItem ListKind="@Kind" Index="@i"/>
        }
    </div>
}

@code {
    private Model _rendered;
    private ILogger? _log;
    private bool _resetScrollPositionRequested;

    [Inject] private ChatUIHub Hub { get; set; } = null!;
    private Session Session => Hub.Session();
    private ChatUI ChatUI => Hub.ChatUI;
    private ChatListUI ChatListUI => Hub.ChatListUI;
    private SearchUI SearchUI => Hub.SearchUI;
    private ILogger Log => _log ??= Hub.LogFor(GetType());
    private ILogger? DebugLog => Constants.DebugMode.ChatListComponents ? Log : null;

    private ElementReference AllChatListRef { get; set; }

    [Parameter, EditorRequired] public ChatListKind Kind { get; set; }

    protected override void OnInitialized() {
        DebugLog?.LogDebug("Initialized: {List}", Kind);
        base.OnInitialized();
    }

    protected override void OnParametersSet() {
        DebugLog?.LogDebug("OnParametersSet: {List}", Kind);
        base.OnParametersSet();
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = new Model(ChatListUI.GetCountWhenLoading(Kind), false, true),
            Category = ComputedStateComponent.GetStateCategory(GetType()),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chatListKind = Kind;

        DebugLog?.LogDebug("-> ComputeState: {List}", chatListKind);
        var chatCount = await ChatListUI.GetCount(chatListKind).ConfigureAwait(false);
        var isSearchModeOn = await SearchUI.IsSearchModeOn.Use(cancellationToken).ConfigureAwait(false);
        DebugLog?.LogDebug("<- ComputeState: {List}. Count={Count}, IsSearchModeOn={IsSearchModeOn}", chatListKind, chatCount, isSearchModeOn);
        return new (chatCount, isSearchModeOn);
    }

    protected override bool ShouldRender()
        => State.HasError || State.Value != _rendered;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_resetScrollPositionRequested) {
            await AllChatListRef.ScrollToTop();
            _resetScrollPositionRequested = false;
        }
    }

    // Nested types

    public record struct Model(
        int ChatCount,
        bool IsSearchModeOn = false,
        bool IsLoading = false);
}
