@using ActualChat.Users
@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<ChatList.Model>
@{
    DebugLog?.LogDebug("Rendered: {List}", Kind);
    var m = _rendered = State.Value;
    if (m is { ChatCount: 0, IsSearchModeOn: false })
        return;
}

@if (Kind == ChatListKind.Active) {
    if (m.ChatCount == 0)
        return;

    <div class="c-delimiter"></div>
    <div class="active-chats"
         data-bubble="@(BubbleRef.New<ActiveChatsBubble>())"
         data-bubble-priority="202"
         data-bubble-placement="@(FloatingPosition.BottomStart.ToPositionString())">
        <div class="c-title" data-tooltip="Chats where you are listening or recording right now">Active Chats</div>

        <div class="chat-list chat-list-active">
            @for (var i = 0; i < m.ChatCount; i++) {
                <ChatListItem ListKind="@Kind" Index="@i" />
            }
        </div>
    </div>
} else {
    @* ChatListKind.All *@
    <div class="chat-list chat-list-all">
        @for (var i = 0; i < m.ChatCount; i++) {
            <ChatListItem ListKind="@Kind" Index="@i"/>
        }
    </div>
}

@code {
    private Model _rendered;
    private ILogger? _log;

    [Inject] private ChatHub ChatHub { get; init; } = null!;

    [Parameter, EditorRequired] public ChatListKind Kind { get; set; }

    private Session Session => ChatHub.Session;
    private ChatUI ChatUI => ChatHub.ChatUI;
    private ChatListUI ChatListUI => ChatHub.ChatListUI;
    private SearchUI SearchUI => ChatHub.SearchUI;
    private ILogger Log => _log ??= ChatHub.LogFor(GetType());
    private ILogger? DebugLog => Constants.DebugMode.ChatListComponents ? Log : null;

    protected override void OnInitialized() {
        DebugLog?.LogDebug("Initialized: {List}", Kind);
        base.OnInitialized();
    }

    protected override void OnParametersSet() {
        DebugLog?.LogDebug("OnParametersSet: {List}", Kind);
        base.OnParametersSet();
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = new Model(ChatListUI.GetCountWhenLoading(Kind), false, true),
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        DebugLog?.LogDebug("-> ComputeState: {List}", Kind);
        var chatCount = await ChatListUI.GetCount(Kind);
        if (Kind != ChatListKind.Active) {
            DebugLog?.LogDebug("<- ComputeState: {List}. Count={Count}", Kind, chatCount);
            return new Model(chatCount);
        }

        var searchPhrase = await SearchUI.GetSearchPhrase(cancellationToken);
        DebugLog?.LogDebug("<- ComputeState: {List}. Count={Count}", Kind, chatCount);
        return new Model(chatCount, !searchPhrase.IsEmpty);
    }

    protected override bool ShouldRender()
        => State.HasError || State.Value != _rendered;

    // Nested types

    public record struct Model(
        int ChatCount,
        bool IsSearchModeOn = false,
        bool IsLoading = false);
}
