@namespace ActualChat.Chat.UI.Blazor.Components
@{
    RenderFragment RenderTab(ChatListFilter filter, double order) {
        var id = filter.Id.Value;
        var title = filter.Title;
        var contentVersion = (id, title);
        return @<Tab
            @key="@id"
            Id="@id"
            Title="@title"
            ContentVersion="@contentVersion"
            Order="@order"
            Class="chats-tab">
            <TitleContent>
                <span>@title</span>
            </TitleContent>
            <TitleExtras>
                <ChatListTabUnreadCount ChatListFilter="filter" />
            </TitleExtras>
        </Tab>;
    }
}

<NavbarGroup Title="Chats" Class="navbar-chats" Id="@NavbarGroupIds.Chats">
    <ChildContent>
        <div class="c-container">
            <ChatList Kind="ChatListKind.Active">
                <FooterDelimiter>
                    <div class="c-delimiter"></div>
                </FooterDelimiter>
            </ChatList>
            <TabPanel
                @ref="@_tabPanel"
                BottomHill="true"
                TabsClass="left-panel-tabs"
                SelectedTabIdChanged="@OnSelectedTabIdChanged">
                <AdditionalButton>
                    <ChatListSortButton />
                </AdditionalButton>
                <ChildContent>
                    @for (var i = 0; i < ChatListFilter.All.Count; i++) {
                        var filter = ChatListFilter.All[i];
                        @RenderTab(filter, i)
                    }
                </ChildContent>
                <TabContent>
                    <ChatList Kind="ChatListKind.All" />
                </TabContent>
            </TabPanel>
        </div>
    </ChildContent>
</NavbarGroup>

@code {
    TabPanel _tabPanel = null!;

    [Inject] private ChatListUI ChatListUI { get; init; } = null!;

    protected override async Task OnInitializedAsync() {
        await ChatListUI.WhenLoaded;
    }

    protected override void OnAfterRender(bool firstRender)
        => _tabPanel.SelectedTabId = ChatListUI.Settings.Value.FilterId;

    private void OnSelectedTabIdChanged(string? tabId) {
        var filterId = tabId ?? "";
        ChatListUI.Settings.Set(filterId, static (filterId1, r) => {
            var settings = r.Value;
            if (settings.FilterId != filterId1)
                settings = settings with { FilterId = filterId1 };
            return settings;
        });
    }
}
