@page "/landing"
@namespace ActualChat.UI.Blazor.App
@using ActualChat.UI.Blazor.Services
@using ActualChat.Users
@using System.Security.Cryptography
@using ActualChat.UI.Blazor.App.Module
@using ActualChat.UI.Blazor.Module
@inherits ComputedStateComponent<Landing.Model>
@layout NoLayout

@{
    var m = State.Value;
    var account = m.Account;
    var isGuest = account is not {IsGuest: false };
    var user = account?.User.OrGuest();
    var usedAuthSchemas = user.OrGuest().Identities.Select(kv => kv.Key.Schema).ToHashSet();
    var unusedAuthSchemas = AuthSchemas.Where(p => !usedAuthSchemas.Contains(p.Name)).ToArray();
    var googleScheme = unusedAuthSchemas.SingleOrDefault(e => OrdinalEquals(e.Name, IClientAuth.GoogleSchemeName));
    var isNarrow = ScreenSize.IsNarrow();
}

<div @ref="Ref" class="landing">
    @if (isNarrow) {
        <LandingLeftMenu
            AccountFull="@account"
            IsOpen="@_isMenuOpen"
            EnableIncompleteUI="@m.EnableIncompleteUI"
            Signin="@(() => SignIn(googleScheme.Name))"/>
    }

    @* Header *@
    <div class="landing-header blur-bg">
        @if (isNarrow) {
            <ButtonRound Class="menu-button flex-none" Click="@OnMenuHandleClick">
                <i class="icon-menu text-2xl"></i>
            </ButtonRound>
        }
        <div class="flex-x flex-1">
            <div class="min-w-fit">
                <img src="/dist/images/landing/ac-icon-light.svg" alt="icon" class="light-icon">
                <img src="/dist/images/landing/ac-icon-dark.svg" alt="icon" class="dark-icon">
            </div>
            <div class="flex-x flex-1">
                <div class="px-2 self-center -mt-1.5 @(!isNarrow ? "min-w-fit" : "max-w-40")">
                    <img src="/dist/images/landing/ac-title-light.svg" alt="brand" class="light-title">
                    <img src="/dist/images/landing/ac-title-dark.svg" alt="brand" class="dark-title">
                </div>
                <div class="max-w-9 -mt-0.5 -ml-1">
                    <img src="/dist/images/landing/ac-alpha-light.svg" alt="alpha" class="light-alpha">
                    <img src="/dist/images/landing/ac-alpha-dark.svg" alt="alpha" class="dark-alpha">
                </div>
            </div>
            <div class="header-text">
                @if (!isNarrow) {
                    @if (m.EnableIncompleteUI) {
                        <div class="px-8">
                            For business
                        </div>
                    }
                    @if (!isGuest) {
                        <div>
                            <a href="/chat" class="header-text text-headline-1">Chat</a>
                        </div>
                    }
                    <div>
                        <a href="/docs" class="header-text text-headline-1">Docs</a>
                    </div>
                    @if (isGuest) {
                        <button class="signin-button-group" onclick="@(() => SignIn(googleScheme.Name))">
                            <span class="px-2">Sign in with</span>
                            <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8">
                        </button>
                        // Don't remove this button group
                        @* <SigninButtonGroup> *@
                        @*     <GoogleIcon> *@
                        @*         <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8"> *@
                        @*     </GoogleIcon> *@
                        @*     <FacebookIcon> *@
                        @*         <img src="/dist/images/landing/google-icon-color.svg" alt="facebook" class="min-h-8 min-w-8"> *@
                        @*     </FacebookIcon> *@
                        @*     <AppleIcon> *@
                        @*         <img src="/dist/images/landing/google-icon-color.svg" alt="apple" class="min-h-8 min-w-8"> *@
                        @*     </AppleIcon> *@
                        @* </SigninButtonGroup> *@
                    } else {
                        <AvatarCircle Avatar="@account?.Avatar" Size="SquareSize.Size9"></AvatarCircle>
                    }
                }
            </div>
        </div>
        @if (isNarrow) {
            <div class="flex-none justify-end">
                @if (isGuest) {
                    <ButtonRound Class="signin-button" Click="@(() => SignIn(googleScheme.Name))">
                        <i class="icon-log-in text-xl"></i>
                    </ButtonRound>
                } else {
                    <AvatarCircle Avatar="@account?.Avatar" Size="SquareSize.Size9"></AvatarCircle>
                }
            </div>
        }
    </div>

    @* Page 1 *@
    <div class="page page-1">
        <div class="page-1-wrapper overflow-hidden">
            <div class="flex-x h-screen overflow-hidden @(isNarrow ? "px-4" : "px-16")">
                <div class="main-text">
                    <div class="text-04 pt-12">
                        <div class="title-text">Text or call?</div>
                        <div class="title-text highlight">Pick both!</div>
                        <div class="py-8 @(isNarrow ? "text-4.5xl font-thin" : "text-xl")">
                            We want to redefine the meaning of "Chat". Actually.
                        </div>
                    </div>
                    <div class="flex @(isNarrow ? "justify-center" : "")">
                        @if (isGuest) {
                            <button class="signin-button-group bg-01" onclick="@(() => SignIn(googleScheme.Name))">
                                <span class="px-2">Sign in with</span>
                                <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8">
                            </button>
                            // Don't remove this button group
                            @* <SigninButtonGroup> *@
                            @*     <GoogleIcon> *@
                            @*         <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8"> *@
                            @*     </GoogleIcon> *@
                            @*     <FacebookIcon> *@
                            @*         <img src="/dist/images/landing/facebook-icon-blue.svg" alt="facebook" class="min-h-8 min-w-8"> *@
                            @*     </FacebookIcon> *@
                            @*     <AppleIcon> *@
                            @*         <img src="/dist/images/landing/apple-icon-blue.svg" alt="apple" class="min-h-8 min-w-8"> *@
                            @*     </AppleIcon> *@
                            @* </SigninButtonGroup> *@
                        }
                    </div>
                </div>
                <div class="flex w-2/5 justify-center @(isNarrow ? "hidden" : "")">
                    <img src="/dist/images/landing/android-phone.svg" alt="phone">
                </div>
            </div>
        </div>
    </div>

    @* Page 2 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden bg-01 @(isNarrow ? "flex-y justify-center" : "flex-x")">
            <div class="flex items-center @(isNarrow ? "p-4" : "flex-1 p-16 pr-4")">
                <div class="flex overflow-hidden justify-center items-center">
                    <img src="/dist/images/landing/evolution.svg" alt="evolution">
                </div>
            </div>
            <div class="flex-y @(isNarrow ? "p-4 justify-center" : "w-1/2 gap-y-8 justify-start p-16 pl-4 text-4xl font-medium")">
                <div class="title-text">
                    What’s the biggest differentiator?
                </div>
                <div>
                     Between humans and any other form of life on Earth?
                </div>
                <div>
                    Communication. And the more productive it is, the faster we evolve.
                </div>
            </div>
        </div>
    </div>

    @* Page 3 *@
    <div class="page @(isNarrow ? "no-auto-scroll" : "")">
        <div class="overflow-hidden bg-[#EEEEF6] @(isNarrow ? "h-full flex-y pt-14" : "h-screen flex-x pt-20")">
            <div class="flex-y gap-y-8 @(isNarrow ? "px-4 py-4" : "w-3/5 justify-center p-16 pb-24 pr-6")">
                <div class="title-text">Voice and text merged into a single medium</div>
                @if (isNarrow) {
                    <div class="flex justify-center p-4">
                        <img src="/dist/images/landing/voice-and-text.svg" alt="voice and text">
                    </div>
                }
                <div class="flex-y gap-y-2">
                    <div>
                        We record, transmit & transcribe your speech &ndash; <strong>all in real-time</strong>.
                    </div>
                    <ul>
                        <li>Instead of “calling” your parties, you just start talking.</li>
                        <li>Once chat participants start responding, you’ll hear & see their responses in real time.</li>
                        <li>You can also can read or listen to the responses at any time later.</li>
                    </ul>
                    <div>
                        So if you talk with people in real-time, it’s very similar to a regular call.
                        Otherwise it’s quite similar to text & voice messaging.
                        The only difference is: <strong>you don't have to switch!</strong>
                    </div>
                </div>
            </div>
            @if (!isNarrow) {
                <div class="flex justify-center w-2/5 p-16 pb-24 pl-0">
                    <img src="/dist/images/landing/voice-and-text.svg" alt="voice and text">
                </div>
            }
        </div>
        <div class="flex w-full items-center justify-center @(isNarrow ? "py-8 px-16" : "h-56 py-8 px-16")">
            <div class="@(isNarrow ? "flex-y items-center text-title-1" : "flex-x text-5xl font-semibold")">
                <span>We believe&nbsp;</span>
                <span>communication must be...</span>
            </div>
        </div>
    </div>

    @* Page 4 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden bg-[#EEEEF6] @(isNarrow ? "flex-y px-4 pt-14" : "flex-x")">
            <div class="flex justify-center @(isNarrow ? "p-8" : "w-1/2 p-4")">
                <img src="/dist/images/landing/stressless.svg" alt="stressless">
            </div>
            <div class="flex-y justify-center @(isNarrow ? "" : "w-1/2 p-16 pb-24 pl-6")">
                <div class="title-text">Stressless</div>
                <ul class="@(isNarrow ? "px-8 py-4" : " m-8")">
                    <li>
                        <strong>61%</strong> of the millennials and
                        <strong>40% of baby boomers</strong> experience anxiety when the phone rings.
                        <a href="https://theconversation.com/phone-call-anxiety-why-so-many-of-us-have-it-and-how-to-get-over-it-155798"
                           target="_blank">
                            That's why they tend to avoid calls.
                        </a>
                    </li>
                    <li>
                        <a href="https://www.forbes.com/sites/briannawiest/2019/11/04/millennials-hate-phone-calls-they-have-a-point/"
                           target="_blank">
                            Millennials and Gen-Z also find calls rude.
                        </a>
                        Most, if not all, even need to work up the courage to press the "Call" button.
                    </li>
                    <li>
                        Believe it or not, but there is no “Call” button in Actual.chat.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @* Page 5 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden @(isNarrow ? "-flex-y justify-center" : "flex-x")">
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pr-6")">
                <div class="title-text">Seamless and frictionless</div>
                <ul>
                    <li>
                        Typing is great, but there are so many cases when it’s inconvenient or impossible to type
                    </li>
                    <li>
                        Driving, jogging, or already in bed, but still looking through your chats?
                        Just hit the microphone button & start talking.
                    </li>
                </ul>
            </div>
            <div class="@(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                <div class="flex-y gap-y-4 justify-center w-full h-full">
                    <div class="flex-x gap-x-8">
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-01.svg" alt="body">
                        </div>
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-02.svg" alt="body">
                        </div>
                    </div>
                    <div class="flex-x gap-x-8">
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-03.svg" alt="body">
                        </div>
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-04.svg" alt="body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Page 6 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden bg-[#EEEEF6] @(isNarrow ? "flex-y justify-center" : "flex-x")">
            <div class="flex items-center @(isNarrow ? "p-4" : "w-1/2 p-16 pr-6")">
                <div class="flex overflow-hidden justify-center items-center">
                    <img src="/dist/images/landing/synchronous.svg" alt="synchronous">
                </div>
            </div>
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pb-24 pl-6")">
                <div class="title-text">Synchronous + asynchronous</div>
                <ul>
                    <li>
                        Start any conversation as asynchronous, which turns synchronous
                        when parties start to respond in real-time
                    </li>
                    <li>
                        And if you missed the real-time conversation,
                        transcription and recording is always there
                        – in fact, you get exactly the same experience
                        as in regular chats in this case.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @* Page 7 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full @(isNarrow ? "-flex-y justify-center" : "flex-x")">
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pr-6")">
                <div class="title-text">Productive</div>
                <div>
                    Beep… Beep… Beep… And 10 seconds of your life are gone - forever!
                </div>
                <ul class="list-[&ndash;]">
                    <li>
                        You know, we discussed this problem with Alice over the phone… Can you somehow find it?
                    </li>
                    <li>
                        Unfortunately, no - could you please tell me again what happened?
                    </li>
                </ul>
                <div>
                    Have you ever dreamed of highlighting the important parts of a voice conversation
                    to have the summary later, or slicing a longer one to a few topics that could be continued later?
                </div>
                <div>
                    Actual.chat shines in these scenarios.
                </div>
            </div>
            <div class="flex @(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                <div class="flex overflow-hidden justify-center items-center">
                    <img src="/dist/images/landing/productive.svg" alt="productive" class="h-full">
                </div>
            </div>
        </div>
    </div>

    @* Page 7.5 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full bg-[#EEEEF6] @(isNarrow ? "flex-y justify-center" : "flex-x")">
            <div class="flex justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pr-6")">
                <img src="/dist/images/landing/team-friendly.svg" alt="team-friendly" class="max-h-120">
            </div>
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                <div class="title-text">Team-friendy</div>
                <div>
                    Choosing between synchronous and asynchronous style is a well-known problem for team conversations:
                </div>
                <ul>
                    <li>
                        Gathering the whole team = productivity hit;
                        + <a href="https://www.forbes.com/sites/glennllopis/2022/10/05/the-demands-of-millennials--gen-z-a-guide-to-meeting-their-needs/"
                             target="_blank">
                            Millennials and Gen-Z are ok only with specific kinds of meetings.
                        </a>
                    </li>
                    <li>
                        But keeping everyone on the same page is important too.
                    </li>
                </ul>
                <div>
                    Is there a solution addressing both these issues well?
                    We hope you just found it!
                </div>
            </div>
        </div>
    </div>

    @* Page 8 *@
    <div class="page @(isNarrow ? "no-auto-scroll" : "")">
        <div class="flex-y items-center justify-center overflow-hidden @(isNarrow ? "h-full px-4 pt-14 pb-8 gap-y-4" : "h-screen px-16 py-24 gap-y-8")">
            <div class="flex font-semibold @(isNarrow ? "self-center text-4.5xl" : "self-start text-7xl")">
                Enjoyable and Fun
            </div>
            <div class="@(isNarrow ? "grid grid-rows-3 gap-y-8" : "grid grid-cols-3 gap-x-8")">

                <div class="flex-y gap-y-2">
                    <div class="flex h-60 items-center justify-center">
                        <img src="/dist/images/landing/enjoyable-01.svg" alt="enjoyable">
                    </div>
                    <div class="px-8 text-center">
                        Many people prefer hearing you rather than reading your texts
                    </div>
                </div>

                <div class="flex-y gap-y-2">
                    <div class="flex h-60 items-center justify-center">
                        <img src="/dist/images/landing/enjoyable-02.svg" alt="enjoyable" class="">
                    </div>
                    <div class="px-8 text-center">
                        Some of us are much better speakers than writers
                    </div>
                </div>

                <div class="flex-y">
                    <div class="flex h-60 items-center justify-center">
                        <img src="/dist/images/landing/enjoyable-03.svg" alt="enjoyable" class="">
                    </div>
                    <div class="px-8 text-center">
                        Jokes are almost always more fun when they’re told
                    </div>
                </div>

            </div>
        </div>
        <LandingLinks IsMobile="@isNarrow" EnableIncompleteUI="@m.EnableIncompleteUI"/>
    </div>

    @* Page 9 *@
    <div class="page @(isNarrow ? "no-auto-scroll" : "")">
        <div class="flex-y items-center overflow-hidden @(isNarrow ? "text-4.5xl px-4 pt-8 gap-y-8" : "px-16 pb-8 pt-16 min-h-screen")">
            <div class="flex self-start font-semibold @(isNarrow ? "text-4.5xl " : "text-7xl")">
                Actual.chat Features
            </div>
            <div class="w-full justify-between @(isNarrow ? "flex-y gap-y-8" : "flex-x")">
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-64")">
                    <div class="flex w-full p-2 @(isNarrow ? "justify-center" : "h-60 items-end")">
                        <img src="/dist/images/landing/dialog-01.svg" alt="description">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Voice & text</span>
                        <span>are merged together in</span>
                        <span>chats - channels</span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-64")">
                    <div class="flex w-full p-2 @(isNarrow ? "justify-center" : "h-60 items-end")">
                        <img src="/dist/images/landing/dialog-02.svg" alt="description">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Markdown-style</span>
                        text message markup: **bold**, *italic*, `preformatted` text and ```code blocks```
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-64")">
                    <div class="flex w-full p-2 @(isNarrow ? "justify-center" : "h-60 items-end")">
                        <img src="/dist/images/landing/dialog-03.svg" alt="description">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Replies, @@mentions, and reactions</span>
                    </div>
                </div>
            </div>

            <div class="w-full justify-between @(isNarrow ? "flex-y gap-y-8" : "flex-x")">
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-64")">
                    <div class="flex w-full p-2 @(isNarrow ? "justify-center" : "h-60 items-end")">
                        <img src="/dist/images/landing/dialog-04.svg" alt="description">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Group and peer-to-peer</span>
                        <span class="font-bold">chats</span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-64")">
                    <div class="flex w-full p-2 @(isNarrow ? "justify-center" : "h-60 items-end")">
                        <img src="/dist/images/landing/dialog-07.svg" alt="description">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Unlimited Image & file uploads</span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-64")">
                    <div class="flex w-full p-2 @(isNarrow ? "justify-center" : "h-60 items-end")">
                        <img src="/dist/images/landing/dialog-06.svg" alt="description">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Characters</span>
                        your status and picture you can choose on per-chat basis
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Page 10 *@
    <div class="page justify-center bg-[#EEEEF6]) @(isNarrow ? "no-auto-scroll" : "")">
        <div class="flex-y justify-center items-start overflow-hidden @(isNarrow ? "px-4 py-8 gap-y-8" : "p-16 gap-y-16")">
            <div class="font-semibold @(isNarrow ? "flex-y text-4.5xl" : "flex-x text-7xl")">
                <span>What`s&nbsp;</span><span>upcoming?</span>
            </div>
            <div class="flex-x w-full justify-between @(isNarrow ? "flex-y gap-y-8" : "flex-x")">
                <div class="flex-y gap-y-8 min-w-1/3">
                    <LandingUpcomingItem Text="Highlights & conversation collapsing (“Show just highlights for voice conversations”)"/>
                    <LandingUpcomingItem Text="Places: a group of chats managed together. A perfect fit for team, company, or community chats."/>
                </div>
                <div class="flex-y gap-y-8 min-w-1/3">
                    <LandingUpcomingItem Text="Chat timelines - think scrollbars, but much more informative"/>
                    <LandingUpcomingItem Text="New voice-related features - quotes, filters, noise cancellation"/>
                    <LandingUpcomingItem Text="Nested chats / threads"/>
                </div>
                <div class="flex-y gap-y-8 min-w-1/3">
                    <LandingUpcomingItem Text="More languages, transcription and punctuation engines"/>
                    <LandingUpcomingItem Text="Phone integration"/>
                    <LandingUpcomingItem Text="Search everywhere"/>
                </div>
            </div>
        </div>
    </div>

    @* Page 11 *@
    <div class="page no-auto-scroll">
        <div class="flex-y h-full">
            <div class="@(isNarrow ? "flex-y py-8" : "flex-x min-h-120")">
                <div class="@(isNarrow ? "flex-y px-4 py-8" : "flex-x w-1/2 p-16 pr-6")">
                    <div class="w-full font-semibold @(isNarrow ? "flex-x flex-wrap text-4.5xl text-center" : "flex-y justify-center text-7xl")">
                        <span>How much&nbsp;</span>
                        <span>does it&nbsp;</span>
                        <span>cost?</span>
                    </div>
                </div>
                <div class="flex-y gap-y-4 justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                    <span>Right now Actual.chat is completely free.</span>
                    <span>Its basic features will be either completely free or require a nominal fee forever.</span>
                    <span>We see corporate subscriptions and advanced features (embedding, online support scenarios, phone integration) as our primary future revenue sources.
                        So if you’re using it for daily or team communications, you shouldn’t expect any significant changes related to pricing.</span>
                </div>
            </div>
            <LandingLinks IsMobile="@isNarrow" EnableIncompleteUI="@m.EnableIncompleteUI"/>
            <div class="flex-x bg-07 @(isNarrow ? "p-4" : "py-12 px-16")">
                <div class="flex-y flex-1">
                    <div class="h-full justify-start text-04 @(isNarrow ? "flex-y" : "flex-x gap-x-12")">
                        <a href="/docs/privacy" class="footer-link">
                            Privacy
                        </a>
                        <a href="/docs/terms" class="footer-link">
                            Terms
                        </a>
                        <a href="/docs/cookies" class="footer-link">
                            Cookie Preferences
                        </a>
                        @if (m.EnableIncompleteUI) {
                            <a href="#" class="footer-link">
                                Contact us
                            </a>
                            <a href="#" class="footer-link">
                                Region
                            </a>
                        }
                    </div>
                    <div class="flex items-center text-04 @(isNarrow ? "min-h-16" : "min-h-12")">
                        © 2023 Actual Chat Inc. All rights reserved.
                    </div>
                </div>
                <div class="flex-y justify-between items-start text-04 @(isNarrow ? "hidden" : "")">
                    <a class="footer-link" href="https://github.com/Actual-Chat/actual-chat">
                        Github
                    </a>
                    @if (m.EnableIncompleteUI) {
                        <button class="footer-info-btn">
                            Announcements
                        </button>
                        <button class="footer-info-btn">
                            Twitter
                        </button>
                        <button class="footer-info-btn">
                            Medium
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _isMenuOpen;
    private (string Name, string DisplayName)[] AuthSchemas { get; set; } = Array.Empty<(string, string)>();

    private DotNetObjectReference<Landing> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private FeedbackUI FeedbackUI { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override async Task OnInitializedAsync()
        => AuthSchemas = await ClientAuth.GetSchemas();

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{BlazorUIAppModule.ImportName}.Landing.create",
                Ref, BlazorRef
                );
        }
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        return new() {
            Account = await Accounts.GetOwn(Session, cancellationToken).ConfigureAwait(false),
            EnableIncompleteUI = await Features.Get<UIFeatures.EnableIncompleteUI, bool>(cancellationToken).ConfigureAwait(false),
        };
    }

    private void SignIn(string name)
        => ClientAuth.SignIn(name);

    private void OnMenuHandleClick() {
        _isMenuOpen = !_isMenuOpen;
        StateHasChanged();
    }

    // JS API

    [JSInvokable]
    public void CloseMenu() {
        if (!_isMenuOpen)
            return;
        _isMenuOpen = false;
        StateHasChanged();
    }

    // Nested types

    public sealed record Model {
        public static Model None { get; } = new();

        public AccountFull? Account { get; init; }
        public bool EnableIncompleteUI { get; init; }
    }
}
