@using ActualChat.Users
@namespace ActualChat.UI.Blazor.App
@{
    var isGuest = AccountFull is not {IsGuest: false };
    var cls = IsOpen ? "open" : "closed";
    const string privacyUrl = "/docs/privacy";
    const string termsUrl = "/docs/terms";
    const string cookiesUrl = "/docs/cookies";
}

<div class="landing-menu @cls">
    <div class="c-container">
        <div class="menu-header">
            <div class="flex">
                <img src="/dist/images/landing/ac-icon-dark.svg" alt="icon" class="dark-icon">
            </div>
            <div class="px-2 self-center max-w-40">
                <img src="/dist/images/landing/ac-title-dark.svg" alt="brand" class="dark-title">
            </div>
        </div>
        <div class="menu-content">
            @if (isGuest) {
                <button onclick="@Signin">
                    Sign in
                </button>
            }
            <button onclick="@(() => NavigateTo(privacyUrl))">
                Privacy
            </button>
            <button onclick="@(() => NavigateTo(termsUrl))">
                Terms
            </button>
            <button onclick="@(() => NavigateTo(cookiesUrl))">
                Cookie Preferences
            </button>
            @if (EnableIncompleteUI) {
                <a href="/docs/privacy">
                    Contact Us
                </a>
                <button>
                    For Business
                </button>
                <button>
                    API
                </button>
                <button>
                    Apps
                </button>
                <button>
                    FAQ
                </button>
            }
        </div>
        <div class="menu-footer">
            @if (EnableIncompleteUI) {
                <ButtonRound>
                    <img src="/dist/images/landing/github-gray.svg" alt="github">
                </ButtonRound>
                <ButtonRound>
                    <img src="/dist/images/landing/facebook-gray.svg" alt="facebook">
                </ButtonRound>
                <ButtonRound>
                    <img src="/dist/images/landing/telegram-gray.svg" alt="telegram">
                </ButtonRound>
                <ButtonRound>
                    <img src="/dist/images/landing/medium-gray.svg" alt="medium">
                </ButtonRound>
            }
        </div>
    </div>
</div>

@code {
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public bool EnableIncompleteUI { get; set; }
    [Parameter] public AccountFull? AccountFull { get; set; }
    [Parameter] public EventCallback Signin { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private void NavigateTo(string url) {
        OnClose.InvokeAsync();
        Nav.NavigateTo(url);
    }
}
