@page "/landing"
@namespace ActualChat.UI.Blazor.App
@using ActualChat.UI.Blazor.Services
@using ActualChat.Users
@using System.Security.Cryptography
@using ActualChat.UI.Blazor.App.Module
@using ActualChat.UI.Blazor.Module
@inherits ComputedStateComponent<Landing.Model>
@layout NoLayout
@{
    var m = State.Value;
    var account = m.Account;
    var isGuest = account is not {IsGuest: false };
    var user = account?.User.OrGuest();
    var avatar = account?.Avatar ?? Avatar.None;
    var usedAuthSchemas = user.OrGuest().Identities.Select(kv => kv.Key.Schema).ToHashSet();
    var unusedAuthSchemas = AuthSchemas.Where(p => !usedAuthSchemas.Contains(p.Name)).ToArray();
    var googleScheme = unusedAuthSchemas.SingleOrDefault(e => OrdinalEquals(e.Name, IClientAuth.GoogleSchemeName));
    var isNarrow = ScreenSize.IsNarrow();
}

<div @ref="Ref" class="landing" xmlns="http://www.w3.org/1999/html">
    @if (isNarrow) {
        <LandingLeftMenu
            AccountFull="@account"
            IsOpen="@_isMenuOpen"
            EnableIncompleteUI="@m.EnableIncompleteUI"
            Signin="@(() => SignIn(googleScheme.Name))"/>
    }

    @* Header *@
    <div class="landing-header blur-bg">
        @if (isNarrow) {
            <ButtonRound Class="menu-button flex-none" Click="@OnMenuHandleClick">
                <i class="icon-menu text-2xl"></i>
            </ButtonRound>
        }
        <div class="flex-x flex-1">
            <div class="min-w-fit">
                <img src="/dist/images/landing/ac-icon-light.svg" alt="icon" class="light-icon">
                <img src="/dist/images/landing/ac-icon-dark.svg" alt="icon" class="dark-icon">
            </div>
            <div class="flex-x flex-1">
                <div class="px-2 self-center -mt-1.5 @(!isNarrow ? "min-w-fit" : "max-w-40")">
                    <img src="/dist/images/landing/ac-title-light.svg" alt="brand" class="light-title">
                    <img src="/dist/images/landing/ac-title-dark.svg" alt="brand" class="dark-title">
                </div>
                <div class="max-w-9 -mt-0.5 -ml-1">
                    <img src="/dist/images/landing/ac-alpha-light.svg" alt="alpha" class="light-alpha">
                    <img src="/dist/images/landing/ac-alpha-dark.svg" alt="alpha" class="dark-alpha">
                </div>
            </div>
            <div class="header-text">
                @if (!isNarrow) {
                    <Button
                        Click="@(_ => Nav.NavigateTo(Links.Docs))"
                        Class="header-text text-headline-1 btn-transparent">Docs
                    </Button>
                    @if (isGuest) {
                        <button class="signin-button-group" onclick="@(() => SignIn(googleScheme.Name))">
                            <span class="px-2 font-medium">Sign in with</span>
                            <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8">
                        </button>
                        // Don't remove this button group
                        @* <SigninButtonGroup> *@
                        @*     <GoogleIcon> *@
                        @*         <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8"> *@
                        @*     </GoogleIcon> *@
                        @*     <FacebookIcon> *@
                        @*         <img src="/dist/images/landing/google-icon-color.svg" alt="facebook" class="min-h-8 min-w-8"> *@
                        @*     </FacebookIcon> *@
                        @*     <AppleIcon> *@
                        @*         <img src="/dist/images/landing/google-icon-color.svg" alt="apple" class="min-h-8 min-w-8"> *@
                        @*     </AppleIcon> *@
                        @* </SigninButtonGroup> *@
                    } else {
                        <div
                            class="context-menu-btn"
                            data-menu="@(MenuRef.New<LandingDocsMenu>().ToString())"
                            data-menu-trigger="@MenuTrigger.Primary"
                            data-menu-placement="@(FloatingPosition.BottomStart.ToPositionString())">
                            <AvatarCircle
                                Avatar="@avatar"
                                Size="SquareSize.Size10"/>
                        </div>
                    }
                }
            </div>
        </div>
        @if (isNarrow) {
            <div class="flex-none justify-end">
                @if (isGuest) {
                    <ButtonRound Class="signin-button" Click="@(() => SignIn(googleScheme.Name))">
                        <i class="icon-log-in text-xl"></i>
                    </ButtonRound>
                } else {
                    <button
                        class="context-menu-btn md:mx-4"
                        data-menu="@(MenuRef.New<LandingDocsMenu>().ToString())"
                        data-menu-trigger="@MenuTrigger.Primary"
                        data-menu-placement="@(FloatingPosition.BottomStart.ToPositionString())">
                        <AvatarCircle
                            Avatar="@avatar"
                            Size="SquareSize.Size9"/>
                    </button>
                }
            </div>
        }
    </div>

    @* Page 1 *@
    <div class="page page-1">
        <div class="page-1-wrapper overflow-hidden">
            <div class="flex-x h-screen overflow-hidden @(isNarrow ? "px-8" : "px-16")">
                <div class="main-text">
                    <div class="md:text-4xl font-normal text-04 pt-12">
                        <div class="title-text main">To call, to text, or<br/>to voice message?</div>
                        <p class="!pt-8">
                            But... Could these options be purely artificial?<br/>
                            Is it possible to create a medium, which naturally
                            combines all of them together?
                        </p>
                        <p class="!pt-8">
                            <strong>We are here to redefine the meaning of "Chat".</strong>
                        </p>
                    </div>
                    <div class="flex @(isNarrow ? "justify-center" : "") pt-8">
                        @if (isGuest) {
                            <button class="signin-button-group bg-01" onclick="@(() => SignIn(googleScheme.Name))">
                                <span class="px-2 text-xl font-semibold">Sign in with</span>
                                <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8">
                            </button>
                            // Don't remove this button group
                            @* <SigninButtonGroup> *@
                            @*     <GoogleIcon> *@
                            @*         <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8"> *@
                            @*     </GoogleIcon> *@
                            @*     <FacebookIcon> *@
                            @*         <img src="/dist/images/landing/facebook-icon-blue.svg" alt="facebook" class="min-h-8 min-w-8"> *@
                            @*     </FacebookIcon> *@
                            @*     <AppleIcon> *@
                            @*         <img src="/dist/images/landing/apple-icon-blue.svg" alt="apple" class="min-h-8 min-w-8"> *@
                            @*     </AppleIcon> *@
                            @* </SigninButtonGroup> *@
                        }
                    </div>
                </div>
                <div class="flex w-2/5 justify-center @(isNarrow ? "hidden" : "")">
                    <img src="/dist/images/landing/android-phone.svg" alt="phone">
                </div>
            </div>
        </div>
    </div>

    @* Page 2 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden bg-01 @(isNarrow ? "grid pt-14" : "flex-x")">
            <div class="flex items-center @(isNarrow ? "p-4" : "flex-1 p-16 pr-4")">
                <div class="flex overflow-hidden justify-center items-center">
                    <img src="/dist/images/landing/evolution.svg" alt="evolution">
                </div>
            </div>
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 gap-y-8 p-16 pl-4 text-4xl")">
                <div class="title-text">
                    We used to speak, laugh, and cry
                </div>
                <p>
                    But now we text, "like", and send emojis.
                </p>
                <p>
                    It's slower, inconvenient, and less expressive.
                </p>
                <p>
                    With all the progress in technology and AI,<br/>
                    how it happened that <strong>we can't just talk</strong> in chats?
                </p>
            </div>
        </div>
    </div>

    @* Page 3 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="bg-[#EEEEF6] @(isNarrow ? "h-full flex-y pt-14" : "h-screen flex-x pt-20")">
            <div class="grid h-full gap-y-5 @(isNarrow ? "px-4" : "w-3/5 justify-center p-16 pb-24 pr-6")">
                <div class="title-text !-mb-8 md:mb-0">
                    We reimagine calls, texts and voice messages
                </div>
                @if (isNarrow) {
                    <div class="flex justify-center p-4">
                        <img src="/dist/images/landing/voice-and-text.svg" alt="voice and text">
                    </div>
                }
                <div class="flex-none flex-y">
                    <div class="font-semibold">
                        By blending voice and text into a single medium.
                    </div>
                    <p>
                        Watch your words come to life as you talk -
                        anything you say is transcribed and instantly available, word-by-word.
                    </p>
                    <p>
                        And it's not just a transcript - <strong>it's voice + text, streamed in real time</strong>.
                        Listen to chats like a call, without the need for a call.
                    </p>
                    @if (!isNarrow) {
                        <p>
                            Effortlessly catch up on missed moments - every conversation
                            is captured in text and audio for later playback or reading.
                        </p>
                    }
                </div>
            </div>
            @if (!isNarrow) {
                <div class="flex justify-center w-2/5 p-16 pb-24 pl-0">
                    <img src="/dist/images/landing/voice-and-text.svg" alt="voice and text">
                </div>
            }
        </div>
    </div>

    @* Page 4 *@
    <div class="page @(isNarrow ? "h-screen" : "") overflow-hidden">
        <div class="flex w-full items-center justify-center pb-4 px-16 @(isNarrow ? "pt-14" : "h-56 pt-16")">
            <div class="@(isNarrow ? "flex-y items-center pb-4 text-title-1" : "flex-x text-5xl font-semibold")">
                <span>We believe&nbsp;</span>
                <span>communication must be...</span>
            </div>
        </div>
        <div class="h-full overflow-hidden bg-[#EEEEF6] @(isNarrow ? "grid px-4" : "flex-x")">
            <div class="flex justify-center p-8 @(isNarrow ? "py-4" : "w-1/2")">
                <img src="/dist/images/landing/stressless.svg" alt="stressless">
            </div>
            <div class="flex-y justify-center @(isNarrow ? "" : "w-1/2 p-8")">
                <div class="title-text">Stressless</div>
                <ul>
                    <li>
                        <strong>61%</strong> of the millennials and
                        <strong>40% of baby boomers</strong> experience anxiety when the phone rings.
                        <a href="https://theconversation.com/phone-call-anxiety-why-so-many-of-us-have-it-and-how-to-get-over-it-155798"
                           target="_blank">That's why they avoid calls.</a>
                    </li>
                    <li>
                        <a href="https://www.forbes.com/sites/briannawiest/2019/11/04/millennials-hate-phone-calls-they-have-a-point/"
                           target="_blank">Millennials and Gen-Z also find calls rude.</a>
                        Most even need to work up the courage to press the "Call" button.
                    </li>
                </ul>
                @if (!isNarrow) {
                    <div>
                        Believe it or not, but there is no “Call” button in Actual Chat.
                    </div>
                }
            </div>
        </div>
    </div>

    @* Page 5 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden @(isNarrow ? "-flex-y pt-14 justify-around" : "flex-x")">
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pr-6")">
                <div class="title-text">Seamless &amp; Frictionless</div>
                <ul>
                    <li>
                        Typing is great, but sometimes it's not practical or feasible
                    </li>
                    <li>
                        Driving, jogging, or about to sleep, but need to respond?
                        Just hit the microphone button & start talking &ndash;
                        we'll do the rest!
                    </li>
                </ul>
            </div>
            <div class="@(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                <div class="flex-y gap-y-4 justify-center w-full h-full">
                    <div class="flex-x gap-x-8">
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-01.svg" alt="body">
                        </div>
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-02.svg" alt="body">
                        </div>
                    </div>
                    <div class="flex-x gap-x-8">
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-03.svg" alt="body">
                        </div>
                        <div class="flex overflow-hidden justify-center items-center">
                            <img src="/dist/images/landing/person-04.svg" alt="body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Page 6 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full overflow-hidden bg-[#EEEEF6] @(isNarrow ? "grid pt-14" : "flex-x")">
            <div class="flex items-center @(isNarrow ? "p-4" : "w-1/2 p-16 pr-6")">
                <div class="flex overflow-hidden justify-center items-center">
                    <img src="/dist/images/landing/synchronous.svg" alt="synchronous">
                </div>
            </div>
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-[60%] p-16 pb-24 pl-6")">
                <div class="title-text">Real-time + asynchronous</div>
                <ul>
                    <li>
                        Start any conversation as asynchronous,
                        which turns into real-time one
                        when parties start to respond
                    </li>
                    <li>
                        And if you missed the real-time part,
                        transcript and recording is always there
                        – in fact, you get exactly the same experience
                        as in regular chats in this case.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @* Page 7 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full @(isNarrow ? "-flex-y pt-14 justify-around" : "flex-x")">
            <div class="flex-y justify-center @(isNarrow ? "px-4" : "w-1/2 p-16 pr-6")">
                <div class="title-text">Productive</div>
                <ul>
                    <li>
                        Beep… Beep… Beep… And 10 seconds of your life are gone - forever!
                    </li>
                    <li>
                        "I explained the problem to your colleague in December. Do you have any notes on this?"
                        &ndash; "Sorry, but no... Could you explain it again?"
                    </li>
                    <li>
                        Have you ever dreamed of highlighting the important parts of a voice conversation
                        to have the summary later?
                    </li>
                </ul>
                @if (!isNarrow) {
                    <div>
                        Actual Chat shines in these scenarios.
                    </div>
                }
            </div>
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                <div class="flex-1 flex overflow-hidden justify-center items-center">
                    <img src="/dist/images/landing/productive.svg" alt="productive" class="h-full max-h-96">
                </div>
            </div>
        </div>
    </div>

    @* Page 7.5 *@
    <div class="page @(isNarrow ? "h-screen" : "")">
        <div class="h-full bg-[#EEEEF6] @(isNarrow ? "grid pt-14" : "flex-x")">
            <div class="flex-y justify-center @(isNarrow ? "p-4" : "w-1/2 p-16")">
                <img src="/dist/images/landing/team-friendly.svg" alt="team-friendly" class="max-h-120">
            </div>
            <div class="flex-y justify-center @(isNarrow ? "px-4" : "w-1/2 p-16 pl-6")">
                <div class="title-text">Team-friendly</div>
                <p>
                    The dilemma of real-time vs asynchronous communication style
                    is a common issue in almost any team:
                </p>
                <ul>
                    <li>
                        Keeping everyone on the same page is super important,
                        but bringing the whole team together is always a productivity hit
                    </li>
                    <li>
                        Individual communication preferences vary based on daily schedules,
                        job duties, and other factors.
                    </li>
                    <li>
                        <a href="https://www.forbes.com/sites/glennllopis/2022/10/05/the-demands-of-millennials--gen-z-a-guide-to-meeting-their-needs/"
                           target="_blank">Millennials and Gen-Z are ok only with specific kinds of meetings</a>
                    </li>
                </ul>
                @if (!isNarrow) {
                    <p>
                        Is there a solution helping to address some of these issues?
                        We hope you just found it!
                    </p>
                }
            </div>
        </div>
    </div>

    @* Page 8 *@
    <div class="page @(isNarrow ? "no-auto-scroll" : "")">
        <div class="flex-y items-center justify-center overflow-hidden @(isNarrow ? "h-full px-4 pt-14 pb-8 gap-y-4" : "h-screen px-16 py-24 gap-y-8")">
            <div class="flex font-semibold @(isNarrow ? "self-center text-4.5xl" : "self-start text-7xl")">
                Enjoyable and Fun
            </div>
            <div class="@(isNarrow ? "grid grid-rows-3 gap-y-8" : "grid grid-cols-3 gap-x-8")">

                <div class="flex-y gap-y-2">
                    <div class="flex h-60 items-center justify-center">
                        <img src="/dist/images/landing/enjoyable-01.svg" alt="enjoyable">
                    </div>
                    <div class="px-8 text-center">
                        Many people prefer hearing your voice rather than reading your texts
                    </div>
                </div>

                <div class="flex-y gap-y-2">
                    <div class="flex h-60 items-center justify-center">
                        <img src="/dist/images/landing/enjoyable-02.svg" alt="enjoyable" class="">
                    </div>
                    <div class="px-8 text-center">
                        For some, speaking is a stronger communication tool than writing
                    </div>
                </div>

                <div class="flex-y">
                    <div class="flex h-60 items-center justify-center">
                        <img src="/dist/images/landing/enjoyable-03.svg" alt="enjoyable" class="">
                    </div>
                    <div class="px-8 text-center">
                        Jokes are almost always more fun when delivered verbally
                    </div>
                </div>

            </div>
        </div>
        <LandingLinks IsNarrow="@isNarrow" EnableIncompleteUI="@m.EnableIncompleteUI"/>
    </div>

    @* Page 9 *@
    <div class="page @(isNarrow ? "no-auto-scroll" : "")">
        <div class="flex-y overflow-hidden pt-16 @(isNarrow ? "text-4.5xl px-4 gap-y-12" : "px-16 pb-8 min-h-screen")">
            <div class="flex self-start font-semibold @(isNarrow ? "text-4.5xl " : "text-7xl")">
                Actual Chat Features
            </div>
            <div class="justify-around @(isNarrow ? "flex-y gap-y-12" : "flex-x")">
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-80")">
                    <div class="flex @(isNarrow ? "justify-center" : "h-48 items-end")">
                        <img src="/dist/images/landing/dialog-01.svg" alt="description" class="md:h-48">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Voice and text</span>
                        <span class="features-text">are blended together </span>
                        <span class="features-text">&ndash; everywhere!</span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-80")">
                    <div class="flex @(isNarrow ? "justify-center" : "h-48 items-end")">
                        <img src="/dist/images/landing/dialog-02.svg" alt="description" class="md:h-40">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Markdown-style markup</span>
                        <span class="features-text">
                            **bold**, *italic*, `preformatted` text and ```code blocks```
                        </span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-80")">
                    <div class="flex @(isNarrow ? "justify-center" : "h-48 items-end")">
                        <img src="/dist/images/landing/dialog-03.svg" alt="description" class="md:h-40">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Replies, @@mentions, and reactions</span>
                    </div>
                </div>
            </div>

            <div class="justify-around @(isNarrow ? "flex-y gap-y-12" : "flex-x")">
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-80")">
                    <div class="flex @(isNarrow ? "justify-center" : "h-48 items-end")">
                        <img src="/dist/images/landing/dialog-04.svg" alt="description" class="md:h-40">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Group and peer-to-peer</span>
                        <span class="font-bold">chats</span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-80")">
                    <div class="flex @(isNarrow ? "justify-center" : "h-48 items-end")">
                        <img src="/dist/images/landing/dialog-07.png" alt="description" class="max-w-4/5 md:h-40">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Unlimited image & file uploads</span>
                    </div>
                </div>
                <div class="flex-y gap-y-2 @(isNarrow ? "" : "w-80")">
                    <div class="flex @(isNarrow ? "justify-center" : "h-48 items-end")">
                        <img src="/dist/images/landing/dialog-06.svg" alt="description" class="md:h-40">
                    </div>
                    <div class="flex-y px-2 @(isNarrow ? "text-2xl" : "")">
                        <span class="font-bold">Avatars</span>
                        <span class="features-text">
                            change name, picture, and bio on per-chat basis
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Page 10 *@
    <div class="page justify-center bg-[#EEEEF6]) @(isNarrow ? "no-auto-scroll" : "")">
        <div class="flex-y justify-center items-start overflow-hidden @(isNarrow ? "px-4 pb-8 pt-14 gap-y-8" : "p-16 gap-y-16")">
            <div class="font-semibold @(isNarrow ? "flex-y text-4.5xl" : "flex-x text-7xl")">
                <span>What`s&nbsp;</span><span>upcoming?</span>
            </div>
            <div class="flex-x w-full justify-between @(isNarrow ? "flex-y gap-y-8" : "flex-x")">
                <div class="flex-y gap-y-8 min-w-1/3">
                    <LandingUpcomingItem Text="Highlights & conversations"/>
                    <LandingUpcomingItem Text="Action items"/>
                    <LandingUpcomingItem Text="Places: a group of chats managed together"/>
                </div>
                <div class="flex-y gap-y-8 min-w-1/3">
                    <LandingUpcomingItem Text="Chat timelines"/>
                    <LandingUpcomingItem Text="Voice quotes"/>
                    <LandingUpcomingItem Text="Nested chats / threads"/>
                </div>
                <div class="flex-y gap-y-8 min-w-1/3">
                    <LandingUpcomingItem Text="More languages, transcription and punctuation engines"/>
                    <LandingUpcomingItem Text="Phone integration"/>
                    <LandingUpcomingItem Text="Search everywhere"/>
                </div>
            </div>
        </div>
    </div>

    @* Page 11 *@
    <div class="page no-auto-scroll">
        <div class="h-full @(isNarrow ? "grid" : "flex-y")">
            <div class="@(isNarrow ? "flex-y" : "flex-x")">
                <div class="@(isNarrow ? "flex-y px-4" : "flex-x w-1/2 p-16 pr-6")">
                    <div class="font-semibold @(isNarrow ? "flex-x flex-wrap text-4.5xl text-center" : "flex-y justify-center text-7xl")">
                        <span>Are there any fees?</span>
                    </div>
                </div>
                <div class="flex-y gap-y-4 justify-center @(isNarrow ? "p-4" : "w-1/2 p-16 pl-6")">
                    <span>Right now Actual Chat is <strong>completely free</strong>.</span>
                    <span>We see corporate subscriptions and advanced features
                        as our primary revenue sources.</span>
                    <span>So if you use Actual Chat for daily communications,
                        you shouldn’t expect any significant changes related to pricing.</span>
                </div>
            </div>
            <LandingLinks IsNarrow="@isNarrow" EnableIncompleteUI="@m.EnableIncompleteUI"/>
            <div class="flex-x bg-07 @(isNarrow ? "p-4" : "py-12 px-16")">
                <div class="flex-y flex-1">
                    <div class="h-full justify-start text-04 @(isNarrow ? "flex-y" : "flex-x gap-x-12")">
                        <a href="/docs/privacy" class="footer-link">
                            Privacy
                        </a>
                        <a href="/docs/terms" class="footer-link">
                            Terms
                        </a>
                        <a href="/docs/cookies" class="footer-link">
                            Cookie Preferences
                        </a>
                        <a href="mailto:support@actual.chat" class="footer-link">
                            Contact us
                        </a>
                        @if (m.EnableIncompleteUI) {
                            <a href="#" class="footer-link">
                                Region
                            </a>
                        }
                    </div>
                    <div class="flex items-center text-05 @(isNarrow ? "min-h-8 text-sm" : "min-h-16")">
                        © 2023 Actual Chat Inc. All rights reserved.
                    </div>
                </div>
                <div class="flex-y justify-between items-start text-04 @(isNarrow ? "hidden" : "")">
                    <a class="footer-link" href="https://actual.chat/chat/announcements">
                        Announcements
                    </a>
                    <a class="footer-link" href="https://github.com/Actual-Chat/actual-chat">
                        GitHub
                    </a>
                    @if (m.EnableIncompleteUI) {
                        <button class="footer-info-btn">
                            Twitter
                        </button>
                        <button class="footer-info-btn">
                            Medium
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private bool _isMenuOpen;
    private (string Name, string DisplayName)[] AuthSchemas { get; set; } = Array.Empty<(string, string)>();

    private DotNetObjectReference<Landing> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }

    [Inject] private AccountUI AccountUI { get; init; } = null!;
    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private FeedbackUI FeedbackUI { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override async Task OnInitializedAsync()
        => AuthSchemas = await ClientAuth.GetSchemas();

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{BlazorUIAppModule.ImportName}.Landing.create",
                Ref, BlazorRef
                );
        }
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = new Model(AccountUI.OwnAccount.Value, false),
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        return new Model(
            await AccountUI.OwnAccount.Use(cancellationToken),
            await Features.Get<UIFeatures.EnableIncompleteUI, bool>(cancellationToken));
    }

    public override async ValueTask DisposeAsync() {
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
        await base.DisposeAsync();
    }

    private Task SignIn(string name) =>
        ClientAuth.SignIn(name).AsTask();

    private void OnMenuHandleClick() {
        _isMenuOpen = !_isMenuOpen;
        StateHasChanged();
    }

    // JS API

    [JSInvokable]
    public void CloseMenu() {
        if (!_isMenuOpen)
            return;
        _isMenuOpen = false;
        StateHasChanged();
    }

    // Nested types

    public sealed record Model(AccountFull Account, bool EnableIncompleteUI);
}
