@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.App

<div class="landing-links" xmlns='http://www.w3.org/1999/html'>
    <div class="flex-y gap-y-2 @(IsNarrow ? "self-start" : "")">
        <div class="flex-y gap-y-2">
            <div class="font-semibold text-04 @(IsNarrow ? "text-4.5xl text-center py-4" : "text-6xl")">
                Get Actual Chat
            </div>
        </div>
    </div>
    <div class="flex-x justify-center gap-x-4 @(IsNarrow ? "py-4 " : "")">
        <button class="link-btn">
            <div class="link-btn-content">
                <img src="/dist/images/landing/android-logo-white.svg" alt="android">
            </div>
            <div class="text-04 @(IsNarrow ? "text-sm" : "")">
                Download for <strong>Android</strong>
            </div>
        </button>
        <button class="link-btn">
            <div class="link-btn-content">
                <img src="/dist/images/landing/apple-logo-white.svg" alt="apple">
            </div>
            <div class="text-04 @(IsNarrow ? "text-sm" : "")">
                Coming soon:
                <strong>iPhone/iPad</strong>
            </div>
        </button>
        <button class="link-btn">
            <div class="link-btn-content">
                <img src="/dist/images/landing/web-logo-white.svg" alt="web">
            </div>
            <div class="text-04 @(IsNarrow ? "text-sm" : "")">
                <strong>Web app</strong><br/>
                just sign in!
            </div>
        </button>
    </div>
</div>

@code{
    [Parameter] public bool IsNarrow { get; set; }
    [Parameter] public bool EnableIncompleteUI { get; set; }
}
