@using ActualChat.UI.Blazor.Events
@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<AuthorModal.Model>
@inherits ComputedStateComponent<AuthorModal.ComputedModel>
@{
    var m = State.Value;
    var cls = "author-modal modal-sm";
    var title = "User profile";
    if (m.IsOwn)
        title = "Your profile";
    else if (m.Author.IsAnonymous)
        title = "Anonymous profile";
    else
        cls += " wide-dialog-buttons";

    var tileCls = "anonymous-chat-toggle";
    if (m.OnlyAnonymousChatAllowed)
        tileCls += " unhovered tile-selected";
    var toggleValue = m.OnlyAnonymousChatAllowed || _anonymousChat;
}

<DialogFrame Title="@title" Class="@cls" HasCloseButton="true">
    <Body>
    <AuthorModalHeader
        Author="m.Author"
        IsOwn="m.IsOwn"
        OnEditClick="@OnSettingsClick"/>
    <FormBlock>
        <AuthorModalContent
            Author="@m.Author"
            IsOwn="@m.IsOwn"
            UsePlaceSettingsToEditMember="@m.UsePlaceSettingsToEditMember"
            EditMemberModel="@m.EditMemberModel"/>
    </FormBlock>
    </Body>
    <Buttons>
        @if (m.IsOwn) {
            if (!m.Author.IsAnonymous) {
                <Button Class="btn-modal btn-primary" Click="OnChangeAvatarClicked">
                    <Icon><i class="icon-sync text-lg"></i></Icon>
                    <Title>Change avatar</Title>
                </Button>
            } else {
                <Button Class="btn-modal" Click="@(_ => OnEditAvatarClicked(m.Author))">
                    <Icon><i class="icon-sync text-lg md:hidden"></i></Icon>
                    <Title>Edit avatar</Title>
                </Button>
                <Button Class="btn-modal btn-danger" Click="OnRevealClicked">
                    <Icon><i class="icon-eye text-xl md:hidden"></i></Icon>
                    <Title>Reveal</Title>
                </Button>
            }
        } else if (m.Author.IsAnonymous) {
            <Button Class="btn-modal btn-primary" Click="OnCancel">OK</Button>
        } else {
            @if (m.CanStartPeerChat) {
                if (!m.OnlyAnonymousChatAllowed) {
                    if (_anonymousChat) {
                        <Button Class="btn-modal btn-primary" Click="OnStartAnonymousPeerChat">
                            <Icon><i class="icon-question-mark-bubble text-xl"></i></Icon>
                            <Title>New Anonymous chat with @m.Author.Avatar.Name</Title>
                        </Button>
                    } else {
                        <Button
                            Class="btn-modal btn-primary start-chat-btn"
                            Click="OnStartPeerChat">
                            <Icon><i class="icon-message-ellipse text-xl"></i></Icon>
                            <Title>Chat with @m.Author.Avatar.Name</Title>
                        </Button>
                    }
                } else {
                    if (m.EnableIncompleteUI) {
                        <Button Class="btn-modal btn-primary" Click="OnStartAnonymousPeerChat">
                            <Icon><i class="icon-question-mark-bubble text-xl"></i></Icon>
                            <Title>New Anonymous chat with @m.Author.Avatar.Name</Title>
                        </Button>
                    }
                }

                @if (m.EnableIncompleteUI) {
                    <div class="tile-wrapper flex-y gap-y-2">
                        <div class="c-incut flex-1 min-h-16">
                            @if (toggleValue) {
                                <div class="c-info flex-x items-start gap-x-2 bg-[var(--sienna-50-20)] rounded-xl text-caption-6 font-normal text-03 leading-3 px-4 py-2">
                                    <i class="icon-alert-triangle text-lg text-warning"></i>
                                    <span>
                                        Anonymous chats hide user identities and don't transmit or record your voice, though still
                                        show real - time transcription. And you can reveal you real identity there at any moment.
                                    </span>
                                </div>
                            }
                        </div>

                        <TileItem Click="@OnChatTypeChanged" Class="@tileCls">
                            <Content>
                                Anonymous chat
                            </Content>
                            <Caption>
                                Chat can be direct or anonymous.
                            </Caption>
                            <Right>
                                <Toggle Class="mr-2"
                                        IsChecked="@toggleValue"
                                        IsCheckedChanged="@OnChatTypeChanged"
                                        IsDisabled="@m.OnlyAnonymousChatAllowed"/>
                            </Right>
                        </TileItem>
                    </div>
                }
            } else {
                <Button Class="btn-modal" Click="OnCancel">Close</Button>
            }
        }
    </Buttons>
</DialogFrame>

@code {
    private bool _anonymousChat;

    [Inject] private ChatUIHub Hub { get; init; } = null!;

    private AuthorId AuthorId => ModalModel.AuthorId;  // Shortcut
    private ChatId ChatId => AuthorId.ChatId; // Shortcut

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<ComputedModel>.Options() {
                InitialValue = ComputedModel.Loading,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        var authorId = AuthorId;
        var currentChatId = ChatId;
        if (authorId.IsNone)
            return ComputedModel.None;

        var chatId = authorId.ChatId;
        var session = Hub.Session();
        var author = await Hub.Authors.Get(session, chatId, authorId, cancellationToken).ConfigureAwait(false);
        if (author == null)
            return ComputedModel.None;

        var chat = await Hub.Chats.Get(session, chatId, cancellationToken).ConfigureAwait(false);
        var ownAccount = await Hub.Accounts.GetOwn(session, cancellationToken).ConfigureAwait(false);
        var account = await Hub.Authors.GetAccount(session, currentChatId, authorId, cancellationToken).ConfigureAwait(false);
        var canStartPeerChat = await Hub.AuthorUI.CanStartPeerChat(authorId, cancellationToken).ConfigureAwait(false);
        var enableIncompleteUI = await Hub.Features().Get<Features_EnableIncompleteUI, bool>(cancellationToken).ConfigureAwait(false);

        var onlyAnonymousChatAllowed = chat is { Kind: ChatKind.Peer };

        EditChatMemberModel? editMemberModel = null;
        var usePlaceSettingsToEditMember = false;
        if (chat != null && chat.Rules.CanEditMembers()) {
            if (chat.IsPublicPlaceChat())
                usePlaceSettingsToEditMember = true;
            else
                editMemberModel = await EditChatMemberCommands.ComputeState(Hub, authorId, cancellationToken).ConfigureAwait(false);
        }

        return new() {
            Author = author,
            Account = account,
            OwnAccount = ownAccount,
            CanStartPeerChat = canStartPeerChat,
            OnlyAnonymousChatAllowed = onlyAnonymousChatAllowed,
            UsePlaceSettingsToEditMember = usePlaceSettingsToEditMember,
            EditMemberModel = editMemberModel,
            EnableIncompleteUI = enableIncompleteUI,
        };
    }

    private void OnCancel()
        => Modal.Close();

    private async Task OnRevealClicked() {
        var revealed = false;
        var modelRef = await Hub.ModalUI.Show(new AvatarSelectModal.RevealModel(ChatId, SetAvatar));
        await modelRef.WhenClosed;
        if (revealed)
            Modal.Close();

        async Task SetAvatar(AvatarFull avatar) {
            var command = new Authors_SetAvatar(Hub.Session(), ChatId, avatar.Id);
            await Hub.UICommander().Run(command);
            revealed = true;
        }
    }

    private async Task OnChangeAvatarClicked() {
        Modal.Close();
        await Hub.ModalUI.Show(new AvatarSelectModal.Model(AuthorId.ChatId, false, OnAvatarSelected));
    }

    private void OnChatTypeChanged() {
        _anonymousChat = !_anonymousChat;
        StateHasChanged();
    }

    private Task OnStartPeerChat()
        => Hub.AuthorUI.StartPeerChat(AuthorId);

    private Task OnStartAnonymousPeerChat()
        => Hub.AuthorUI.StartAnonymousPeerChat(AuthorId);

    private async Task OnAvatarSelected(AvatarFull avatar) {
        var command = new Authors_SetAvatar(Hub.Session(), AuthorId.ChatId, avatar.Id);
        await Hub.UICommander().Run(command);
    }

    private void OnSettingsClick() {
        Modal.Close();
        _ = Hub.UIEventHub().Publish(new ShowSettingsEvent());
    }

    private void OnEditAvatarClicked(Author author) {
        Modal.Close();
        _ = Hub.ModalUI.Show(new OwnAvatarEditorModal.Model(author.Avatar.Id, author.ChatId, "Edit avatar"));
    }

    // Nested types

    public sealed record ComputedModel {
        public static readonly ComputedModel None = new() { Author = Author.None, OwnAccount = AccountFull.None };
        public static readonly ComputedModel Loading = new() { Author = Author.Loading, OwnAccount = AccountFull.Loading }; // Should differ by ref. from None

        public Author Author { get; init; } = null!;
        public Account? Account { get; init; }
        public Account OwnAccount { get; init; } = null!;
        public bool IsOwn => Account?.Id == OwnAccount.Id;
        public bool CanStartPeerChat { get; init; }
        public bool OnlyAnonymousChatAllowed { get; init; }
        public EditChatMemberModel? EditMemberModel { get; init; }
        public bool UsePlaceSettingsToEditMember { get; init; }
        public bool EnableIncompleteUI { get; init; }
    }

    public sealed record Model(AuthorId AuthorId);
}
