@using ActualChat.UI.Blazor.Events
@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<AuthorModal.Model>
@inherits ComputedStateComponent<AuthorModal.ComputedModel>
@{
    var m = State.Value;
    var cls = "author-modal modal-sm";
    var title = "User profile";
    if (m.IsOwn)
        title = "Your profile";
    else if (m.Author.IsAnonymous)
        title = "Anonymous profile";
    else
        cls += " wide-dialog-buttons";
}

<DialogFrame Title="@title" Class="@cls" HasCloseButton="true">
    <Body>
    <AuthorModalHeader
        Author="m.Author"
        IsOwn="m.IsOwn"
        OnEditClick="@OnSettingsClick"/>
    <FormBlock>
        <AuthorModalContent
            Author="@m.Author"
            IsOwn="@m.IsOwn"
            UsePlaceSettingsToEditMember="@m.UsePlaceSettingsToEditMember"
            EditMemberModel="@m.EditMemberModel"/>
    </FormBlock>
    </Body>
    <Buttons>
        @if (m.IsOwn) {
            if (!m.Author.IsAnonymous) {
                <Button Class="btn-modal btn-primary" Click="OnChangeAvatarClicked">
                    <i class="icon-sync text-lg"></i>
                    Change avatar
                </Button>
            } else {
                <Button Class="btn-modal" Click="@(_ => OnEditAvatarClicked(m.Author))">
                    <i class="icon-sync text-lg md:hidden"></i>
                    Edit avatar
                </Button>
                <Button Class="btn-modal btn-danger" Click="OnRevealClicked">
                    <i class="icon-eye text-xl md:hidden"></i>
                    Reveal
                </Button>
            }
        } else if (m.Author.IsAnonymous) {
            <Button Class="btn-modal btn-primary" Click="OnCancel">OK</Button>
        } else {
            @if (m.CanStartPeerChat) {
                <Button Class="btn-modal btn-primary" Click="OnStartPeerChat">
                    <i class="icon-message-ellipse text-xl"></i>
                    Chat with @m.Author.Avatar.Name
                </Button>
                <Button Class="btn-modal" Click="OnStartAnonymousPeerChat">
                    <i class="icon-question-mark-bubble text-xl"></i>
                    Start anonymous chat
                </Button>
            } else {
                <Button Class="btn-modal" Click="OnCancel">Close</Button>
            }
        }
    </Buttons>
</DialogFrame>

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;

    private AuthorId AuthorId => ModalModel.AuthorId;  // Shortcut
    private ChatId ChatId => AuthorId.ChatId; // Shortcut

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => new() {
            InitialValue = ComputedModel.Loading,
            Category = GetStateCategory(),
        };

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        if (AuthorId.IsNone)
            return ComputedModel.None;

        var chatId = AuthorId.ChatId;
        var session = Hub.Session();
        var author = await Hub.Authors.Get(session, chatId, AuthorId, cancellationToken);
        if (author == null)
            return ComputedModel.None;

        var chat = await Hub.Chats.Get(session, chatId, cancellationToken);

        var ownAccount = await Hub.Accounts.GetOwn(session, cancellationToken);
        var account = await Hub.Authors.GetAccount(session, ChatId, AuthorId, cancellationToken);
        var canStartPeerChat = await Hub.AuthorUI.CanStartPeerChat(AuthorId, cancellationToken);
        var enableIncompleteUI = await Hub.Features().Get<Features_EnableIncompleteUI, bool>(cancellationToken);

        EditChatMemberModel? editMemberModel = null;
        bool usePlaceSettingsToEditMember = false;
        if (chat != null && chat.Rules.CanEditMembers()) {
            if (chat.IsPublicPlaceChat())
                usePlaceSettingsToEditMember = true;
            else
                editMemberModel = await EditChatMemberCommands.ComputeState(Hub, AuthorId, cancellationToken);
        }

        return new ComputedModel() {
            Author = author,
            Account = account,
            OwnAccount = ownAccount,
            CanStartPeerChat = canStartPeerChat,
            UsePlaceSettingsToEditMember = usePlaceSettingsToEditMember,
            EditMemberModel = editMemberModel,
            EnableIncompleteUI = enableIncompleteUI,
        };
    }

    private void OnCancel()
        => Modal.Close();

    private async Task OnRevealClicked() {
        var revealed = false;
        var modelRef = await Hub.ModalUI.Show(new AvatarSelectModal.RevealModel(ChatId, SetAvatar));
        await modelRef.WhenClosed;
        if (revealed)
            Modal.Close();

        async Task SetAvatar(AvatarFull avatar) {
            var command = new Authors_SetAvatar(Hub.Session(), ChatId, avatar.Id);
            await Hub.UICommander().Run(command);
            revealed = true;
        }
    }

    private async Task OnChangeAvatarClicked() {
        Modal.Close();
        await Hub.ModalUI.Show(new AvatarSelectModal.Model(AuthorId.ChatId, false, OnAvatarSelected));
    }

    private Task OnStartPeerChat()
        => Hub.AuthorUI.StartPeerChat(AuthorId);

    private Task OnStartAnonymousPeerChat()
        => Hub.AuthorUI.StartAnonymousPeerChat(AuthorId);

    private async Task OnAvatarSelected(AvatarFull avatar) {
        var command = new Authors_SetAvatar(Hub.Session(), AuthorId.ChatId, avatar.Id);
        await Hub.UICommander().Run(command);
    }

    private void OnSettingsClick() {
        Modal.Close();
        _ = Hub.UIEventHub().Publish(new ShowSettingsEvent());
    }

    private void OnEditAvatarClicked(Author author) {
        Modal.Close();
        _ = Hub.ModalUI.Show(new OwnAvatarEditorModal.Model(author.Avatar.Id, author.ChatId, "Edit avatar"));
    }

    public sealed record ComputedModel {
        public static readonly ComputedModel None = new() { Author = Author.None, OwnAccount = AccountFull.None };
        public static readonly ComputedModel Loading = new() { Author = Author.Loading, OwnAccount = AccountFull.Loading }; // Should differ by ref. from None

        public Author Author { get; init; } = null!;
        public Account? Account { get; init; }
        public Account OwnAccount { get; init; } = null!;
        public bool IsOwn => Account?.Id == OwnAccount.Id;
        public bool CanStartPeerChat { get; init; }
        public EditChatMemberModel? EditMemberModel { get; init; }
        public bool UsePlaceSettingsToEditMember { get; init; }
        public bool EnableIncompleteUI { get; init; }
    }

    public sealed record Model(AuthorId AuthorId);
}
