@using ActualChat.Notification.UI.Blazor
@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var activeClass = IsSelected ? "active" : "inactive";
    var statusClass = IsOnline switch { true  => "status-online", false  => "status-offline", _ => "status-unknown" };
}

<div class="@Class @activeClass @statusClass navbar-item group">
    <div class="navbar-item-status"></div>
    <div class="navbar-item-content">
        @if (Url.IsNullOrEmpty()) {
            @ChildContent
        } else if (BrowserInfo.IsTouchCapable) {
            <a class="unfocusable" href="@Url">@ChildContent</a>
        } else {
            <a class="unfocusable" href="@Url" @onmousedown="@Click" @onclick:preventDefault>@ChildContent</a>
        }
    </div>
    <div class="navbar-item-ending">
        @Ending
    </div>
</div>

@code {
    [Inject] private FocusUI FocusUI { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private BrowserInfo BrowserInfo { get; init; } = null!;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool? IsOnline { get; set; }
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Ending { get; set; }

    private void Click() {
        FocusUI.Blur();
        Nav.NavigateTo(Url);
    }
}
