@using ActualChat.Media;
@using ActualChat.Chat.UI.Blazor.Module
@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<NavbarPlaceButtons.Model>
@{
    var m = State.Value;
    var places = m.Places;
    if (places.Count == 0)
        return;
}

@if (places.Count > 0) {
    var size = ScreenSize.IsNarrow() ? SquareSize.Size10 : SquareSize.Size12;
    <div @ref="Ref" class="navbar-place-buttons">
        @foreach (var place in places) {
            <NavbarGroupSelectionButton
                Title="@place.Title"
                Id="@place.Id.GetNavbarGroupId()"
                Tooltip="@place.Title">
                <ChildContent>
                    <Pic
                        Title="@place.Title"
                        Picture="@place.Picture.ToPicture()"
                        Size="@size"
                        IsSquare="true"
                        AvatarKind="@AvatarKind.Marble"
                        AvatarKey="@place.Id.Value"/>
                </ChildContent>
                <BadgeContent>
                    <ChatsNavbarButtonBadge PlaceSid="@place.Id"/>
                </BadgeContent>
            </NavbarGroupSelectionButton>
        }
    </div>
}

@code {
    private static readonly string JSCreateMethod = $"{ChatBlazorUIModule.ImportName}.PlaceButtons.create";
    private DotNetObjectReference<NavbarPlaceButtons> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }

    [Inject] private ChatUIHub Hub { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    private Session Session => Hub.Session();

    [CascadingParameter] ScreenSize ScreenSize { get; set; }

    public override async ValueTask DisposeAsync() {
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(JSCreateMethod, Ref, BlazorRef);
        }
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = new Model(),
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var placeIds = await Hub.Contacts.ListPlaceIds(Session, cancellationToken);
        var selectedChatId = await Hub.ChatUI.SelectedChatId.Use(cancellationToken);
        if (selectedChatId.IsPlaceChat && !placeIds.Contains(selectedChatId.PlaceId))
            placeIds = placeIds.Add(selectedChatId.PlaceId, true);
        var places = (await placeIds
            .Select(id => Hub.Places.Get(Session, id, cancellationToken))
            .Collect())
            .SkipNullItems()
            .OrderBy(c => c.CreatedAt)
            .ToApiArray();

        return new Model {
            Places = places
        };
    }

    public record Model {
        public ApiArray<Place> Places { get; init; } = ApiArray.Empty<Place>();
    }
}
