@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Comparison

<OnUIEvent TEvent="@NavigateToChatEntryEvent" Handler="@OnNavigateToChatEntry" />
<VirtualList
    Class="chat-view"
    LoadZoneSize="2000" BufferZoneSize="4000" SpacerSize="300"
    SkeletonCount="30" DelaySkeletonRendering="false"
    DataSource="this"
    KeyComparer="LongAsStringKeyComparer.Default"
    VisibleKeysState="VisibleKeys">
    <Item>
        <ChatMessage Message="@context" />
    </Item>
    <Skeleton>
        @{
            var rnd = new Random(Random.Shared.Next());
            var showHeader = rnd.Next(5) == 1; // 20%
        }
        <div class="flex mx-1.5 opacity-75 hover:opacity-100 animate-pulse truncate">
            @if (showHeader) {
                <div class="m-2">
                    <AvatarCircle Avatar="Avatar.Loading"/>
                </div>
            } else {
                <div class="w-9 m-2 mt-1"></div>
            }

            <div class="flex flex-col grow overflow-hidden m-1">
                @if (showHeader) {
                    <div class="flex inline-flex-x">
                        <AvatarName Avatar="@Avatar.Loading" Class="flex"/>
                        <span class="bg-skeleton rounded-md border-skeleton-border opacity-75 border-2 w-32 h-4"></span>
                    </div>
                }
                <div class="leading-normal bg-skeleton rounded-md border-skeleton-border border-2 h-4 truncate"
                        style="width: @(30+rnd.Next(50))%;"></div>
            </div>
        </div>
    </Skeleton>
</VirtualList>
