@using System.Text
@namespace ActualChat.UI.Blazor.Components

<button @onclick="Click" class="btn btn-square @Class" title="@Title" disabled="@IsDisabled"
        name="@Name" type="@GetButtonType()">
    <div class="btn-content">
        @ChildContent
    </div>
</button>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Button;
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string GetButtonType()
        => Type.ToString().ToLower();

}
