@using ActualChat.Hosting
@namespace ActualChat.UI.Blazor.Components

<button class="@Class btn btn-square"
        name="@Name"
        type="@GetButtonType()"
        disabled="@IsDisabled"
        autofocus="@IsAutofocused"
        data-tooltip="@Tooltip"
        data-tooltip-position="@(TooltipPosition.ToPositionString())"
        @attributes="@AdditionalAttributes"
        @onpointerup="@OnPointerUp"
        @onclick="@OnClick">
    <div class="@ContentClass btn-content" tabindex="-1">
        @ChildContent
    </div>
</button>

@code {
    [Inject] private HostInfo HostInfo { get; init; } = null!;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ContentClass { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Button;
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsAutofocused { get; set; }
    [Parameter] public string Tooltip { get; set; } = "";
    [Parameter] public FloatingPosition TooltipPosition { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetButtonType()
        => Type.ToString().ToLower();

    private async Task OnClick() {
        if (HostInfo.AppKind != AppKind.Ios) {
            await Click.InvokeAsync();
        }
    }

    private async Task OnPointerUp() {
        if (HostInfo.AppKind == AppKind.Ios) {
            await Click.InvokeAsync();
        }
    }
}
