@namespace ActualChat.UI.Blazor.Components

<button
    @ref="Ref"
    class="@Class btn"
    type="@GetButtonType()"
    data-button-class="default"
    @attributes="@GetAttributes()"
    @onclick="@Click">
    <div class="@ContentClass btn-content" tabindex="-1">
        @if (ChildContent is not null) {
            @ChildContent
        } else {
            @Icon
            if (Title != null) {
                <span class="@TitleSpanClass">@Title</span>
            }
        }
    </div>
</button>

@code {
    public const string TitleSpanClass = "btn-title";
    private ElementReference _buttonRef;

    [Parameter] public string Class { get; set; } = "btn-primary";
    [Parameter] public string ContentClass { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string FormId { get; set; } = "";
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Button;
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsAutofocused { get; set; }
    [Parameter] public string Tooltip { get; set; } = "";
    [Parameter] public FloatingPosition TooltipPosition { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public RenderFragment? Title { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
    [Parameter] public EventCallback<ElementReference> Rendered { get; set; }
    [Parameter] public Mutable<ElementReference>? ButtonRef { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    protected override void OnParametersSet() {
        if (ChildContent is not null && (Icon is not null || Title is not null))
            throw StandardError.Constraint("You can not set Icon or/and Title properties together with ChildContent property.");
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
        => firstRender
            ? Rendered.InvokeAsync(_buttonRef)
            : Task.CompletedTask;

    private ElementReference Ref {
        set {
            _buttonRef = value;
            ButtonRef?.Set(value);
        }
    }

    private string GetButtonType()
        => Type.ToString().ToLower();

    private IReadOnlyDictionary<string, object> GetAttributes() {
        var attributes = AdditionalAttributes == null
            ? new Dictionary<string, object>()
            : new Dictionary<string, object>(AdditionalAttributes);
        if (!FormId.IsNullOrEmpty()) {
            attributes.Add("form", FormId);
        }
        if (IsAutofocused) {
            attributes.Add("autofocus", IsAutofocused);
        }
        if (!Name.IsNullOrEmpty()) {
            attributes.Add("name", Name);
        }
        if (IsDisabled) {
            attributes.Add("disabled", IsDisabled);
        }
        if (!Tooltip.IsNullOrEmpty() && TooltipPosition != FloatingPosition.None) {
            attributes.Add("data-tooltip", Tooltip);
            attributes.Add("data-tooltip-position", TooltipPosition.ToPositionString());
        }
        return attributes;
    }
}
