@using System.Text
@namespace ActualChat.UI.Blazor.Components

<button @onclick="OnClick" class="btn @Class" title="@Title" disabled="@Disabled" name="@Name" type="@GetButtonType()" @attributes="@ButtonAttributes">
    <div class="btn-content">
        @ChildContent
    </div>
</button>

@code {
    [Parameter] public string Class { get; set; } = "btn-success";
    [Parameter] public string? Title { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Button;
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public bool Focus { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    private Dictionary<string, object> ButtonAttributes { get; set; } = new();

    private string GetButtonType()
        => Type.ToString().ToLower();

    private void AddAutofocus() {
        if (Focus)
            ButtonAttributes.Add("autofocus", "");
    }
}
