@namespace ActualChat.UI.Blazor.Components

<button class="@Class btn-h"
        name="@Name"
        type="@GetButtonType()"
        disabled="@IsDisabled"
        autofocus="@IsAutofocused"
        data-tooltip="@Tooltip"
        data-tooltip-position="@(TooltipPosition.ToPositionString())"
        data-must-keep-awake="@MustKeepAwake.ToString()"
        @attributes="@AdditionalAttributes"
        @onclick:stopPropagation="@StopPropagation"
        @onclick:preventDefault="@PreventDefault"
        @onclick="@Click">
    <div class="c-content">
        @ChildContent
    </div>
    <span class="button-touch-target"></span>
</button>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ContentClass { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Button;
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsAutofocused { get; set; }
    [Parameter] public string Tooltip { get; set; } = "";
    [Parameter] public bool MustKeepAwake { get; set; }
    [Parameter] public FloatingPosition TooltipPosition { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
    [Parameter] public bool StopPropagation { get; set; }
    [Parameter] public bool PreventDefault { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetButtonType()
        => Type.ToString().ToLower();
}
