@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Module
@inherits ComputedStateComponent<MentionSearchResult[]>
@{
    var mentions = Mentions;
    if (mentions.Length < 1)
        return;
    var selection = Selection;
}

<div @ref="Ref" class="@Class mention-list custom-scrollbar">
    @foreach (var mention in mentions) {
        var searchMatch = mention.SearchMatch;
        var title = searchMatch.Text;
        var cls = mention == selection ? "bg-mention-list-hover" : "";
        <div class="@cls hover:cursor-pointer mention-item"
             @onmouseover="_ => Selection = mention"
             @onclick="@(_ => Manager.SelectMention(mention))">
            @if (searchMatch.Parts.Length == 0) {
                <div class="flex-x gap-x-2 px-4 items-center h-8">
                    <img class="w-7 h-7 rounded-full" src="@mention.Picture" alt="@title"/>
                    <span class="font-medium">@title</span>
                    <span class="opacity-80">@mention.Id</span>
                </div>
            } else {
                foreach (var part in searchMatch.PartsWithGaps) {
                    var textClass = part.Rank > 0 ? "font-semibold" : "";
                    <span class="@textClass">@(title[part.Range.Start..part.Range.End])</span>
                }
            }
        </div>
    }
</div>

@code {
    [Inject] private IJSRuntime JS { get; init; } = null!;

    private string? _lastFilter;
    private MentionSearchResult? _selection;
    private DotNetObjectReference<MentionList> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }

    [CascadingParameter] public MentionListManager Manager { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";

    public IMutableState<string?> Filter { get; private set; } = null!;
    public MentionSearchResult[] Mentions => State.LatestNonErrorValue;
    public MentionSearchResult? Selection {
        get => _selection;
        set {
            if (_selection == value)
                return;
            _selection = FixSelection(value, Mentions);
            StateHasChanged();
        }
    }

    protected override void OnInitialized() {
        base.OnInitialized();
        Filter = StateFactory.NewMutable<string?>();
    }

    protected override ComputedState<MentionSearchResult[]>.Options GetStateOptions()
        => new() {
            InitialValue = Array.Empty<MentionSearchResult>(),
            UpdateDelayer = UpdateDelayer.MinDelay,
        };

    protected override async Task<MentionSearchResult[]> ComputeState(CancellationToken cancellationToken) {
        var filter = await Filter.Use(cancellationToken);
        var mentions = filter != null
            ? await Manager.SearchProvider.Find(filter, Manager.Limit, cancellationToken)
            : Array.Empty<MentionSearchResult>();
        _selection = FixSelection(filter == _lastFilter ? _selection : null, mentions);
        _lastFilter = filter;
        return mentions;
    }

    public async Task MoveSelection(int offset) {
        if (!Manager.ListCreated) {
            BlazorRef = DotNetObjectReference.Create(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{ChatBlazorUIModule.ImportName}.MentionList.create",
                Ref, BlazorRef
                );
            Manager.ListCreated = true;
        }
        var mentions = Mentions;
        var selection = FixSelection(_selection, mentions);
        var selectionIndex = Array.IndexOf(mentions, selection) + offset;
        if (selectionIndex < 0 || selectionIndex >= mentions.Length)
            return;
        _selection = mentions[selectionIndex];
        StateHasChanged();
    }

    public async Task CloseList() {
        if (Manager.ListCreated) {
            Manager.ListCreated = false;
            await JSRef.DisposeSilentlyAsync("dispose");
            JSRef = null!;
            BlazorRef.DisposeSilently();
            BlazorRef = null!;
        }
    }

    // Private methods

    private MentionSearchResult? FixSelection(MentionSearchResult? selection, MentionSearchResult[] mentions) {
        if (mentions.Length == 0)
            return null;
        var firstMention = mentions[0];
        selection ??= firstMention;
        return mentions.FirstOrDefault(o => o.Id == selection.Id) ?? firstMention;
    }
}
