@using ActualChat.Users
@namespace ActualChat.UI.Blazor.Components
@{
    var title = HasTooltip ? Author.Name : "";
}

<div class="author-avatar-badge flex-x items-center rounded-full">
    <div class="relative overflow-hidden">
        @if (ReferenceEquals(Author, Users.Author.None)) {
            <div class="animate-pulse rounded-full bg-04 @_avatarClass"></div>
        } else {
            <img class="@_avatarClass @Class rounded-full block"
                 src="@_avatarPictureUrl" alt="avatar" title="@title"
                 @onclick="@Click"/>
        }

        <PresenceIndicator Presence="@Presence"/>
    </div>
</div>

@code {
    private string _avatarClass = "";
    private string _avatarPictureUrl = "";

    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size9;
    [Parameter] public Presence Presence { get; set; } = Presence.Unknown;
    [Parameter] public IAuthorLike Author { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasTooltip { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    protected override void OnParametersSet() {
        base.OnParametersSet();
        _avatarClass = GetSizeClass();
        if (Click.HasDelegate)
            _avatarClass += " cursor-pointer";
        _avatarPictureUrl = UrlMapper.ContentUrl(Author.Picture);
    }

    private string GetSizeClass() {
        var size = (int) Size;
        return $"pic-size-{size}";
    }
}
