@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Module
@implements IAsyncDisposable

<div class="ac-menu-container">
    <CascadingValue Value="@this" IsFixed="true">
        @foreach (var menu in _menus) {
            <div id="@menu.Id" @key="menu.Id" class="ac-menu @(menu.isHover ? "ac-menu-hover" : "" )">
                <ul class="ac-menu-list">
                    <DynamicComponent Type="@menu.Type" Parameters="@menu.Parameters"/>
                </ul>
            </div>
        }
    </CascadingValue>
</div>

@code {
    private List<Model> _menus = new();
    private IJSObjectReference _jsRef = null!;
    private DotNetObjectReference<ContextMenuEx> _blazorRef = null!;

    [Inject] private IJSRuntime JS { get; init; } = null!;

    [JSInvokable]
    public Task RenderMenu(string trigger, string id, bool isHover) {
        var parsed = MenuTrigger.Parse(trigger);
        var menuType = MenuUI.Get(parsed.MenuType);
        var parameters = parsed.Arguments is { Length:> 0}
            ? new Dictionary<string, object>() {
                { nameof(ContextMenuExBase.Id), id },
                { nameof(ContextMenuExBase.Arguments), parsed.Arguments },
            }
            : null;
        _menus.Add(new Model(id, menuType, parameters, isHover));
        StateHasChanged();
        return Task.CompletedTask;
    }

    [JSInvokable]
    public Task HideMenu(string id) {
        _menus.RemoveAll(x => x.Id == id);
        StateHasChanged();
        return Task.CompletedTask;
    }

    public async Task ShowMenu(ContextMenuExBase menu) {
        await _jsRef.InvokeVoidAsync("showMenu", menu.Id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _blazorRef = DotNetObjectReference.Create(this);
            var identifier = $"{BlazorUICoreModule.ImportName}.ContextMenu.create";
            _jsRef = await JS.InvokeAsync<IJSObjectReference>(
                identifier,
                _blazorRef);
        }
    }

    public async ValueTask DisposeAsync() {
        await _jsRef.DisposeSilentlyAsync("dispose");
        _jsRef = null!;
        _blazorRef.DisposeSilently();
        _blazorRef = null!;
    }

    private sealed record Model(string Id, Type Type, Dictionary<string, object>? Parameters, bool isHover);
}
