@using ActualChat.Chat.UI.Blazor.Module

<Form Model="@_formModel">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <FormBlock>
        <InputRadioGroup
            Name="theme"
            DisplayName="Theme"
            @bind-Value="_formModel.Theme">

            <TileItem>
                <Icon>
                    <FormRadio
                        Id="@_formModel.LightThemeFormId"
                        Value="@GetThemeKey(Theme.Light)"/>
                </Icon>
                <Content>
                    <Label InputId="@_formModel.LightThemeFormId" Text="Light"></Label>
                </Content>
            </TileItem>

            <TileItem>
                <Icon>
                    <FormRadio
                        Id="@_formModel.DarkThemeFormId"
                        Value="@GetThemeKey(Theme.Dark)"/>
                </Icon>
                <Content>
                    <Label InputId="@_formModel.DarkThemeFormId" Text="Dark"></Label>
                </Content>
            </TileItem>

            <TileItem>
                <Icon>
                    <FormRadio
                        Id="@_formModel.AshThemeFormId"
                        Value="@GetThemeKey(Theme.Ash)"/>
                </Icon>
                <Content>
                    <Label InputId="@_formModel.AshThemeFormId" Text="Ash"></Label>
                </Content>
            </TileItem>

            <TileItem>
                <Icon>
                    <FormRadio
                        Id="@_formModel.SystemThemeFormId"
                        Value="@GetThemeKey(null)"/>
                </Icon>
                <Content>
                    <Label InputId="@_formModel.SystemThemeFormId" Text="System"></Label>
                </Content>
            </TileItem>

        </InputRadioGroup>
    </FormBlock>
</Form>

@code {
    private FormModel _formModel = null!;

    [Inject] ThemeUI ThemeUI { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;

    protected override void OnInitialized() {
        _formModel = new (ComponentIdGenerator) {
            Theme = GetThemeKey(ThemeUI.State.Value.Theme),
        };
        _formModel.ThemeChanged += OnCurrentThemeChanged;
    }

    private void OnCurrentThemeChanged(string? theme)
        => ThemeUI.SetTheme(GetTheme(theme));

    private string GetThemeKey(Theme? theme)
        => theme?.ToString() ?? "";

    private Theme? GetTheme(string? themeKey)
        => !themeKey.IsNullOrEmpty() && Enum.TryParse<Theme>(themeKey, true, out var v) ? v : null;

    public sealed class FormModel {
        private string? _theme;

        private string FormId { get; }
        public string LightThemeFormId { get; }
        public string DarkThemeFormId { get; }
        public string AshThemeFormId { get; }
        public string SystemThemeFormId { get; }

        public string? Theme {
            get => _theme;
            set {
                if (_theme == value)
                    return;
                _theme = value;
                ThemeChanged?.Invoke(value);
            }
        }

        public event Action<string?>? ThemeChanged;

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("theme-form");
            LightThemeFormId = $"{FormId}-user-light-theme";
            DarkThemeFormId = $"{FormId}-user-dark-theme";
            AshThemeFormId = $"{FormId}-user-ash-theme";
            SystemThemeFormId = $"{FormId}-user-system-theme";
        }
    }
}
