@using ActualChat.Chat.UI.Blazor.Module

<TileTopic Topic="Theme"/>
<Tile Class="theme-tile">
    <ThemeSettings/>
</Tile>

<TileTopic Topic="Font"/>
<Tile>
    <div class="ui-settings">
        <Form Model="@_formModel">
            <DataAnnotationsValidator/>

            <FormBlock>
                <FormSection
                    For="() => _formModel.UserFontSizeFormId"
                    InputId="@_formModel.UserFontSizeFormId"
                    IsLabelInsideInput="true"
                    Label="Font size">
                    <InputSelect
                        Value="_formModel.UserFontSizeFormId"
                        ValueExpression="@(() => _fontSize)"
                        ValueChanged="@(async (string fontTitle) => await OnFontSizeChanged(fontTitle))">
                        @if (_fontSizes != null) {
                            foreach (var size in _fontSizes) {
                                if (size.Key == _fontSize) {
                                    <option selected value="@size.Key">@size.Key</option>
                                } else {
                                    <option value="@size.Key">@size.Key</option>
                                }
                            }
                        }
                    </InputSelect>
                </FormSection>
            </FormBlock>
        </Form>
    </div>
</Tile>

@code {
    private static readonly string JSFontSizesClassName = "window.FontSizes";
    private static readonly string JSFontSizeListMethod = $"{JSFontSizesClassName}.list";
    private static readonly string JSFontSizeGetMethod = $"{JSFontSizesClassName}.get";
    private static readonly string JSFontSizeSetMethod = $"{JSFontSizesClassName}.set";

    private FormModel _formModel = null!;
    private string? _fontSize;
    private Dictionary<string, string>? _fontSizes;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private AccountUI AccountUI { get; init; } = null!;
    [Inject] private IAvatars Avatars { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private ILogger<UserInterface> Log { get; init; } = null!;
    [Inject] private BubbleUI BubbleUI { get; init; } = null!;
    [Inject] private ToastUI ToastUI { get; init; } = null!;

    protected override void OnInitialized() {
        _formModel = new FormModel(ComponentIdGenerator);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _fontSizes = await JS.InvokeAsync<Dictionary<string, string>>(JSFontSizeListMethod);
            _fontSize = await JS.InvokeAsync<string>(JSFontSizeGetMethod);
            StateHasChanged();
        }
    }

    private async ValueTask OnFontSizeChanged(string fontSize) {
        await JS.InvokeAsync<string>(JSFontSizeSetMethod, fontSize);
        _fontSize = await JS.InvokeAsync<string>(JSFontSizeGetMethod);
        StateHasChanged();
    }

    public sealed class FormModel {
        private string FormId { get; }
        public string UserFontSizeFormId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("font-size-form");
            UserFontSizeFormId = $"{FormId}-user-font-size";
        }
    }
}
