@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components
@inherits FusionComponentBase

<div class="chat-audio-panel">
    <div class="playback-button"
         data-bubble="@(BubbleRef.New<ListenButtonBubble>())"
         data-bubble-priority="110"
         data-bubble-placement="@(FloatingPosition.TopEnd.ToPositionString())">
        <PlaybackToggle Chat="@Chat"/>
    </div>
    <div class="recorder-button">
        <div data-bubble="@(BubbleRef.New<RecordButtonBubble1>())"
             data-bubble-priority="101"
             data-bubble-placement="@(FloatingPosition.Top.ToPositionString())">
        </div>
        <div data-bubble="@(BubbleRef.New<RecordButtonBubble2>())"
             data-bubble-priority="102"
             data-bubble-placement="@(FloatingPosition.Top.ToPositionString())">
        </div>
        <div data-bubble="@(BubbleRef.New<RecordButtonBubble3>())"
             data-bubble-priority="103"
             data-bubble-placement="@(FloatingPosition.Top.ToPositionString())">
        </div>
        <RecorderToggle Chat="@Chat"/>
    </div>
    <div class="language-button"
         data-bubble="@(BubbleRef.New<VoiceSettingsButtonBubble>())"
         data-bubble-priority="120"
         data-bubble-placement="@(FloatingPosition.TopStart.ToPositionString())">
        <VoiceSettingsButton Chat="@Chat" />
    </div>
</div>

@code {
    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;
}
