@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<VoiceSettingsModal.Model>
@inherits ComputedStateComponent<VoiceSettingsModal.ComputedModel>
@{
    var m = State.Value;
    var status = !m.CanChangeMustStreamVoice ? "Disabled for anonymous users" : "";
}

<DialogFrame Title="Voice settings" Class="transcription-options-modal modal-sm" HasCloseButton="true">
    <Body>
    <FormBlock>
        <LanguageButtonGroup ChatSid="@ModalModel.ChatId" Click="@(() => Modal.Close())"/>

        <OptionsItem Status="@status">
            <Left><i class="icon-radio-button-on-fill text-2xl"></i></Left>
            <Title>Voice streaming</Title>
            <Right>
                <Toggle
                    IsDisabled="@(!m.CanChangeMustStreamVoice)"
                    IsChecked="@m.MustStreamVoice"
                    IsCheckedChanged="OnMustStreamVoiceChanged"/>
            </Right>
        </OptionsItem>
    </FormBlock>
    </Body>
</DialogFrame>

@code {
    private ChatVoiceSettings? _chatVoiceSettings;

    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private Session Session => Hub.Session();
    private ChatId ChatId => ModalModel.ChatId;
    private ChatVoiceSettings ChatVoiceSettings => _chatVoiceSettings ??= new(Hub.Services, Hub.AccountSettings());

    [CascadingParameter] public Modal Modal { get; set; } = null!;

    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => new() {
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
            InitialValue = new (false, false),
        };

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        var settings = await ChatVoiceSettings.Get(Session, ChatId, cancellationToken);
        var mustStreamVoice = settings.VoiceMode.HasVoice();
        return new (mustStreamVoice, settings.CanChange);
    }

    private async Task OnMustStreamVoiceChanged(bool mustStreamVoice) {
        var voiceMode = mustStreamVoice
            ? VoiceMode.TextAndVoice
            : VoiceMode.JustText;
        await ChatVoiceSettings.Set(Session, ChatId, voiceMode);
    }

    public sealed record ComputedModel(bool MustStreamVoice, bool CanChangeMustStreamVoice);

    public sealed record Model(ChatId ChatId);
}
