@using Stl.Extensibility
@inherits MarkupViewBase<UrlMarkup>
@attribute [MatchFor(typeof(UrlMarkup), typeof(IMarkupView))]

@if (!Markup.IsImage) {
    <a class="link-part-view cursor-pointer no-underline hover:underline text-cyan-600"
       href="@Markup.Url" target="_blank">@Markup.Url</a>
} else {
    <a class="image-part-view cursor-pointer" href="@Markup.Url" role="button"
       @onclick="OnClick" @onclick:preventDefault="true">
        <img style="max-width: 400px; max-height: 300px" src="@Markup.Url" alt="@Markup.Url"/>
    </a>
}

@code {
    [Inject] private ImagePreviewUI ImagePreviewUI { get; set; } = null!;

    private Task OnClick()
        => ImagePreviewUI.Show(Markup.Url);
}
