@inherits MarkupViewBase<UrlMarkup>
@{
    var cls = Classes.GetValueOrDefault(Markup.Kind) ?? "url-markup url-markup-unknown";
    var url = Markup.Url;
}

@if (_localUrl is { } localUrl) {
    <a class="@cls"
       href="@(_localUrl!.Value)"
       @onclick="@(() => _ = History.NavigateTo(localUrl))"
       @onclick:preventDefault="true"
       data-menu="@(MenuRef.New<MessageMenu>(_message.Entry.Id, bool.FalseString, Markup.Url, ""))">
        @url
    </a>
    return;
}

@if (Markup.Kind == UrlMarkupKind.Image) {
    <a class="@cls"
       href="@_hrefUrl"
       role="button"
       @onclick="() => VisualMediaViewerUI.Show(_hrefUrl)"
       @onclick:preventDefault="true">
        <img draggable="false" src="@_hrefUrl" alt="@url"/>
    </a>
    return;
}

<a class="@cls" href="@_hrefUrl" target="_blank"
   data-menu="@(MenuRef.New<MessageMenu>(_message.Entry.Id, bool.FalseString, url, ""))">
    @url
</a>

@code {
    private static readonly Dictionary<UrlMarkupKind, string> Classes = new[] {
        UrlMarkupKind.Www,
        UrlMarkupKind.Image,
        UrlMarkupKind.Email,
    }.ToDictionary(x => x, x => $"url-markup url-markup-{x.ToString().ToLowerInvariant()}");

    private LocalUrl? _localUrl;
    private string _hrefUrl = "";
    private ChatMessage _message = null!;

    [Inject] private VisualMediaViewerUI VisualMediaViewerUI { get; init; } = null!;
    [Inject] private History History { get; init; } = null!;

    protected override void OnParametersSet() {
        _message = new ChatMessage(Entry);
        var url = Markup.Url;
        _hrefUrl = url;
        _localUrl = null;
        switch (Markup.Kind) {
        case UrlMarkupKind.Www:
            var url2 = url.EnsureSuffix("/");
            if (url2.OrdinalStartsWith(History.Nav.BaseUri))
                _localUrl = new LocalUrl(History.Nav.ToBaseRelativePath(url2));
            else if (url2.OrdinalStartsWith(History.UrlMapper.BaseUrl))
                _localUrl = new LocalUrl(History.UrlMapper.ToBaseRelativePath(url2));
            break;
        case UrlMarkupKind.Email:
            _hrefUrl = url.OrdinalStartsWith("mailto:") ? url : "mailto:" + url;
            break;
        }
    }
}
