@inherits LayoutComponentBase
@using ActualChat.UI.Blazor.Services
@using ActualChat.UI.Blazor.Module
@using ActualChat.Hosting
@implements IDisposable
@{
    var failures = UIActionFailureTracker.Items;
}

<div class="base-layout">
    <div class="base-layout-body">
        <div class="c-layout-content">
            @if (failures.Count != 0) {
                <div class="error-container custom-scrollbar">
                    <div class="c-content">
                        @foreach (var failure in failures) {
                            <Error @key="@failure"
                                   Title="Action failed!"
                                   Dismissed="@(_ => UIActionFailureTracker.Remove(failure))">
                                @failure.Error!.Message
                            </Error>
                        }
                    </div>
                </div>
            }
            <NoComponent @key="@BodyKey">
                <ErrorBarrier>@Body</ErrorBarrier>
            </NoComponent>
        </div>
    </div>
</div>

@code {
    private static readonly object BodyKey = new();

    [Inject] private UIActionFailureTracker UIActionFailureTracker { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;
    [Inject] private HostInfo HostInfo { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override void OnInitialized() {
        Nav.LocationChanged += OnLocationChanged;
        UIActionFailureTracker.Changed += OnCommandFailureListChanged;
    }

    protected override async Task OnInitializedAsync() {
        if (BlazorModeHelper.IsBlazorServer)
            await JS.InvokeVoidAsync($"{BlazorUICoreModule.ImportName}.reloadOnDeviceAwake").ConfigureAwait(false);
    }

    public void Dispose() {
        Nav.LocationChanged -= OnLocationChanged;
        UIActionFailureTracker.Changed -= OnCommandFailureListChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
        UIActionFailureTracker.Clear();
        StateHasChanged();
    }

    private void OnCommandFailureListChanged()
        => InvokeAsync(StateHasChanged);
}
