@inherits ComputedStateComponent<RecordingSubHeader.Model>
@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Services
@using ActualChat.MediaPlayback
@{
    var m = State.Value;
    if (ReferenceEquals(m, Model.NotRecording))
        return;

    var recordingElsewhereCls = m.RecordingChat != null ? "recording-elsewhere" : "";
}

<div class="recording-sub-header @recordingElsewhereCls">
    <div class="c-round-container">
        @if (m.RecordingChat != null) {
            <div class="c-round"></div>
        } else {
            <i class="icon-alert-triangle text-banner-warning"></i>
        }
    </div>

    <div class="c-container">
        @if (m.RecordingChat != null) {
            <div class="c-line-1">
                <div class="c-text">
                    Recording in
                </div>
                <a class="c-text highlight" href="@m.RecordingChatUrl">@m.RecordingChat.Title</a>
                <div class="c-text">chat!</div>
            </div>
        }

        @if (m.StopRecordingAt != null) {
            <div class="c-line-2 flex-none pr-4">
                <div class="c-text">Recording will stop in </div>
                <Countdown EndsAt="@m.StopRecordingAt.Value" Class="c-text highlight"/>
            </div>
        }
    </div>

    <Button
        Class="btn-transparent unhovered recording-in-chat on"
        Click="@(_ => ChatAudioUI.SetRecordingChatId(default))"
        Tooltip="Stop recording"
        TooltipPosition="FloatingPosition.Top">
        Stop
    </Button>
</div>

@code {
    [Inject] private ChatUIHub Hub { get; set; } = null!;
    private Session Session => Hub.Session();
    private IAccounts Accounts => Hub.Accounts;
    private IChats Chats => Hub.Chats;
    private IAuthors Authors => Hub.Authors;
    private ChatUI ChatUI => Hub.ChatUI;
    private ChatAudioUI ChatAudioUI => Hub.ChatAudioUI;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.NotRecording,
            UpdateDelayer = FixedDelayer.Zero,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var recordingChat = await GetRecordingElsewhereChat(cancellationToken);
        var stopRecordingAt = await ChatAudioUI.StopRecordingAt.Use(cancellationToken);
        if (recordingChat == null && stopRecordingAt == null)
            return Model.NotRecording;

        return new Model {
            RecordingChat = recordingChat,
            RecordingChatUrl = recordingChat != null ? Links.Chat(recordingChat.Id) : "",
            StopRecordingAt = stopRecordingAt,
        };
    }

    private async Task<Chat?> GetRecordingElsewhereChat(CancellationToken cancellationToken)
    {
        var recordingChatId = await ChatAudioUI.GetRecordingChatId();
        if (recordingChatId.IsNone)
            return null;

        var selectedChatId = await ChatUI.SelectedChatId.Use(cancellationToken);
        if (selectedChatId == recordingChatId)
            return null;

        return await Chats.Get(Session, recordingChatId, cancellationToken).ConfigureAwait(false);
    }

    private void OnStop()
        => _ = ChatAudioUI.SetRecordingChatId(default);

    // Nested types

    public sealed record Model {
        public static readonly Model NotRecording = new();

        public Chat? RecordingChat { get; init; }
        public string? RecordingChatUrl { get; init; }
        public Moment? StopRecordingAt { get; init; }
    }
}
