@using ActualChat.UI.Blazor.Components.Internal
@namespace ActualChat.UI.Blazor.Components
@{
    var cls = Ref.Options.OverlayClass;
    if (!Class.IsNullOrEmpty())
        cls += " " + Class;
}
<div
    id="@Ref.Id.Value"
    class="@cls"
    @onclick="OnBackgroundClick">

    <FocusTrap @ref="@_focusTrap" IsActive="@(Ref.Options.UseFocusTrap ?? false)">
        <div class="@Ref.Options.Class" role="dialog" aria-modal="true" @onclick:stopPropagation="true">
            <div class="modal-content">
                <ErrorBarrier Name="Modal">
                    <CascadingValue Value="this">
                        @Ref.ChildContent
                    </CascadingValue>
                </ErrorBarrier>
            </div>
        </div>
    </FocusTrap>

</div>
