@page "/chat"
@page "/chat/{ChatId}"
@namespace ActualChat.Chat.UI.Blazor.Pages
@using ActualChat.Comparison
@inherits ComputedStateComponent<ChatPageModel>
@inject NavigationManager _nav

@{
    var error = State.Error;
    var model = State.LatestNonErrorValue;
    if (model.IsUnavailable)
        _nav.Unavailable("chat");
    if (model.MustLogin)
        _nav.Login("to view this chat");
    var chat = model.Chat ?? new Chat();
}
<div class="chat-page h-full w-full flex flex-col flex-nowrap justify-between overflow-y-auto">
    <div class="header flex flex-row justify-between mt-0 font-medium bg-gray-800 text-gray-200 p-3 select-none">
        <div class="opacity-75 hover:opacity-100">
            @("#" + chat.Title.NullIfEmpty() ?? "Loading...")
        </div>
        <div class="mr-2">
            <WhenError Error="@error"/>
        </div>
    </div>
    <div class="content flex-1 flex flex-col overflow-y-auto bg-white p-3">
        <VirtualList
            SpacerSize="6000" LoadZoneSize="2000" BufferZoneSize="4000"
            Provider="GetMessages"
            KeyComparer="LongAsStringKeyComparer.Default">
            <Item>
                <ChatMessage Entry="@context.Value" OnListen="@OnListen"/>
            </Item>
            <SkeletonTemplate>
                <div class="flex items-start mb-4 text-sm opacity-75 hover:opacity-100 animate-pulse">
                    <div class="block bg-gray-200 w-10 h-10 rounded-full mr-3"></div>
                    <div class="flex-1 overflow-hidden">
                        <div class="flex flex-row">
                            <div class="font-bold bg-gray-200 rounded-md border-white border-2 w-32 h-4"></div>
                            <div class="bg-gray-200 w-10 h-4 rounded-md border-white border-2"></div>
                        </div>
                        <div class="leading-normal bg-gray-200 block h-4 rounded-md border-white border-2" style="width: 30%;"></div>
                    </div>
                </div>
            </SkeletonTemplate>
        </VirtualList>
    </div>
    <div class="footer flex sticky m-0">
        <ChatMessageEditor ChatId="@chat.Id" RealtimePlayer="RealtimePlayer"/>
    </div>
</div>

@code {

    [Parameter]
    public string ChatId { get; set; } = "";

    private void OnListen(ChatEntry entry)
    {
        _ = PlayHistoricalMediaTrack(entry);
        StateHasChanged();
    }

}
