@namespace ActualChat.UI.Blazor.Components

@if (IsTitleVisible && !IsIconVisible) {
    <button @onclick="OnItemClick" class="dropdown-menu-item @GetCss()" name="@Name">
        @Title
    </button>
} else if (IsTitleVisible && IsIconVisible && !string.IsNullOrWhiteSpace(Icon)) {
    <button @onclick="OnItemClick" class="dropdown-menu-item @GetCss()" name="@Name">
        <div class="flex flex-1 float-left">@Title</div>
        <div class="flex float-right mr-1">
            @((MarkupString)Icon)
        </div>
    </button>
}

@code {
    [Parameter]
    public EventCallback OnItemClick { get; set; }
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string? Icon { get; set; } = "";
    [Parameter]
    public bool IsTitleVisible { get; set; } = true;
    [Parameter]
    public bool IsIconVisible { get; set; }
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public string Name { get; set; } = "";
    [CascadingParameter]
    public DropdownMenu? Menu { get; set; }

    private string GetCss()
        => $"{Class} {Menu?.ItemClass}";
}
