@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Module

<div class="dropdown-menu @CssClasses @MenuStatus()" name="@Name">
    <div class="menu-body relative @(IsOpen ? "" : "hidden")">
        <div class="py-1 select-none p-1 flex @MenuDirection()">
            <div>@ChildContent</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsOpen { get; set; }
    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }
    [Parameter]
    public string CssClasses { get; set; } = "";
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string Icon { get; set; } = "";
    [Parameter]
    public bool IsHorizontal { get; set; }
    [Parameter]
    public string Name { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool ItemsTitleVisible { get; set; } = true;
    private bool ItemsIconVisible { get; set; }

    private string MenuStatus()
        => IsOpen ? "menu-opened" : "menu-closed";

    private string MenuDirection()
        => !IsHorizontal ? "flex-col" : "flex-row";
    }
}
