@namespace ActualChat.Chat.UI.Blazor.Components
@using Stl.Extensibility
@using System.ComponentModel.DataAnnotations
@using ActualChat.Invite
@implements IModalView<ChatSettingsModal.Model>
@inherits ComputedStateComponent<ChatSettingsModal.ComputedModel>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]
@{
    var m = State.Value;
}

<Form @ref="@_formRef" Model="@_form" OnSubmit="@OnSave">
    <DialogFrame Title="Edit chat settings" Class="edit-chat-settings-modal">
        <Body>
        <div class="flex-y text-03 p-3">
            @if (m.Rules != null) {
                @if (m.Rules.CanEditProperties()) {
                    <DataAnnotationsValidator/>

                    <div class="pb-2 mb-4 border-b border-bg-03">
                        <FormSection For="() => ModalModel.Chat">
                            <ChatMuteToggle Chat="@ModalModel.Chat" />
                        </FormSection>
                    </div>

                    <PicUpload
                        ImageUploadUrl="@_form.ImageUploadUrl"
                        ImagePicked="OnImagePicked"
                        Size="SquareSize.Size20"
                        Title="@_form.Title"
                        ContentId="@_form.Picture">
                    </PicUpload>

                    <FormSection For="() => _form.Title" Label="Chat title" InputId="@_form.TitleId" IsRequired="true">
                        <TextBox @bind-Value="@_form.Title" id="@_form.TitleId" Autofocus="true" Class="right-panel-input"/>
                    </FormSection>

                    <FormSection For="() => _form.IsPublic" Class="flex h-12 md:h-8 justify-center">
                        <ToggleEdit Id="@_form.IsPublicId" Label="Public chat &ndash; anyone can join" @bind-Value="_form.IsPublic"/>
                    </FormSection>
                }
                @if (_form.IsPublic) {
                    @if (m.Link is { } publicUrl) {
                        <h4 class="section">Public join link</h4>
                        <CopyToClipboard Text="@publicUrl.ShortLocalUrl" CopyText="@publicUrl.AbsoluteUrl"/>
                    }
                } else {
                    @if (m.Rules.CanInvite()) {
                        <h4 class="section">Private join links</h4>
                        @if (m.Invites.Length > 0) {
                            <InviteList Invites="m.Invites" LinkFormat="join/{0}"/>
                        }
                        <div class="@(new FlexMode(FlexAlignment.End)) mt-2">
                            <Button Click="OnNewInviteClick" Class="btn-primary">New private invite link</Button>
                        </div>
                    }
                }
            }
        </div>
        </Body>
        <Buttons>
            <div class="btn-group">
                @{
                    var submitClass = $"btn-primary {(_formRef.IsValid ? "" : "disabled")}";
                }
                <Button Type="@ButtonType.Button" Class="btn-secondary" Click="OnCancel">Cancel</Button>
                <Button Type="@ButtonType.Submit" Class="@submitClass">Save</Button>
            </div>
        </Buttons>
    </DialogFrame>
</Form>

@code {
    private Form _formRef = null!;
    private FormModel _form = null!;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private IInvites Invites { get; init; } = null!;
    [Inject] private ComponentIdGenerator ComponentIdGenerator { get; init; } = null!;
    [Inject] private ImageViewerUI ImageViewerUI { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private DiffEngine DiffEngine { get; init; } = null!;
    [Inject] private MomentClockSet Clocks { get; init; } = null!;

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => new() {
            InitialValue = ComputedModel.None,
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task OnParametersSetAsync() {
        var chat = await Chats.Get(Session, ModalModel.Chat.Id, default).Require();
        _form ??= new(ComponentIdGenerator);
        _form.Title = chat.Title;
        _form.Picture = chat.Picture;
        _form.IsPublic = chat.IsPublic;
        _form.ImageUploadUrl = $"/api/chats/{chat.Id}/upload-picture";
    }

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        var rules = await Chats.GetRules(Session, ModalModel.Chat.Id, cancellationToken);
        var invites = await Invites.ListChatInvites(Session, ModalModel.Chat.Id, cancellationToken);
        var threshold = Clocks.SystemClock.Now - TimeSpan.FromDays(3);
        invites = invites
            .Where(c => c.ExpiresOn > threshold)
            .OrderByDescending(c => c.ExpiresOn)
            .ToImmutableArray();
        var link = Links.Chat(ModalModel.Chat.Id).ToDisplayUrl(UrlMapper);
        return new() {
            Rules = rules,
            Link = link,
            Invites = invites,
        };
    }

    private void OnCancel()
        => _ = ModalInstance.CloseAsync();

    private async Task OnSave() {
        var chat = await Chats.Get(Session, ModalModel.Chat.Id, default).Require();
        var newChat = chat with {
            Title = _form.Title,
            IsPublic = _form.IsPublic,
            Picture = _form.Picture,
        };
        var command = new IChats.ChangeCommand(Session, chat.Id, chat.Version, new() {
            Update = DiffEngine.Diff<Chat, ChatDiff>(chat, newChat),
        });
        await UICommander.Run(command);
        await ModalInstance.CloseAsync();
    }

    private void OnImagePicked(string contentId) {
        _form.Picture = contentId;
        StateHasChanged();
    }

    private async Task OnNewInviteClick() {
        var invite = new Invite {
            Remaining = 10, // TODO: make it configurable
            Details = new ChatInviteOption(ModalModel.Chat.Id),
        };
        _ = await UICommander.Run(new IInvites.GenerateCommand(Session, invite));
    }

    public sealed class FormModel
    {
        [Required, MinLength(1)]
        public string Title { get; set; } = "";
        public string Picture { get; set; } = "";
        public bool IsPublic { get; set; }
        public string ImageUploadUrl { get; set; } = "";

        public string FormId { get; }
        public string TitleId { get; }
        public string PictureId { get; }
        public string IsPublicId { get; }

        public FormModel(ComponentIdGenerator componentIdGenerator) {
            FormId = componentIdGenerator.Next("new-chat-form");
            TitleId = $"{FormId}-title";
            PictureId = $"{FormId}-picture";
            IsPublicId = $"{FormId}-is-public";
        }
    }

    public sealed record ComputedModel {
        public static ComputedModel None { get; } = new();

        public AuthorRules? Rules { get; init; }
        public DisplayUrl? Link { get; init; }
        public ImmutableArray<Invite> Invites { get; init; } = ImmutableArray.Create<Invite>();
    }

    public sealed record Model(Chat Chat);
}
