@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Components.SideNav
@inherits ComputedStateComponent<ChatRightPanel.Model>
@{
    var m = State.Value;
    if (ReferenceEquals(m, Model.Loading))
        return;
}

<SideNav
    Side="SideNavSide.Right"
    IsOpen="@m.IsVisible"
    VisibilityChanged="@(NoStateHasChanged.EventCallback<bool>(isOpen => PanelsUI.Right.SetIsVisible(isOpen)))">
    <div class="right-chat-panel">
        <ErrorBarrier Name="RightPanelContent" Kind="@ErrorBarrierKind.Full">
        @if (m.RenderContent) {
            @if (m.ShowSearchPanel) {
                <AISearchPanel ChatContext="@ChatContext"/>
            }
            <RightPanelHeader ChatContext="@ChatContext" ShareModel="@m.ShareModel"/>
            <div class="c-panel-content">
                <RightPanelChatInfo ChatContext="@ChatContext"/>
                <div class="c-panel-tabs">
                    @if (m.ShowTabs) {
                        <TabPanel
                            @key="@Chat.Id.Value"
                            TabsClass="left-panel-tabs wide-left-panel-tabs"
                            BottomHill="true">

                            @if (m.ShowMembersTab) {
                                <Tab @key="@("members")" Id="members" Title="Members" Order="0">
                                    <AuthorList ChatContext="@ChatContext"/>
                                </Tab>
                            }
                            @if (m.EnableIncompleteUI) {
                                <Tab @key="@("media")" Id="media" Title="Media" Order="1">
                                    <ToBeDone/>
                                </Tab>
                                <Tab @key="@("files")" Id="files" Title="Files" Order="2">
                                    <ToBeDone/>
                                </Tab>
                                <Tab @key="@("links")" Id="links" Title="Links" Order="3">
                                    <ToBeDone/>
                                </Tab>
                            }
                        </TabPanel>
                    }
                </div>
            </div>
        }
        </ErrorBarrier>
    </div>
</SideNav>

@code {
    private Session Session => ChatContext.Hub.Session();
    private Chat Chat => ChatContext.Chat;
    private IChats Chats => ChatContext.Hub.Chats;
    private Features Features => ChatContext.Hub.Features();
    private PanelsUI PanelsUI => ChatContext.Hub.PanelsUI;
    private ShareUI ShareUI => ChatContext.Hub.ShareUI;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.Loading,
            UpdateDelayer = FixedDelayer.MinDelay,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var isVisible = await PanelsUI.Right.IsVisible.Use(cancellationToken);
        var enableIncompleteUI = await Features.Get<Features_EnableIncompleteUI, bool>(cancellationToken);
        var rules = await Chats.GetRules(Session, Chat.Id, cancellationToken);
        var showMemberTab = rules.CanSeeMembers();
        var shareModel = await ShareUI.GetModel(Chat.Id, cancellationToken);
        var showSearchPanel = await ChatContext.Hub.PanelsUI.Right.IsSearchMode.Use(cancellationToken);
        if (showSearchPanel && !isVisible) {
            ChatContext.Hub.PanelsUI.Right.SetIsVisible(true);
        }
        return new () {
            IsVisible = isVisible,
            RenderContent = true,
            EnableIncompleteUI = enableIncompleteUI,
            ShowMembersTab = showMemberTab,
            ShareModel = shareModel,
            ShowSearchPanel = showSearchPanel && enableIncompleteUI,
        };
    }

    // Nested types

    public sealed record Model {
        public static readonly Model Loading = new();

        public bool IsVisible { get; init; }
        public bool RenderContent { get; init; }
        public bool EnableIncompleteUI { get; init; }
        public bool ShowTabs => ShowMembersTab || EnableIncompleteUI;
        public bool ShowMembersTab { get; init; }
        public bool ShowSearchPanel { get; init; }
        public ShareModalModel? ShareModel { get; init; }
    }
}
