@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Notification
@inherits ComputedStateComponent<RightPanelChatInfo.Model>
@{
    var m = State.Value;
    if (m.Title == null)
        return;
    var isPublicGroupChat = Chat is { Kind: ChatKind.Group, IsPublic: true };
}

<div class="c-chat-info">
    <RightPanelChatInfoItem
        Content="@m.Title"
        Hint="@(isPublicGroupChat ? "Public" : "Private")">
        <Icon>
            <ChatIcon Chat="Chat" Size="SquareSize.Size16"/>
        </Icon>
    </RightPanelChatInfoItem>

    <RightPanelChatInfoItem
        Click="@(_ => OnValueChanged(m.NotificationMode != ChatNotificationMode.Muted))"
        Content="Notifications"
        Hint="@(m.NotificationMode != ChatNotificationMode.Muted ? "On" : "Off")">
        <Icon>
            <i class="text-2xl text-icons-03 icon-bell"></i>
        </Icon>
        <Right>
            <Toggle Class="mr-2" IsChecked="@(m.NotificationMode != ChatNotificationMode.Muted)"/>
        </Right>
    </RightPanelChatInfoItem>

    @if (m.Link is { } publicUrl) {
        <RightPanelChatInfoItem
            Click="@(() => OnShareClick(publicUrl.AbsoluteUrl))"
            ContentClass="text-accent"
            Content="Share">
            <Icon>
                <i class="text-2xl icon-share text-accent"></i>
            </Icon>
        </RightPanelChatInfoItem>
    }

    @if (m.Rules.CanInvite()) {
        <RightPanelChatInfoItem
            Click="@OnInviteClick"
            ContentClass="text-accent"
            Content="Add members">
            <Icon>
                <i class="text-2xl icon-person text-accent"></i>
            </Icon>
        </RightPanelChatInfoItem>
    }
</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private AccountSettings AccountSettings { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IRoles Roles { get; init; } = null!;
    [Inject] private VisualMediaViewerUI VisualMediaViewerUI { get; init; } = null!;
    [Inject] private ClipboardUI ClipboardUI { get; init; } = null!;
    [Inject] private AuthorUI AuthorUI { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    private ModalUI ModalUI => Services.GetRequiredService<ModalUI>();
    private ShareUI ShareUI => Services.GetRequiredService<ShareUI>();

    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var rules = await Chats.GetRules(Session, Chat.Id, default);
        var link = await GetLink(cancellationToken);
        var userChatSettings = await AccountSettings.GetUserChatSettings(Chat.Id, cancellationToken);
        return new() {
            Title = Chat.Title,
            Link = link?.ToDisplayUrl(UrlMapper),
            NotificationMode = userChatSettings.NotificationMode,
            Rules = rules,
        };
    }

    private async Task<LocalUrl?> GetLink(CancellationToken cancellationToken) {
        var account = await Accounts.GetOwn(Session, cancellationToken);
        if (Chat.Id.IsPeerChat(out var peerChatId)) {
            var otherUserId = peerChatId.UserIds.OtherThan(account.Id);
            return Links.User(otherUserId);
        }

        return Chat.IsPublic ? Links.Chat(Chat.Id) : (LocalUrl?)null;
    }

    private Task OnValueChanged(bool isMuted)
        => UICommander.RunLocal(async cancellationToken => {
            var userChatSettings = await AccountSettings.GetUserChatSettings(Chat.Id, cancellationToken).ConfigureAwait(false);
            userChatSettings = userChatSettings with {
                NotificationMode = isMuted ? ChatNotificationMode.Muted : ChatNotificationMode.Default,
                };
            await AccountSettings.SetUserChatSettings(Chat.Id, userChatSettings, cancellationToken).ConfigureAwait(false);
        });

    private Task OnInviteClick()
        => ModalUI.Show(new AddMemberModal.Model(Chat.Id));

    private void OnShareClick(string link)
        => ShareUI.ShareLink(link, "Share chat", $"\"{Chat.Title}\" on Actual Chat");

    public sealed record Model {
        public static Model None { get; } = new();

        public string? Title { get; init; }
        public DisplayUrl? Link { get; init; }
        public ChatNotificationMode NotificationMode { get; init; }
        public AuthorRules Rules { get; init; } = null!;
    }
}
