@namespace ActualChat.Chat.UI.Blazor.Components

<TabPanel
    @key="@Chat.Id.Value"
    TabsClass="search-panel-tabs"
    BottomHill="true">

    <Tab @key="@("chat")" Id="chat" Order="0">
        <TitleContent>
            <i class="icon-message-ellipse"></i>
            <span>Chat</span>
        </TitleContent>
        <ChildContent>
            <ToBeDone/>
        </ChildContent>
    </Tab>

    <Tab @key="@("tags")" Id="tags" Order="1">
        <TitleContent>
            <i class="icon-hash-fill"></i>
            <span>Tags</span>
        </TitleContent>
        <ChildContent>
            <ToBeDone/>
        </ChildContent>
    </Tab>

    <Tab @key="@("contacts")" Id="contacts" Order="2">
        <TitleContent>
            <i class="icon-person"></i>
            <span>Contacts</span>
        </TitleContent>
        <ChildContent>
            <ToBeDone/>
        </ChildContent>
    </Tab>

    <Tab @key="@("date")" Id="date" Order="3">
        <TitleContent>
            <i class="icon-calendar"></i>
            <span>Date</span>
        </TitleContent>
        <ChildContent>
            <ToBeDone/>
        </ChildContent>
    </Tab>
</TabPanel>

@code {
    private Chat Chat => ChatContext.Chat;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
}
