@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Notification
@using ActualChat.Invite
@using ActualChat.Kvas
@inherits ComputedStateComponent<RightPanelChatInfo.Model>
@{
    var m = State.Value;
    if (ReferenceEquals(m, Model.Loading))
        return;

    var isPublicGroupChat = Chat is { Kind: ChatKind.Group, IsPublic: true };
}

<div class="c-chat-info">
    <RightPanelChatInfoItem
        Content="@Chat.Title"
        Hint="@(isPublicGroupChat ? "Public" : "Private")">
        <Icon>
            <ChatIcon Chat="Chat" Size="SquareSize.Size16"/>
        </Icon>
    </RightPanelChatInfoItem>

    @if (!m.HideNotificationsToggle) {
        <RightPanelChatInfoItem
            Click="@(_ => OnValueChanged(m.NotificationMode != ChatNotificationMode.Muted))"
            Content="Notifications"
            Hint="@(m.NotificationMode != ChatNotificationMode.Muted ? "On" : "Off")">
            <Icon>
                <i class="text-2xl text-03 icon-bell"></i>
            </Icon>
            <Right>
                <Toggle Class="mr-2" IsChecked="@(m.NotificationMode != ChatNotificationMode.Muted)"/>
            </Right>
        </RightPanelChatInfoItem>
    }

    @if (m.ShareModel is { } shareModel) {
        <RightPanelChatInfoItem
            Click="@(() => OnShareClick(shareModel))"
            ContentClass="text-primary"
            Content="Share">
            <Icon>
                <i class="text-2xl icon-share text-primary"></i>
            </Icon>
        </RightPanelChatInfoItem>
    }

    @if (Chat.CanInvite()) {
        <RightPanelChatInfoItem
            Click="@OnInviteClick"
            ContentClass="text-primary"
            Content="Add members">
            <Icon>
                <i class="text-2xl icon-person-add text-primary"></i>
            </Icon>
        </RightPanelChatInfoItem>
    }
</div>

@code {
    private Session Session => ChatContext.Session;
    private Chat Chat => ChatContext.Chat;
    private IChats Chats => ChatContext.Chats;
    private IInvites Invites => ChatContext.Invites;
    private IAccounts Accounts => ChatContext.Accounts;
    private AccountSettings AccountSettings => ChatContext.AccountSettings();
    private ShareUI ShareUI => ChatContext.ShareUI;
    private ModalUI ModalUI => ChatContext.ModalUI;
    private UICommander UICommander => ChatContext.UICommander();

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.Loading,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var userChatSettings = await AccountSettings.GetUserChatSettings(Chat.Id, cancellationToken);
        var shareModel = await ShareUI.GetModel(Chat.Id, cancellationToken);
        return new() {
            ShareModel = shareModel,
            NotificationMode = userChatSettings.NotificationMode,
            HideNotificationsToggle = Chat.HasSingleAuthor,
        };
    }

    private Task OnValueChanged(bool isMuted)
        => UICommander.RunLocal(async cancellationToken => {
            var userChatSettings = await AccountSettings.GetUserChatSettings(Chat.Id, cancellationToken).ConfigureAwait(false);
            userChatSettings = userChatSettings with {
                NotificationMode = isMuted ? ChatNotificationMode.Muted : ChatNotificationMode.Default,
            };
            await AccountSettings.SetUserChatSettings(Chat.Id, userChatSettings, cancellationToken).ConfigureAwait(false);
        });

    private Task OnInviteClick()
        => ModalUI.Show(new AddMemberModal.Model(Chat.Id));

    private void OnShareClick(ShareModalModel shareModel)
        => ShareUI.Share(shareModel);

    public sealed record Model {
        public static readonly Model Loading = new();

        public ShareModalModel? ShareModel { get; init; }
        public ChatNotificationMode NotificationMode { get; init; }
        public bool HideNotificationsToggle { get; init; }
    }
}
