@namespace ActualChat.Chat.UI.Blazor.Components

@{
    RenderFragment RenderContent() =>
        @<div class="right-panel-chat-info-item @Class">
            <div class="c-icon">
                @Icon
            </div>
            <div class="c-content">
                <div class="@ContentClass c-text">
                    @Content
                </div>
                @if (Hint != null) {
                    <div class="c-hint">
                        @Hint
                    </div>
                }
            </div>
            @if (Right != null) {
                <div class="c-right">
                    @Right
                </div>
            }
        </div>;

    RenderFragment RenderContentWithPointer() =>
        @<div class="right-panel-chat-info-item hovered @Class"
              @onclick="@Click"
              @onclick:preventDefault="true">
            <div class="c-icon">
                @Icon
            </div>
            <div class="c-content">
                <div class="@ContentClass c-text">
                    @Content
                </div>
                @if (Hint != null) {
                    <div class="c-hint">
                        @Hint
                    </div>
                }
            </div>
            @if (Right != null) {
                <div class="c-right">
                    @Right
                </div>
            }
        </div>;
}

@if (Click.HasDelegate) {
    @RenderContentWithPointer()
} else {
    @RenderContent()
}

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public EventCallback Click { get; set; }
    [Parameter] public string Content { get; set; } = "";
    [Parameter] public string ContentClass { get; set; } = "text-01";
    [Parameter] public string? Hint { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public RenderFragment? Right { get; set; }
}
